<!-- <div class="searchload" *ngIf="loaderb2b"> 
<img src="assets/images/search-loader.gif">
</div> -->

<style>
    ::ng-deep .mat-form-field-label{color: #000!important;}
    ::ng-deep .mat-input-element{color: #000!important;}
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{background-color:#fff!important;}
    /* ::ng-deep .mat-error{color: #aca2a2!important;} */
    /* ::ng-deep input.mat-input-element{padding: 10px!important;} */
    .cmny_dtls{background-image: url("assets/images/ext_bg.svg"); background-repeat: no-repeat;background-position: center; background-size: cover;}
    
    </style>
    
    <div class="h-100" >
        <div class="no-gutters">
            <app-home-page-header></app-home-page-header>
            <div class="login-banner-slider w-100">
                <div class="banner-bg ">
                    <div class="">
                        <div class="banner-slider">
                            <div class="banner-section">
                                <img src="assets/images/banner_bg_agent.png">
                            </div>
                            <!-- <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel"
                                [config]="slideConfig2">
                                <div ngxSlickItem *ngFor="let slidertext of imageData">
                                    <div class="banner-section">
                                        <img src="{{sliderUri+slidertext.image}}">
                                    </div>
                                </div>
                            </ngx-slick-carousel> -->
                        </div>
                        <div class="container">
                            <div class="d-flex">
                                <!-- <div class="cms_title">  
                                                              <h3>A B2B Travel Portal Built 
                                                                  Exclusively for 
                                                                  Our Travel Partners</h3>
                                                              <h3>{{slidertext.title}}</h3>
                                                              <p>
                                                                  {{slidertext.description}}
                                                              </p>
                                                              </div> -->
                        
                                <div class="login-form">
                                    <div class="login-container">
                                        <div class="login-title">
                                            <alert></alert>
                                            <!-- <p>Agent Login </p> -->
                                        </div>
                                        <!-- <div class="login-sub-header">
                                                                          <h3>Login Now</h3>
                                                                          <img src="assets/images/login-images/user-circle.svg" alt="logo" />
                                                                      </div> -->
                                        <div class="login-content">
                                            <div class="row">
                                                <div class="col-sm-12 mb-3 mt-2 d-flex justify-content-center row">
                                                    <div class="col-12 d-flex justify-content-center">
                                                        <span class="f-18">
                                                            Select your Contract Type
                                                        </span>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-center">
                                                        <span class="f-18 f-16">(Please, Select services you wish to provide on Booking247 system)</span>
                                                    </div>
                                                </div>
                        
                                                <div class="col-sm-12 d-flex justify-content-center">
                                                    <!-- <form autocomplete="off" class="needs-validation" [formGroup]="selectRegisterForm"
                                                        novalidate> -->
                                                        <div class="row d-flex justify-content-center">
                                                            <div class="col-2 col-lg-2 supplier-buttons-dhc mr-5" [ngClass]="{'disabled-btn  disabled-btn-span':disableDMC}">
                                                                    <label class="contract-lable">Direct Hotel Contract</label>
                                                                    <label class="form-check-label mb-2" >
                                                                        <a class="c-pointer">
                                                                            <button type="button" class="btn supplier dmc-type-select" (click)="onSupplierSelect('DHC')"  [ngClass]="{'active-btn': dhcSelect,'disabled-btn':disableDMC}"
                                                                                > Direct Hotel contract</button>
                                                                        </a>
                                                                    </label>
                                                            </div>
                                                            <div class="col-9 col-lg-9 row supplier-buttons-dhc p-0"  [ngClass]="{'disabled-btn disabled-btn-span':disableDHC}">
                                                                <span class="col-12 contract-lable">DMC (Destination Management Company)</span>
                                                                <div class="col-sm-2 col-lg-3 ">
                                                                    <label class="form-check-label" >
                                                                        <button type="button" (click)="onSupplierSelect('DMC')" class="btn supplier c-pointer dmc-type-select"  [ngClass]="{'active-btn': dmcSelect,'disabled-btn':disableDHC}"
                                                                            >
                                                                            Hotel Supplier
                                                                        </button>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-2 col-lg-3 supplier-buttons">
                                                                    <label class="form-check-label" >
                                                                        <a class="c-pointer">
                                                                            <button type="button" class="btn supplier dmc-type-select" (click)="onSupplierSelect('AS')" [ngClass]="{'active-btn': asSelect,'disabled-btn':disableDHC}"
                                                                                > Activity Supplier</button>
                                                                        </a>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-2 col-lg-3 supplier-buttons">
                                                                    <label class="form-check-label" >
                                                                        <a class="c-pointer">
                                                                            <button type="button" class="btn supplier dmc-type-select" (click)="onSupplierSelect('TS')" [ngClass]="{'active-btn': tsSelect,'disabled-btn':disableDHC}"
                                                                                > Transfer Supplier</button>
                                                                        </a>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-lg-3 supplier-buttons">
                                                                    <label class="form-check-label" >
                                                                        <a class="c-pointer">
                                                                            <button type="button" class="btn supplier dmc-type-select" (click)="onSupplierSelect('HPS')" [ngClass]="{'active-btn': hpsSelect,'disabled-btn': disableDHC}"
                                                                                >Holiday Package Supplier</button>
                                                                        </a>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    <!-- </form> -->
                                                </div>
                                                <div class="col-12 d-flex justify-content-center my-3">

                                                    <div class="col-sm-1 d-flex justify-content-end p-0">
                                                        <label class="form-check-label">
                                                            <a class="c-pointer">
                                                                <button type="submit" (click)="onProceed()"
                                                                    class="btn supplier-proceed-btn">Proceed</button>
                                                            </a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                        </div>
                        </div>
                        
                        </div>
                
            </div>
            <!-- login - banner slider - end -->
            
            <!-- Hotel Partners start -->
            <!-- <div class="login-brand-section login-max-screen w-100">
                <div class="title mx-screen-1186">
                    <h2>Hotel Partners</h2>
                </div>
                <div class="brand-section mx-screen-1186">
                    <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel"
                        [config]="hotelSBrandslideConfig">
                        <div ngxSlickItem *ngFor="let slide of hotelPartners">
                            <div class="banner-section">
                                <img src="{{ sliderUri+slide.logo }}" alt="brands"
                                    style="height:80px;margin: 0 auto; max-width: 140px !important; width: auto !important;">
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div> -->
            <!-- Hotel Partners end -->
            <!-- services start -->
            <div class="login-brand-section w-100 why-sec">
                <div class="login-max-screen">
                   <div class="login-service-section mx-screen-1186 d-flex">
                        <div class="title">
                            <h2>Work With Us</h2>
                            <p class="sub-text">Join us in revolutionizing travel with cutting-edge technology. Let's shape the future of seamless journeys together!</p>
                        </div>
                        <div class="sevice-cards">
                            <div class="card">
                                <div class="card-icon">
                                    <img src="assets/images/why1.svg" alt="whychoose" />
                                </div>
                                <div class="card-content-section">
                                    <div class="card-title">
                                        <h3>Wide Range of Hotels</h3>
                                    </div>
                                    <div class="card-content">
                                        <p>Discover a wide range of hotels, from budget-friendly stays to luxury retreats.
                                            With options to suit every traveler, your perfect getaway is just a booking away!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-icon">
                                    <img src="assets/images/why2.svg" alt="whychoose" />
                                </div>
                                <div class="card-content-section">
                                    <div class="card-title">
                                        <h3>200+ Countries </h3>
                                    </div>
                                    <div class="card-content">
                                        <p>Explore endless possibilities with support across 200+ countries worldwide.
                                            Wherever your journey takes you, we’re ready to make it unforgettable! 
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-icon">
                                    <img src="assets/images/why3.svg" alt="whychoose" />
                                </div>
                                <div class="card-content-section">
                                    <div class="card-title">
                                        <h3>Competitive Rates on Most Destinations</h3>
                                    </div>
                                    <div class="card-content">
                                        <p>Travel more while spending less with deals designed to fit your budget!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-icon">
                                    <img src="assets/images/why4.svg" alt="whychoose" />
                                </div>
                                <div class="card-content-section">
                                    <div class="card-title">
                                        <h3>24/7 Customer Service</h3>
                                    </div>
                                    <div class="card-content">
                                        <p>We’re here for you 24/7, ensuring seamless support whenever you need it.
                                            Count on us for assistance around the clock, every step of your journey!
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- services end -->
    <!-- company details start -->
    <div class=" cmny_dtls">
    <div class="login-brand-section w-100">
        <div class="login-max-screen">
            <div class="login-service-section mx-screen-1186 d-flex">
         <div class="cmny_sec d-flex justify-content-between row-15">
            <div class="cmpny_indiv">
                <h4>10,000+ <span>Activities</span></h4>
                <p>Dive into excitement with the best activity spots for adventure and fun.
                    From thrilling outdoor adventures to relaxing leisure hubs, there’s something for everyone.
                </p>
            </div>
            <div class="cmpny_indiv brd_rt_lft">
                <h4>48,000+ <span>Happy Customers</span></h4>
                <p>From exceptional service to tailored solutions, we ensure satisfaction at every step.
                    Join our community of happy customers and experience the difference today!
                </p>
            </div>
            <div class="cmpny_indiv">
                <h4>400+ <span>Destinations</span></h4>
                <p>Start your journey to the perfect getaway—your dream destination awaits!
                </p>
            </div>
        </div>
       </div>
      </div>
    </div>
    </div>
    
    <!-- company details end -->
            <!-- contactus start -->
    <div class="login-brand-section w-100 contct_dts">
        <div class="login-max-screen">
            <div class="login-service-section mx-screen-1186">
        <div class="d-flex justify-content-between">
            <div class="footer_logo_sec">
               <img src="assets/images/footer_logo.svg">
            </div>
            <div class="cont_mail">
                <div class="emai">
                    <h4>Send Us Email At:</h4>
                    <p>{{domainInfo?.email}}</p>
                </div>
                <div class="phnnumer">
                    <h4>Call Us At:</h4>
                    <p>{{domainInfo?.phone}}</p>
                </div>
    
            </div>
    
        </div>
      </div>
      </div>
    </div>
          
    
            <!-- Footer section start-->
            <app-home-page-footer></app-home-page-footer>
            <!-- Footer section end-->
        </div>
    </div>