<!-- FILTER SECTION -->
<div class="card adminInner">

    <div class="card-header mb-3">
        <h5>Helipads List</h5>
    </div>

    <form *ngIf="showFilters">

        <div class="row">

            <!-- HELIPAD NAME -->
            <div class="col-3 pr-0">

                <div class="form-group">

                    <label for="helipad_name">
                        Helipad Name
                    </label>

                    <input type="text" class="form-control form-control-sm nrm_input" placeholder="Helipad Name"
                        id="helipad_name" [(ngModel)]="filterData.helipad_name" name="helipad_name">

                </div>

            </div>

            <!-- HELIPAD CODE -->
            <div class="col-3">

                <div class="form-group">

                    <label for="helipad_code">
                        Helipad Code
                    </label>

                    <input type="text" class="form-control form-control-sm nrm_input" placeholder="Helipad Code"
                        id="helipad_code" [(ngModel)]="filterData.helipad_code" name="helipad_code">

                </div>

            </div>

            <!-- CITY -->
            <div class="col-3 pl-0">

                <div class="form-group">

                    <label for="city">
                        City
                    </label>

                    <input type="text" class="form-control form-control-sm nrm_input" placeholder="City" id="city"
                        [(ngModel)]="filterData.city" name="city">

                </div>

            </div>

            <!-- STATE -->
            <div class="col-3 pl-0">

                <div class="form-group">

                    <label for="state">
                        State
                    </label>

                    <input type="text" class="form-control form-control-sm nrm_input" placeholder="State" id="state"
                        [(ngModel)]="filterData.state" name="state">

                </div>

            </div>

        </div>

        <div class="btncontainer">

            <button type="button" class="btn btn-primary" (click)="onSearch()">

                Search

            </button>

            &nbsp;

            <button type="button" class="btn btn-secondary" (click)="resetFilters()">

                Reset

            </button>

        </div>

    </form>

</div>


<!-- TABLE SECTION -->
<div class="card adminInner mt-3">

    <div class="d-flex align-items-center justify-content-between pb-3">

        <div>

            <button type="button" class="btn btn-primary" (click)="exportExcel()">

                Export

            </button>

            &nbsp;

            <button type="button" class="btn btn-secondary" (click)="showFilters = !showFilters">

                Filter

            </button>

        </div>

        <!-- FULL SEARCH -->
        <div class="form-group mb-0 col-sm-3 p-0 float-right has-search">

            Full text search:

            <input class="form-control" type="text" name="searchTerm" [(ngModel)]="searchText"
                (input)="filterHelipads()">

        </div>

    </div>

    <!-- SCROLL -->
    <div class="wrapper1" id="notifications-list" (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft" #scrollOne>

        <div class="div1"></div>

    </div>

    <div class="wrapper2" #scrollTwo (scroll)="scrollOne.scrollLeft = scrollTwo.scrollLeft">

        <div class="div2 invisible-scrollbar">

            <div class="table-respons">

                <table class="table table-borderless table-striped table-hover">

                    <thead>

                        <tr>

                            <th class="text-left text-nowrap">
                                Sl. No
                            </th>

                            <th class="text-left text-nowrap">
                                Status
                            </th>

                            <th class="text-left text-nowrap">
                                Helipad Name
                            </th>

                            <th class="text-left text-nowrap">
                                City
                            </th>

                            <th class="text-left text-nowrap">
                                State
                            </th>

                            <th class="text-left text-nowrap">
                                Country
                            </th>

                            <th class="text-left text-nowrap">
                                Map Location
                            </th>

                            <th class="text-left text-nowrap">
                                Latitude
                            </th>

                            <th class="text-left text-nowrap">
                                Longitude
                            </th>

                            <th class="text-left text-nowrap">
                                Helipad Code
                            </th>

                            <th class="text-left text-nowrap">
                                Description
                            </th>

                            <th class="text-left text-nowrap">
                                Actions
                            </th>

                        </tr>

                    </thead>

                    <tbody>

                        <!-- DATA -->
                        <tr *ngFor="
                            let item of filteredHelipadList;
                            let i = index
                        ">

                            <!-- INDEX -->
                            <td class="text-left">

                                {{ i + 1 }}

                            </td>

                            <!-- STATUS -->
                            <td>

                                <label class="switch">

                                    <input type="checkbox" [checked]="
                                            item.status === '1' ||
                                            item.status === 1
                                        " (change)="onStatusChange($event, item)">

                                    <span class="slider round"></span>

                                </label>

                            </td>

                            <!-- HELIPAD NAME -->
                            <td class="text-left">

                                {{ item.helipad_name || '-' }}

                            </td>

                            <!-- CITY -->
                            <td class="text-left">

                                {{ item.city_name || item.city || '-' }}

                            </td>

                            <!-- STATE -->
                            <td class="text-left">

                                {{ item.state_name || item.state || '-' }}

                            </td>

                            <!-- COUNTRY -->
                            <td class="text-left">

                                {{ item.country_name || item.country || '-' }}

                            </td>

                            <!-- MAP LOCATION -->
                            <td class="text-left">

                                {{ item.map_location || '-' }}

                            </td>

                            <!-- LATITUDE -->
                            <td class="text-left">

                                {{ item.latitude || '-' }}

                            </td>

                            <!-- LONGITUDE -->
                            <td class="text-left">

                                {{ item.longitude || '-' }}

                            </td>

                            <!-- HELIPAD CODE -->
                            <td class="text-left">

                                {{ item.helipad_code || '-' }}

                            </td>

                            <!-- DESCRIPTION -->
                            <td class="text-left">

                                {{ item.description || '-' }}

                            </td>

                            <!-- ACTIONS -->
                            <td class="text-left">

                                <button class="btn btn-sm btn-primary mr-2" type="button" (click)="onUpdate(item)">

                                    Edit

                                </button>

                                <button class="btn btn-sm btn-secondary" type="button" (click)="onDelete(item.id)">

                                    Delete

                                </button>

                            </td>

                        </tr>

                        <!-- NO DATA -->
                        <tr *ngIf="filteredHelipadList.length === 0">

                            <td colspan="12" class="text-center">

                                No helipads found

                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>