<div class="container row col-12 m-auto">
    <div class="login-header login-max-screen login-max-screen-1260 d-flex justify-content-between w-100 align-items-center">
        <div class="left-side d-flex align-items-center col-8">
            <div class="h-logo">
                <a routerLink="/auth/login"><img src="assets/nosafer/images/l-logo.svg" style="width: 203px;" alt="" /></a>
            </div>
            <div class="contact-details pl-5" >
                <div href="" class="float-left contact-indi mr-3"><a class="support_mail" href="mailto:support@.com"><i class="fa fa-envelope float-left"></i> {{domainInfo?.email}}</a></div>
                <div href="" class="float-left contact-indi"><a class="support_mail" href="tel:"><i class="fa fa-phone float-left"></i> {{domainInfo?.phone}}</a></div>
             </div>
        </div>
        <div class="right-side p-0 d-flex col-4">
            <div class="center-section col-md-12 d-flex">
                <button type="submit" class="btn supplier" (click)="b2bSupplierReg()"  routerLink="/auth/b2b">B2B Supplier Registration</button>
                <!-- <button type="submit" class="btn supplier b2b-supplier ml-2" (click)="b2bSupplierReg()"  routerLink="/auth/b2b">B2B Supplier Login</button> -->

                <div ngbDropdown class="d-inline-block">
                <button class="btn supplier b2b-supplier ml-2" id="dropdownBasic1" ngbDropdownToggle>
                    B2B Supplier Login
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdownBasic1lmenu-list">
                    <button ngbDropdownItem (click)="dmcLoginNavigate('b2b-direct')">B2B Direct Hotel Login</button>
                    <button ngbDropdownItem (click)="dmcLoginNavigate('dmc')">DMC Login</button>
                </div>
            </div>
            </div>  
            
            <!-- <button class="btn btn-primay manage-bkng1" [routerLink]="['/supplier/general/register_supplier']">Supplier Registration</button> -->
          
           <!-- <ul class="d-flex align-items-center">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Why Us</a>
                </li>
            </ul> -->
            <!-- <div class="align-items-center d-flex icon-with-content"><img class="mobile_width" alt="Phone"
                    src="assets/images/login-images/support-phone.png">
                <div class="d-flex align-items-center">
                    <div class="content pl-3 pr-3">
                        <h4 class="mb-0">24 X 7</h4>
                        <p class="mb-0">Support</p>
                    </div>
                    <div class="support-number" *ngIf="domainInfo && domainInfo['phone']">
                        <p class="mb-0">+{{domainInfo['phone']}}</p>
                    </div>
                </div>
            </div> -->
        </div>
         
           
            
       
    </div>
</div>