<div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
        <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>
        {{ 'Onward Flight Details' }}
    </div>
</div>
<form class="p-4 bbottom">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label class="f-12" for="inputCarrierBookingClass">Carrier/Booking Class</label>
            <input type="text" class="form-control form-control-sm mb-1" id="inputCarrierBookingClass"
                placeholder="Carrier Code(SG)">
            <input type="text" class="form-control form-control-sm mb-1" id="" placeholder="Booking Class">
        </div>
        <div class="form-group col-md-2">
            <label class="f-12" for="inputFlight No">FlightNo</label>
            <input type="text" class="form-control form-control-sm mb-1" id="inputFlightNo"
                placeholder="Flight No(221)">
            <input type="text" class="form-control form-control-sm mb-1" id="inputFlightNo" placeholder="Cabin Baggage">
            <input type="text" class="form-control form-control-sm mb-1" id="inputFlightNo"
                placeholder="Checking Baggage">
        </div>
        <div class="form-group col-md-2">
            <label class="f-12" for="inputDepAirportArrAirport">Dep. Airport/Arr. Airport</label>
            <input type="text" class="form-control form-control-sm mb-1" id="inputDepAirportArrAirport"
                placeholder="Dep. Airport">
            <input type="text" class="form-control form-control-sm mb-1" id="inputDepAirportArrAirport"
                placeholder="Arr. Airport">
        </div>
        <div class="form-group col-md-2">
            <label class="f-12" for="inputDepDateArrDate">Dep. Date/Arr. Date</label>
            <input type="date" class="form-control form-control-sm mb-1" id="inputDepDateArrDate"
                placeholder="Dep. Date">
            <input type="date" class="form-control form-control-sm mb-1" id="inputDepDateArrDate"
                placeholder="Arr. Date">
        </div>
        <div class="form-group col-md-2">
            <label class="f-12" for="inputDepTimeArrTime">Dep. Time/Arr. Time</label>
            <input type="time" class="form-control form-control-sm mb-1" id="inputDepTimeArrTime"
                placeholder="Dep. Time">
            <input type="time" class="form-control form-control-sm mb-1" id="inputDepTimeArrTime"
                placeholder="Arr. Time">
        </div>
        <div class="form-group col-md-2">
            <label class="f-12" for="inputAirlinePNR">PNR</label>
            <input type="text" class="form-control form-control-sm mb-1" id="inputAirlinePNR"
                placeholder="Airline PNR">
        </div>
    </div>
</form>