<div class="">
    <div class="">
        <ngb-tabset class="tabs-animated custom_tab" (tabChange)="beforeChange(false)" #tabs
            [activeId]="activeIdString">
            <ngb-tab id="add_update_b2bUser">
                <ng-template ngbTabTitle>
                    <span> Create Agent Group </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-create-agent-grouping (b2cUserUpdate)="triggerTab($event)"></app-create-agent-grouping>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="supplier_list">
                <ng-template ngbTabTitle>
                    <span> Agent Group List</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-agent-grouping-list (b2cUserUpdate)="triggerTab($event)"></app-agent-grouping-list>
                    </ng-template>
            </ngb-tab>
 </ngb-tabset>
    </div>
</div>
