<div class="row" #accountsDetails>
    <div class="col-md-12">
        <div class="card main-card mb-6">
            <div class="card-header-tab card-header bg-dark text-white">
                <div class="card-header-title font-size-lg text-uppercase font-weight-normal">
                    <i class="header-icon fa fa-edit"></i> 
                    {{ 'Add Currency' }}
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="currencyConfig" class="m-4">
                    <div class="position-relative row form-group">
                        <label for="currency" class="col-sm-2 col-form-label">Currency
                            <span style="color: red;">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input formControlName="currency" (keypress)="omitSpecialCharacters($event)" id="currency" placeholder="" type="text" class="form-control text-uppercase" maxlength="3">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="value" class="col-sm-2 col-form-label">Conversion Rate
                            <span style="color: red;">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input formControlName="value" type="number" id="value" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                       
                            <label for="email">Currency Flag <span style="color: red;">*</span></label>
                            
                            <input type="file" class="form-control form-control-sm nrm_input" accept=".png, .jpg, .jpeg"
                                id="image" (change)="onFileSelected($event)" #theFile>
                            <label #labelImport for="image">Upload Image</label>
                            <span class="text-danger">(Maximum upload file size: 1 MB)</span>
                            <!-- <div *ngIf="iconImage"><img [src]="getImage(iconImage)" width="100" height="50"></div> -->
                            <img *ngIf="imageSrc" height="50" width="100" class="rounded" [src]="imageSrc" alt="logo">
                       </div>                 
                    <div class="position-relative row form-group">
                        <label for="status" class="col-sm-2 col-form-label">Status
                            <span style="color: red;">*</span>
                        </label>
                        <div class="col-sm-10 d-flex align-items-center">
                        <div class="col-auto">
                            <label>
                            <input type="radio" value="1" formControlName="status">
                            <span class="design"></span>
                            <span class="text p-2">Active</span>
                          </label>
                        </div>
                        <div class="col-auto">
                          <label>
                            <input type="radio" value="0" formControlName="status">
                            <span class="design"></span>
                            <span class="text p-2">Inactive</span>
                          </label>
                        </div>
                        </div>
                    </div>
                    <div class="customCenter">
                        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add</button>
                        &nbsp;&nbsp;
                        <button type="reset" class="btn btn-primary" (click)="onReset()">Reset</button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" routerLink="/settings/currencyConversion">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>