.form-group label {
    // font-weight: 400 !important;
    // color: #000000;
    font-family: 'Asap';
    color: #363636;
    font-size: 14px;
}
.my-color,.btn{
    font-family: 'Asap';
    font-size: 14px;
}
.yel{background: #FE4865;border:1px solid #FE4865!important; }