.pl-30{
    padding-left: 30px;
}

.icon-btn{
    background: #012756 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    margin-top: 2px;
    &.lg{
        width: 130px;
        height: 40px;
        font-size: 14px;
        line-height: 16px;
        img{
            width: 14px;
        }
    }
        img{
            margin-right: 8px;
        }
    
}

::ng-deep .mat-icon-button{ position: absolute; top: 0px; right: 15px;}
.add-traveller{
    background-color: #fff;
    box-shadow: 0px 5px 10px #0000001C;
    border-radius: 10px;
    opacity: 1;
    padding-top: 10px;
    .btn-group{
        background: #F5F5F5 0% 0% no-repeat padding-box;
        border-radius: 10px 0px 0px 10px;
        opacity: 1;
        padding: 20px 0;
        width: 100%;
        justify-content: flex-end;
    }
    .mb-7{
        margin-bottom: 70px;
    }
    .title{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
    opacity: 1;
    height: 41px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0px 10px 20px 10px;
        h3{
            margin: 0;
            font: normal normal normal 14px/16px Asap;
            letter-spacing: 0px;
            color: #363636;
            opacity: 1;
        }
    }
    .custom-inline-form{
        .form-group{
            padding: 0 25px;
            position: relative;
            margin-bottom: 1.2rem;
            
           ::ng-deep .invalid-feedback{
                bottom: -15px;
                left: 0;
                width: inherit;
                margin-left: 16.6666666667%;
                padding-left: 34px;
            }
        }
        label{
            font: normal normal normal 14px/16px Asap;
            letter-spacing: 0px;
            opacity: 1;
            color: #505050;
            text-align: right;
        }
        input, select{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #D2D2D2;
            border-radius: 4px;
            opacity: 1;
            height: 41px;
            font-size: 12px;
            &.is-invalid{
                box-shadow: none;
            }
            &:focus{
                box-shadow: none;
            }
        }
    }
}
// for hiding increment for input type number start
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
// end

.example-viewport {
    height: 200px;
    width: 100%;
    // border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
  .icon{
    margin-top: 12px !important;
}
.rmvBtn{
    background: white;
    border: none;
    color:#e41818;
}

.add-traveller .custom-inline-form .datpick{ width: 100%;}

.form-control[readonly]  {
    background-color: #e9ecef!important;
    padding-left: 13px !important;
}
.form-control{
    font: normal normal normal 14px/35px Asap !important;
}

.add-traveller .custom-inline-form .datpick{
    font: normal normal normal 14px/35px Asap !important;
    padding-left: 13px !important;
}
