<div class="card">
  <div class="card-body">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="nav-tabs tabs-animated custom_tab"
      (navChange)="beforeChange($event)">

      <li
        *ngFor="let link of navLinks; let i = index"
        [ngbNavItem]="i">

        <a ngbNavLink (click)="onSelect(link, i)">
          <i [class]="link.icon"></i>&nbsp; {{ link.label }}
        </a>

        <ng-template ngbNavContent>

          <hr>

          <div [ngSwitch]="link.report">

            <div *ngSwitchCase="'creditLimit'">
              <app-credit-limit-request></app-credit-limit-request>
              <!-- <app-dynamic-table [data]="tabsData.Flight"></app-dynamic-table> -->
            </div>

            <div *ngSwitchCase="'balance'">
              <app-balance-request></app-balance-request>
              <!-- <app-dynamic-table [data]="tabsData.Hotel"></app-dynamic-table> -->
            </div>

          </div>

        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>
</div>