<div class="">

  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab">

      <li
        *ngFor="let tab of tabLinks; let i = index"
        [ngbNavItem]="i">

        <a ngbNavLink (click)="onSelect()">

          <i [class]="tab.icon"></i>
          &nbsp; {{ tab.label }}

        </a>

        <ng-template ngbNavContent>

          <hr>

          <div class="card mb-3">

            <div class="p-2">
              <div class="form-group form-inline mb-0 font-weight-bold">
                N.B: Commission amount is calculated from the commission which you get from API
              </div>
            </div>

            <div class="table-responsive">

              <form [formGroup]="regConfig">

                <table class="table">

                  <tr>
                    <td class="text-left">

                      <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                          <i class="header-icon fa fa-plane mr-3 opacity-6"></i>
                          {{ 'Flight Commission' }}
                        </div>
                      </div>

                      <div class="d-flex flex-row pt-3 ml-5 form-group row">

                        <div>
                          <label class="lh-30">Agents Get &nbsp;</label>

                          <div>
                            <input
                              type="text"
                              maxlength="3"
                              class="form-control"
                              formControlName="flightCom"
                              (keypress)="numberOnly($event)">
                          </div>

                        </div>

                      </div>

                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div id="allbtn" class="customCenter">

                        <span class="p-1">
                          <button class="btn btn-primary p-1" (click)="onSubmit()">
                            Update
                          </button>
                        </span>

                        <span class="p-1">
                          <button type="reset" class="btn btn-primary p-1" (click)="onReset()">
                            Reset
                          </button>
                        </span>

                      </div>
                    </td>
                  </tr>

                </table>

              </form>

              <!-- Hotel commission commented as requested by Badrinath -->
              <!-- keep unchanged -->
            </div>

          </div>

        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>

</div>