<div class="col-12 revenue-finance-top-sec mt-3 pt-2 pb-4">

    <!-- Header -->
    <div class="row">
        <div class="col-12">
            <span class="revenue-span">Geo / Route</span>
        </div>
    </div>

<div class="row p-3">
  <div class="col-12 mb-2" *ngFor="let item of geoRoutes">
    <div class="head-sect">
      <div class="row p-2 align-items-center">
        <div class="col-8">
          <span class="f-17">{{ item }}</span>
        </div>

        <div class="col-4 text-end">
          <span class="f-17">></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>