<div class="">
    <div class="row col-lg-12 col-md-12 pt-3 m-0">
        <ul
            ngbNav
            #tabs="ngbNav"
            class="nav-tabs tabs-animated custom_tab w-100"
            [(activeId)]="activeIdString"
            (navChange)="onSelect($event)"
        >
            <li [ngbNavItem]="'History_Deposit_Request'">
                <a ngbNavLink>
                    <span><i class=""></i> &nbsp; HISTORY DEPOSIT REQUEST</span>
                </a>

                <ng-template ngbNavContent>
                    <div class="card col-md-12 col-lg-12">
                        <app-history-deposit-request></app-history-deposit-request>
                    </div>
                </ng-template>
            </li>

            <li [ngbNavItem]="'Deposit_Request'">
                <a ngbNavLink>
                    <span><i class=""></i> &nbsp; DEPOSIT REQUEST </span>
                </a>

                <ng-template ngbNavContent>
                    <div class="row card custom-font" style="margin-left: 1px !important;">
                        <app-deposit-request
                            (activateChildTab)="activateChildTab($event)">
                        </app-deposit-request>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="tabs"></div>
    </div>
</div>