<ul
  ngbNav
  #tabs="ngbNav"
  class="tabs-animated custom_tab crs-tab-ui"
  (navChange)="beforeChange($event)">

  <li [ngbNavItem]="'list_meals'">

    <a ngbNavLink>
      {{ 'List Meals' }}
    </a>

    <ng-template ngbNavContent>
      <app-meal-list
        (toUpdate)="triggerTab($event)">
      </app-meal-list>
    </ng-template>

  </li>

  <li [ngbNavItem]="'add_meal_type'">

    <a ngbNavLink>
      {{ 'Add/Edit Meal Type' }}
    </a>

    <ng-template ngbNavContent>
      <app-add-update-meals
        (someEvent)="triggerTab($event)"
        [hotelTypeOne]="hotelTypeData">
      </app-add-update-meals>
    </ng-template>

  </li>

</ul>

<div [ngbNavOutlet]="tabs"></div>