<div class="">
    <div class="">
        <ul
            ngbNav
            #tabs="ngbNav"
            class="nav-tabs tabs-animated custom_tab"
            [activeId]="activeIdString"
            (navChange)="beforeChange(false)"
        >
            <li [ngbNavItem]="'add_update_b2bUser'">
                <a ngbNavLink>Create Agent Group</a>
                <ng-template ngbNavContent>
                    <app-create-agent-grouping
                        (b2cUserUpdate)="triggerTab($event)">
                    </app-create-agent-grouping>
                </ng-template>
            </li>

            <li [ngbNavItem]="'supplier_list'">
                <a ngbNavLink>Agent Group List</a>
                <ng-template ngbNavContent>
                    <app-inactive-agent-group-list
                        (b2cUserUpdate)="triggerTab($event)">
                    </app-inactive-agent-group-list>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="tabs"></div>
    </div>
</div>