<ul
  ngbNav
  #tabs="ngbNav"
  [(activeId)]="activeId"
  (navChange)="beforeChange($event)"
  class="nav-tabs tabs-animated custom_tab">

  <li [ngbNavItem]="'hotel_api_list'">
    <a ngbNavLink>
      Stays
    </a>
    <ng-template ngbNavContent>
      <app-hotel-api
        (someEvent)="triggerTab($event)">
      </app-hotel-api>
    </ng-template>
  </li>

  <li [ngbNavItem]="'transfer_api_list'">
    <a ngbNavLink>
      Cabs
    </a>
    <ng-template ngbNavContent>
      <app-transfer-api
        (someEvent)="triggerTab($event)">
      </app-transfer-api>
    </ng-template>
  </li>

  <li [ngbNavItem]="'tour_api_list'">
    <a ngbNavLink>
      Yatra Packages
    </a>
    <ng-template ngbNavContent>
      <app-tour-api
        (someEvent)="triggerTab($event)">
      </app-tour-api>
    </ng-template>
  </li>

  <li [ngbNavItem]="'activity_api_list'">
    <a ngbNavLink>
      Experiences
    </a>
    <ng-template ngbNavContent>
      <app-activity-api
        (someEvent)="triggerTab($event)">
      </app-activity-api>
    </ng-template>
  </li>

  <li [ngbNavItem]="'car_api_list'">
    <a ngbNavLink>
      Bus
    </a>
    <ng-template ngbNavContent>
      <app-car-api
        (someEvent)="triggerTab($event)">
      </app-car-api>
    </ng-template>
  </li>

</ul>

<div [ngbNavOutlet]="tabs" class="mt-3"></div>