.trapezoid {
    border-bottom: 60px solid #082E53;
    border-left: 45px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 19px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .btnStyle{    background: #082e53;
    color: #fff;
    border: 1px solid #082e53;
    border-radius: 3px;
    padding: 5px 20px;
    margin: 0px auto;
    display: block;}

    .icon-images {
      width: 15px;
      height: 15px;
    }
