<div class="mb-3 btop">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>
            {{ "API List" }}
        </div>
    </div>
    <form [formGroup]="form">
        <!-- <div class="wrapper1" id="notifications-list" (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft" #scrollOne>
            <div class="div1"></div>
        </div> -->

        <!-- <div class="wrapper2" #scrollTwo (scroll)="scrollOne.scrollLeft = scrollTwo.scrollLeft">
            <div class="div2 invisible-scrollbar"> -->
                <div class="table-responsive">
                    <table class="table table-borderless table-striped table-hover" matSort
                        (matSortChange)="sortData($event)">
                        <thead>
                            <tr class="p-2">
                                <th scope="col" class="text-left text-nowrap" *ngFor="let header of displayColumn"
                                    mat-sort-header="{{ header.key }}">
                                    {{ header.value }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="noData">
                                <td colspan="11">
                                    <mat-spinner [diameter]="30" style="margin: 0 auto"
                                        mode="indeterminate"></mat-spinner>
                                </td>
                            </tr>
                            <tr *ngFor="
                                          let data of respData
                                            | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
                                          let i = index
                                        ">
                                <td class="text-left text-muted">{{ i + 1 }}.</td>
                                <td class="text-left">{{ data["name"] }}</td>
                                <td class="text-left">{{ data["description"] }}</td>
                                <td class="text-left"> {{data["b2c_status"] == "1" ? "Active" :
                                    "In-Active"}} </td>
                                <!-- <td class="text-left">
                                    <button class="btn btn-sm btn-primary"
                                        (click)="onStatusUpdate(data)">{{data["booking_engine_status"] ==
                                        true? "Deactivate": "Activate"}}
                                    </button>
                                </td> -->
                                <!-- <td class="text-left">
                                    <label class="switch">
                                        <input type="checkbox" [checked]="data?.b2b_status==='1'"
                                            (change)="isB2BActive(data,$event)">
                                        <span class="slider round"></span>
                                    </label>
                                </td> -->
                                <td class="text-left">
                                    <label class="switch">
                                        <input type="checkbox" [checked]="data?.b2c_status==='1'"
                                     >
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <!-- <td class="text-left"
                                    *ngIf="data?.b2b_block_airline_list && (data?.source_key==='ZBAPINO00002')">
                                    <ng-multiselect-dropdown formControlName="airLineListB2B1"
                                        [placeholder]="'Select airline'" [data]="data.b2b_block_airline_list"
                                        [(ngModel)]="data.b2bselectedItems" [settings]="dropdownSettingsForAirLine"
                                        (onSelect)="onB2BItemSelect(data,$event)"
                                        (onDeSelect)="onB2BItemDeSelect(data,$event)"
                                        (onSelectAll)="onB2BSelectAll(data,$event)"
                                        (onDeSelectAll)="onB2BItemDeSelectAll(data,$event)"></ng-multiselect-dropdown>
                                </td>

                                <td class="text-left"
                                    *ngIf="data?.b2b_block_airline_list && (data?.source_key==='ZBAPINO00003')">
                                    <ng-multiselect-dropdown formControlName="airLineListB2B2"
                                        [placeholder]="'Select airline'" [data]="data.b2b_block_airline_list"
                                        [(ngModel)]="data.b2bselectedItems" [settings]="dropdownSettingsForAirLine"
                                        (onSelect)="onB2BItemSelect(data,$event)"
                                        (onDeSelect)="onB2BItemDeSelect(data,$event)"
                                        (onSelectAll)="onB2BSelectAll(data,$event)"
                                        (onDeSelectAll)="onB2BItemDeSelectAll(data,$event)"></ng-multiselect-dropdown>
                                </td>
                                <td class="text-left"
                                    *ngIf="data?.b2b_block_airline_list && (data?.source_key==='ZBAPINO00007')">
                                    <ng-multiselect-dropdown formControlName="airLineListB2B3"
                                        [placeholder]="'Select airline'" [data]="data.b2b_block_airline_list"
                                        [(ngModel)]="data.b2bselectedItems" [settings]="dropdownSettingsForAirLine"
                                        (onSelect)="onB2BItemSelect(data,$event)"
                                        (onDeSelect)="onB2BItemDeSelect(data,$event)"
                                        (onSelectAll)="onB2BSelectAll(data,$event)"
                                        (onDeSelectAll)="onB2BItemDeSelectAll(data,$event)"></ng-multiselect-dropdown>
                                </td>
                                <td class="text-left">
                                    <button class="btn btn-sm btn-primary"
                                        *ngIf="data?.source_key==='ZBAPINO00002' || data?.source_key==='ZBAPINO00003' || data?.source_key==='ZBAPINO00007'"
                                        (click)="updateAirLine(data,data.id,'B2B')">Update B2B</button>
                                </td> -->
                                <!-- <td class="text-left"
                                    *ngIf="data?.block_airline_list && (data?.source_key==='ZBAPINO00002')">
                                    <ng-multiselect-dropdown formControlName="airLineListB2C1"
                                        [placeholder]="'Select airline'" [data]="data.block_airline_list"
                                        [(ngModel)]="data.selectedItems" [settings]="dropdownSettingsForAirLine"
                                        (onSelect)="onB2CItemSelect(data,$event)"
                                        (onDeSelect)="onB2CItemDeSelect(data,$event)"
                                        (onSelectAll)="onB2BSelectAll(data,$event)"
                                        (onDeSelectAll)="onB2CItemDeSelectAll(data,$event)">
                                    </ng-multiselect-dropdown>
                                </td>
                                <td class="text-left"
                                    *ngIf="data?.block_airline_list && (data?.source_key==='ZBAPINO00003')">
                                    <ng-multiselect-dropdown formControlName="airLineListB2C2"
                                        [placeholder]="'Select airline'" [data]="data.block_airline_list"
                                        [(ngModel)]="data.selectedItems" [settings]="dropdownSettingsForAirLine"
                                        (onSelect)="onB2CItemSelect(data,$event)"
                                        (onDeSelect)="onB2CItemDeSelect(data,$event)"
                                        (onSelectAll)="onB2BSelectAll(data,$event)"
                                        (onDeSelectAll)="onB2CItemDeSelectAll(data,$event)">
                                    </ng-multiselect-dropdown>
                                </td>
                                <td class="text-left"
                                    *ngIf="data?.block_airline_list && (data?.source_key==='ZBAPINO00007')">
                                    <ng-multiselect-dropdown formControlName="airLineListB2C3"
                                        [placeholder]="'Select airline'" [data]="data.block_airline_list"
                                        [(ngModel)]="data.selectedItems" [settings]="dropdownSettingsForAirLine"
                                        (onSelect)="onB2CItemSelect(data,$event)"
                                        (onDeSelect)="onB2CItemDeSelect(data,$event)"
                                        (onSelectAll)="onB2BSelectAll(data,$event)"
                                        (onDeSelectAll)="onB2CItemDeSelectAll(data,$event)">
                                    </ng-multiselect-dropdown>
                                </td>
                                <td class="text-left">
                                    <button class="btn btn-sm btn-primary"
                                        *ngIf="data?.source_key==='ZBAPINO00002' || data?.source_key==='ZBAPINO00003' || data?.source_key==='ZBAPINO00007'"
                                        (click)="updateAirLine(data,data.id,'B2C')">Update B2C</button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            <!-- </div>
        </div> -->
    </form>
</div>