<div class="">
    <div class="">
        <ngb-tabset class="tabs-animated tabs-animated-shadow">
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-plane"></i> &nbsp; Flight Markup</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-agents-flight></app-agents-flight>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-hotel"></i> &nbsp; Hotel Markup</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-agents-hotel></app-agents-hotel>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-binoculars"></i> &nbsp; Activity Markup</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-agent-activity></app-agent-activity>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-taxi"></i> &nbsp; Transfer Markup</span>
                </ng-template>
                <ng-template ngbTabContent>
                   <app-agent-transfer></app-agent-transfer>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-tree"></i> &nbsp; Tour Markup</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-agent-tour></app-agent-tour>
                </ng-template>
            </ngb-tab>
            <!-- <ngb-tab>
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-car"></i> &nbsp; Car Markup</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-agent-car></app-agent-car>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-calendar"></i> &nbsp; Activity Markup</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-agent-activity></app-agent-activity>
                </ng-template>
            </ngb-tab> -->
        </ngb-tabset>
    </div>
</div>