.text-primary{ background: #FE4865 ;
    border-radius: 5px;
    padding: 5px 10px !important;
    border: 1px solid #FE4865 ;
    line-height: 18px;
    color: #fff !important;
    margin-right: 10px;}

     .text-primarys{ background: #041e37;
        border-radius: 5px;
        padding: 5px 10px !important;
        border: 1px solid #041e37;
        line-height: 18px;
        color: #fff !important;
        margin-right: 10px;}