<div>
  <ul
    ngbNav
    #tabs="ngbNav"
    [(activeId)]="activeIdString"
    (navChange)="beforeChange(false)"
    class="nav-tabs tabs-animated custom_tab">

    <li [ngbNavItem]="'add_update_staticPage'">
      <a ngbNavLink>Best Time To Travel</a>
      <ng-template ngbNavContent>
        <app-add-best-time-to-travel
          (staticContentTab)="triggerTab($event)">
        </app-add-best-time-to-travel>
      </ng-template>
    </li>

    <li [ngbNavItem]="'staticpage_list'">
      <a ngbNavLink>Best Time To Travel List</a>
      <ng-template ngbNavContent>
        <app-update-best-time-to-travel
          (staticContentTab)="triggerTab($event)">
        </app-update-best-time-to-travel>
      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="tabs" class="mt-3"></div>
</div>