.customBorder {
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
}
.badge-success {
    background-color: green !important;
}
th {
    color: #012756;
    font-size: 14px;
}
td {
    color: #082b3a;
    font-size: 12px;
}