<div class="row mx-0 pt-2">
  <div class="col-md-12">

    <div class="card main-card mb-6">
      <div class="card-body">

        <ul
          ngbNav
          #tabs="ngbNav"
          class="tabs-animated custom_tab">

          <li [ngbNavItem]="'update'">

            <a ngbNavLink>
              <span>
                <i class="fa fa-save" aria-hidden="true"></i>
                &nbsp;
                {{ fromDeduct === 'deductCredit'
                    ? 'Deduct Credit Limit'
                    : 'Update Credit Limit' }}
              </span>
            </a>

            <ng-template ngbNavContent>

              <form [formGroup]="creditConfig" autocomplete="off">

                <div class="pb-3">
                  <div class="pl-0 card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                      <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"></i>

                      <span>
                        {{ fromDeduct === 'deductCredit'
                            ? 'Deduct Limit'
                            : 'Credit Limit Details' }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group required row">
                  <label class="col-sm-2 col-form-label text-capitalize">Agent Name</label>
                  <div class="col-sm-4">
                    <input formControlName="agent_name"
                           type="text"
                           readonly
                           class="form-control"
                           maxlength="250">
                  </div>
                </div>

                <div class="form-group required row">
                  <label class="col-sm-2 col-form-label text-capitalize">Agent Id</label>
                  <div class="col-sm-4">
                    <input formControlName="agent_uuid"
                           type="text"
                           readonly
                           class="form-control"
                           maxlength="250">
                  </div>
                </div>

                <div class="form-group required row">
                  <label class="col-sm-2 col-form-label text-capitalize">Balance</label>
                  <div class="col-sm-4">
                    <input formControlName="agent_balance"
                           type="text"
                           readonly
                           class="form-control"
                           maxlength="250">
                  </div>
                </div>

                <div class="form-group required row">
                  <label class="col-sm-2 col-form-label text-capitalize">Due amount</label>
                  <div class="col-sm-4">
                    <input formControlName="due_amount"
                           type="text"
                           readonly
                           class="form-control"
                           maxlength="250">
                  </div>
                </div>

                <div class="form-group required row">
                  <label class="col-sm-2 col-form-label text-capitalize">
                    {{ fromDeduct === 'deductCredit' ? 'Deduct Limit' : 'Credit Limit' }}
                  </label>
                  <div class="col-sm-4">
                    <input formControlName="credit_limit"
                           type="text"
                           class="form-control"
                           maxlength="8"
                           (keypress)="numberOnly($event)">
                  </div>
                </div>

                <div class="form-group row mb-n2">
                  <div class="col-sm-12 customCenter">
                    <button type="button"
                            [disabled]="!creditConfig.valid"
                            class="btn btn-sm btn-primary mr-1"
                            (click)="onSubmit()">
                      Submit
                    </button>

                    <button type="button"
                            class="btn btn-sm btn-primary"
                            (click)="goBack()">
                      Back
                    </button>
                  </div>
                </div>

              </form>

            </ng-template>

          </li>

        </ul>

        <div [ngbNavOutlet]="tabs"></div>

      </div>
    </div>

  </div>
</div>