<div class="">
    <div class="">
        <ngb-tabset class="tabs-animated custom_tab" (tabChange)="beforeChange(false)" #tabs
            [activeId]="activeIdString">
            <ngb-tab id="add_update_b2bUser">
                <ng-template ngbTabTitle>
                    <span>Create Supplier</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-create-supplier (b2bUserUpdate)="triggerTab($event)"></app-create-supplier>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="supplier_list">
                <ng-template ngbTabTitle>
                    <span> Supplier List</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-supplier-new-listing (b2bUserUpdate)="triggerTab($event)"></app-supplier-new-listing>
                    </ng-template>
            </ngb-tab>
 </ngb-tabset>
    </div>
</div>

