<div class="mb-3 btop">
    <div class="card-header-tab card-header col-12">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal col-6">
            <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i> {{'Activity List'}}
        </div>
        <div class="form-group mb-0 col-sm-6 col-6 p-0 float-right has-search d-flex justify-content-end">
            <div class="col-6">
                <span class="fa fa-search form-control-feedback"></span>
                <input class="form-control" type="text" name="Search" [(ngModel)]="searchText"
                    autocomplete="off" placeholder="Search">
            </div>
            
        </div>
    </div>


    <form>
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-hover" matSort >
                <thead>
                    <tr>
                        <th scope="col" class="text-left text-nowrap" *ngFor="let header of displayColumn;"
                            mat-sort-header="{{header.key}}">
                            {{header.value }} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="noData">
                        <td colspan="11">
                            <mat-spinner [diameter]="30" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
                        </td>
                    </tr>
                    <tr *ngIf="!noData && !respData.length">
                        <td colspan="11">
                            <h4 class="text-muted text-center">
                                No Data Found!
                            </h4>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let data of respData | filter:searchText | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize; let i=index;">
                        <td class="text-left text-muted">{{i+1}}.</td>
                        <td class="text-left"> {{data?.activity_name}} </td>
                        <td class="text-left"> {{data?.supplier_name}} </td>
                        <td class="text-left"> {{data?.prime_user_name}} </td>
                        <td class="text-left"> {{data?.distribution_channel}} </td>
                        <td class="text-left"> 
                            <span *ngFor="let data of data?.activity_types_name; let last = last">
                                {{data}}<span *ngIf="!last">, </span>
                            </span>    
                        </td>
                        <td class="text-left"> {{data?.activity_country_name}} </td>
                        <td class="text-left"> {{data?.activity_city_name}} </td>
                        <td class="text-left"> {{data?.activity_duration}} {{data?.activity_duration_type}} </td>
                        <td class="text-left"> {{data?.currency}} </td>
                        <td class="text-left"> {{getValidTillDate(data?.seasons)}} </td>
                         <td class="text-left" >
                            <label class="checkbox-label">
                                <input type="checkbox" class="checkbox-input" [checked]="data.publish_status === 1" (change)="enablePublish($event.target.checked,data)">
                                <span class="checkbox-text ml-2">Enable</span>
                            </label> 
                        </td>
                         <!-- <td class="text-left" *ngIf="loggedInUser.auth_role_id !== 7" >
                            <label class="checkbox-label">
                                <input type="checkbox" class="checkbox-input" [checked]="data.book_now_status === 1" (change)="enableBookNow($event.target.checked,data)">
                                <span class="checkbox-text ml-2">Enable</span>
                            </label> 
                        </td> -->
                        <td class="text-left">
                            <div ngbDropdown container="body"><button
                                    class="btnStyle" ngbDropdownToggle>
                                    {{'Action'}}
                                </button>
                                <div ngbDropdownMenu>
                                    <!-- <button ngbDropdownItem
                                        (click)="updateseasonPrice(data.activity_id,'add', data)">Add Price</button> -->
                                    <!-- <button ngbDropdownItem
                                        (click)="updateseasonPrice(data.activity_id,'update', data)">Update Price</button> -->
                                    <button ngbDropdownItem
                                        (click)="updateActivity(data)">Update Activity</button>
                                    <button ngbDropdownItem
                                        (click)="cancelDeletePopup(data.activity_id)">Delete</button>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer pb-0">
            <div class="d-flex w-100 justify-content-between">
                <ngb-pagination [collectionSize]="collectionSize" [maxSize]="12" [rotate]="true" [boundaryLinks]="true" [(page)]="page"
                    [pageSize]="pageSize">
                </ngb-pagination>
                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="20">20 items per page</option>
                    <option [ngValue]="50">50 items per page</option>
                </select>
            </div>
        </div>
    </form>
</div>

  <ngx-loading [show]="loading"
  [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px',fullScreenBackdrop:true}"
  [template]="loadingTemplate"></ngx-loading>