.cancellation-lable {
    font-weight: 700;
    font-size: 17px;
    text-decoration: underline;
}

.remove-reset-btn {
        background: #dc3545 !important;
    border: #dc3545 !important;
}

.wrapper1,
.wrapper2 {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.wrapper1 {
  height: 20px;
}

.div1 {
    width: 2500px;
    height: 20px;
    @media(max-width:767px){
        width: 1200px;
    }
  }
  .div2 {
    width: 2500px;
    overflow: hidden;
    @media(max-width:767px){
        width: 1200px;
    }
  }
  
.div2 .table-responsive {overflow: inherit;}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  