.form-group label {
    // font-weight: 400 !important;
    // color: #000000;
    color: #363636 !important;
    font-size: 14px;
}
.my-color{
    font-size: 14px;
}
input, textarea{
    color: #363636 !important;
    font-size: 14px ;
}
#agentName,#agentId{
    padding-left: 13px !important;
}

.customCenter .btn-primary:first-child {
    padding: 10px 15px;
    background: #fbc108 !important;
    border: 1px solid #fbc108 !important;
}
.customCenter .btn{ padding: 5px 15px!important;font-size: 16px!important;}