<app-wellness-crs-details *ngIf="isWellnessImage !== true && isRoomDetail !== true && isCenterTax !== true && showPrice !== true && isChildPolicy !== true" [hotelOne]="wellnessOne" ></app-wellness-crs-details>

<app-hotel-image *ngIf="isWellnessImage == true" (callResult)="wellNessImage($event)" [hotelOne]="wellnessOne" imageFor="wellness" ></app-hotel-image>
<app-wellness-package-rate *ngIf="isRoomDetail == true" [wellnessOne]="wellnessOne" (packageEvent)="showRoomImage($event)"></app-wellness-package-rate>
<app-wellness-price *ngIf="showPrice" [packageData]="wellnessOne"></app-wellness-price>
<!-- <app-room-detail *ngIf="isRoomDetail == true" [hotelOne]="wellnessOne" (showRoomImage)="showRoomImage($event)" ></app-room-detail> -->
<!-- <app-room-image *ngIf="isRoomImage == true"(isSeason)="showSeason($event)"[roomImage]="roomsData"></app-room-image>
<app-price-management *ngIf="isPriceManagement == true" [priceDataList]="priceDataList"[hotelOne]="hotelOne" (showRoomDetail)="showRoomDetailPrice($event)"[priceData]="roomsData" ></app-price-management>
<app-price  *ngIf="isPrice == true "(showRoomDetail)="showRoomDetail($event)"[priceData]="roomsData"[roomsEditData]="roomsEditData" [addnewRate]="addNewRate"[hotelOne]="hotelOne"></app-price> -->
<app-wellness-tax  *ngIf="isCenterTax == true" [wellnessOne]="wellnessOne"></app-wellness-tax>
<app-wellness-child-policy  *ngIf="isChildPolicy == true" [wellnessOne]="wellnessOne"></app-wellness-child-policy>
<!-- <app-children-pollicy *ngIf="isChildrenPollicy == true"[hotelOne]="hotelOne" (callResult)="childrenPollicy($event)"></app-children-pollicy>
<app-cancellation *ngIf="isCancellation == true"(goToRoomdetail)="goToRoomdetail($event)"[cancelData]="roomsData"></app-cancellation> -->
