<div class="row">
    <div class="col-md-12">
        <div class="card main-card mb-6">
            <div class="card-body">
                <ngb-tabset>
                    <ngb-tab title="List Users">
                        <ng-template ngbTabContent>
                            <app-users-list></app-users-list>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Add User">
                        <ng-template ngbTabContent>
                            <app-users-add></app-users-add>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>