// User Pages

.app-logo {
    //   height: $logo-height;
    //   width: $logo-width;
    height    : 41px;
    width     : 204px;
    background: url('~/assets/images/tour-bro.svg');
}

.app-logo-inverse {
    height    : $logo-height;
    width     : $logo-width;
    background: url('~/assets/images/tour-bro.svg');
}

.app-login-box {
    .app-logo {
        margin-bottom: $layout-spacer-lg;
    }

    h4 {
        margin-bottom: $layout-spacer-x;
        font-weight  : normal;

        div {
            opacity: .6;
        }

        span {
            font-size: $font-size-lg;
        }
    }
}
.btn-red{background-color: #FBC108!important;color: #fff;}
.btn-red:hover{color: #fff!important;}