<div class="">
    <div class="">
        <ul
            ngbNav
            #tabs="ngbNav"
            class="nav-tabs tabs-animated custom_tab"
            [activeId]="activeIdString"
            (navChange)="beforeChange(false)"
        >
            <li [ngbNavItem]="'add_update_staff'">
                <a ngbNavLink>Create Sub Admin/ Staff</a>
                <ng-template ngbNavContent>
                    <app-create-sub-admin
                        (staffUpdate)="triggerTab($event)">
                    </app-create-sub-admin>
                </ng-template>
            </li>

            <li [ngbNavItem]="'staff_list'">
                <a ngbNavLink>Staff List</a>
                <ng-template ngbNavContent>
                    <app-sub-admin-active-list
                        (staffUpdate)="triggerTab($event)">
                    </app-sub-admin-active-list>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="tabs"></div>
    </div>
</div>