<div class="">
    <div class="">
        <ngb-tabset class="tabs-animated tabs-animated-shadow" (tabChange)="beforeChange(false)" #tabs [activeId]="activeIdString">
            <ngb-tab id="add_update_staff">
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-edit"></i> &nbsp; Create Sub Admin/ Staff</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-create-sub-admin (staffUpdate)="triggerTab($event)"></app-create-sub-admin>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="staff_list">
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-users"></i> &nbsp;Staff List</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-sub-admin-active-list (staffUpdate)="triggerTab($event)"></app-sub-admin-active-list>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>