<div class="main-card mb-0 card forgot-password-section shadow-none">
    <div class="card-body p-0">
        <div class="card-title align-items-center d-flex px-3">
            <div class="card-profile">
                <img [src]="profile_logo" />
            </div>
            <div class="d-flex flex-column ml-3">
                <h5 class="title">Forgot Password?</h5>
            </div>        
        </div>
      
        <form [formGroup]="forgotPasswordForm" autocomplete="off" class="needs-validation px-4"
         novalidate (validSubmit)="onSubmit()">
            <div class="position-relative form-group mb-2">
                <label for="forgot_password" class="col-form-label">Email</label>
                    <input formControlName="forgot_password" placeholder="Enter Registered Email..." type="text" class="form-control">
                    <div *ngIf="errorMessage" class="alert alert-danger mt-2" >
                        {{ errorMessage }}
                    </div>
                    <div *ngIf="successMessage" class="alert alert-success mt-2">
                        {{ successMessage }}
                    </div>
            </div>
            <div class="position-relative form-group m-0">
                <div class="update-btn d-block text-center">
                    <button class="btn btn-secondary" style="background: #F9B501; border: 1px solid #F9B501;">Recover Password</button>&nbsp;
                    <button class="btn btn-default" style="background: #012756 !important; border: 1px solid #012756 !important;" (click)="diloagRef.close()">close</button>
                </div>
            </div>
        </form>
    </div>
</div>

