.nrm_input,
.src_btn {
    padding: 0.5rem 0.75rem 0.5rem 2.2rem;
    line-height: 1.7;
    height: calc(2.5em + 0.75rem + 2px);
}
.card {
    padding: 30px;
    font-family: 'Asap';
}
h5 {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.btncontainer {
    width: 100%;
    text-align: center;
    padding: 12px 0px;
}
.btnStyle {
    padding: 8px 30px;
    background: #000000;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}
label{
    color: #000000;
    font-weight: 600;
}
