<div class="row">
    <div class="col-md-12">
        <div class="card main-card mb-6">
            <div class="card-body">

                <ul ngbNav #nav="ngbNav" class="nav-tabs">

                    <li [ngbNavItem]="1">
                        <a ngbNavLink>
                            Bank Account Details
                        </a>

                        <ng-template ngbNavContent>
                            <app-list></app-list>
                        </ng-template>
                    </li>

                    <li [ngbNavItem]="2">
                        <a ngbNavLink>
                            Add/Update Bank Account Details
                        </a>

                        <ng-template ngbNavContent>
                            <app-add></app-add>
                        </ng-template>
                    </li>

                </ul>

                <div [ngbNavOutlet]="nav"></div>

            </div>
        </div>
    </div>
</div>