<div class="h-100">
    <div class="row h-100 no-gutters">
        <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
            <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                <div class="app-logo"></div>
                <h4 class="mb-0">
                    <div>Forgot Password,</div>
                    <span>Please change your password here.</span>
                </h4>
                <div class="divider"></div>
                <div>
                    <form autocomplete="off" class="needs-validation" [formGroup]="loginForm" novalidate
                        (validSubmit)="submit(loginForm)">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <div tabindex="-1" role="group"><label for="examplePassword">Password</label><input
                                            formControlName="password" id="examplePassword" name="password"
                                            type="password" placeholder="Password" class="form-control"></div>
                                    <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched) && errorMessage"
                                        class="alert alert-danger">
                                        <div>
                                            {{ errorMessage }}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="form-group">
                                    <div tabindex="-1" role="group"><label for="confirmPassword">Confirm
                                            Password</label><input formControlName="confirmPassword"
                                            id="confirmPassword" name="confirmPassword" type="password"
                                            placeholder="Confirm Password" class="form-control"
                                            (keyup)="isPasswordMatched()"></div>
                                    <div *ngIf="loginForm.get('confirmPassword').invalid && (loginForm.get('confirmPassword').dirty || loginForm.get('confirmPassword').touched) && errorMessage"
                                        class="alert alert-danger">
                                        <div>
                                            {{ errorMessage }}
                                        </div>
                                    </div>
                                    <div class="f-12 text-danger">
                                        <small *ngIf="isMatched">*Passwords do not match </small>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="d-flex align-items-center">
                            <div class="ml-auto">
                                <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>