<div class="">
  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab">

      <!-- Flight Markup (commented in original) -->
      <!--
      <li [ngbNavItem]="'flight'">
        <a ngbNavLink>
          <i class="fa fa-plane"></i>&nbsp; Flight Markup
        </a>
        <ng-template ngbNavContent>
          <app-b2c-flight></app-b2c-flight>
        </ng-template>
      </li>
      -->

      <li [ngbNavItem]="'stays'">
        <a ngbNavLink>
          Stays Markup
        </a>
        <ng-template ngbNavContent>
          <app-b2c-hotel></app-b2c-hotel>
        </ng-template>
      </li>

      <li [ngbNavItem]="'cabs'">
        <a ngbNavLink>
          Cabs Markup
        </a>
        <ng-template ngbNavContent>
          <app-b2c-transfer></app-b2c-transfer>
        </ng-template>
      </li>

      <li [ngbNavItem]="'packages'">
        <a ngbNavLink>
          Yatra Packages Markup
        </a>
        <ng-template ngbNavContent>
          <app-b2c-tour></app-b2c-tour>
        </ng-template>
      </li>

      <li [ngbNavItem]="'experiences'">
        <a ngbNavLink>
          Experiences Markup
        </a>
        <ng-template ngbNavContent>
          <app-b2c-activity></app-b2c-activity>
        </ng-template>
      </li>

      <li [ngbNavItem]="'bus'">
        <a ngbNavLink>
          Bus Markup
        </a>
        <ng-template ngbNavContent>
          <app-b2c-car></app-b2c-car>
        </ng-template>
      </li>
      <li [ngbNavItem]="'wellness'">
        <a ngbNavLink>
          Wellness Markup
        </a>
        <ng-template ngbNavContent>
          <app-b2c-wellness></app-b2c-wellness>
        </ng-template>
      </li>

      <li [ngbNavItem]="'heli'">
        <a ngbNavLink>
          Heli Markup
        </a>
        <ng-template ngbNavContent>
          <app-b2c-heli></app-b2c-heli>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>
</div>
