<div class="theme_bg" >
    <div class="my-0">
        <div class="card-body pb-3 nopad">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 nopad mt-3">
                        <app-tour-details></app-tour-details>
                    </div>
                </div>
            </div>
        </div>
        <ngx-loading [show]="loading"
            [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px',fullScreenBackdrop:true}"
            [template]="loadingTemplate"></ngx-loading>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 nopad">
                <div class="mb-2 mt-2">
                    <div class="pb-3">
                        <app-tour-addon ></app-tour-addon>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
