<div class="card p-4">
    <h5>Markup List</h5>
    <form [formGroup]="searchForm">
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="agent_id">Agent&nbsp;</label>
                <mat-form-field class="col-sm-12"  appearance="fill" style="padding-left: 0;">
                    <mat-label>Agent List</mat-label>
                    <input type="text" placeholder="Choose..."  class="text-capitalize" matInput formControlName="agent_id"
                        [matAutocomplete]="auto" [readonly]="addOrUpdate=='update'?true:null" >
                    <mat-autocomplete class="text-uppercase" #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
                        <mat-option *ngFor="let agent of respData "
                            [value]="agent.name" [id]="agent.id">
                            {{agent.name}} 
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="customCenter">
            <button type="submit" class="btnStyle" (click)="onSearchSubmit()">Search</button> &nbsp;
            <button type="button" class="btnStyle" (click)="onReset()">Reset</button>
        </div>
    </form>
</div>


<div class="card mt-3" *ngIf="!noData">
    <div class="card-header">
        <h5 class="card-title" *ngIf="agencyDetails">
            {{'Agency Name: '+ agencyDetails?.business_name}}
        </h5>
    </div>
    <table class="card-table table" matSort>
        <thead>
            <tr>
                <th scope="col" class="text-center" *ngFor="let header of displayColumn;">
                    {{header.value }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="noData || !markupList.length">
                <td colspan="11">

                    <h4 class="text-muted text-center">
                        No Data Found!
                    </h4>
                </td>
            </tr>

            <tr *ngFor="let data of markupList; let i = index">
                <td class="align-middle text-center">{{i+1}}.</td>
                <td class="align-middle text-center">
                    <img src="{{airlineLogoUrl+(data?.flightAirline?.code)+'.gif'}}"><br>
                    {{data?.flightAirline?.name}} ({{data?.flightAirline?.code}})
                </td>
                <td class="align-middle text-center">
                    {{data?.value_type}}
                </td>
                <td class="align-middle text-center">
                    {{data?.value}}
                </td>
                <td class="align-middle text-center">
                    <ng-container
                        *ngFor="let item of data?.segment_list | map: getFormattedSegment | keyvalue;let last=last">
                        {{item.key}} {{ (item.value)}} <span *ngIf="!last">|</span>
                    </ng-container>
                </td>
                <td class="align-middle text-center">
                    <button class="btn btn-sm btn-primary" (click)="updateMarkup(data)">
                        <i class="fa fa-edit text-nowrap">
                            {{'Update'}}
                        </i>
                    </button>&nbsp;
                    <button class="btn btn-sm btn-primary" (click)="deleteMarkup(data)">
                        <i class="fa fa-edit text-nowrap">
                            {{'Delete'}}
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>