/* Make mat-form-field full width */
.mat-form-field {
  width: 100%;
}

/* Match bootstrap input height */
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  height: 45px!important;
  // align-items: center;
  background: #fff!important;
  border:1px solid #C4B3EB;
  border-radius: 8px!important;
  padding: 0 10px;
}

/* Remove underline */
::ng-deep .mat-form-field-underline {
  display: none!important;
}

/* Remove ripple line */
.mat-form-field-ripple {
  display: none;
}

/* Match label spacing */
.mat-form-field-label {
  top: -6px !important;
}

/* Fix select text alignment */
.mat-select-trigger {
  height: 38px;
  display: flex;
  align-items: center;
}

/* Invalid state like bootstrap */
.mat-form-field.mat-form-field-invalid .mat-form-field-flex {
  border-color: #dc3545;
}

/* Placeholder color */
.mat-select-placeholder {
  color: #6c757d;
}
/* Change focus border color */
.mat-form-field.mat-focused .mat-form-field-flex {
  border-color: #ced4da !important; /* same as bootstrap */
}

/* Change label color when focused */
.mat-form-field.mat-focused .mat-form-field-label {
  color: #495057 !important;
}

/* Change dropdown arrow color */
.mat-select-arrow {
  color: #495057;
}

/* Change selected option highlight */
.mat-option.mat-selected {
  background-color: #e9ecef !important;
  color: #000 !important;
}

/* Hover color */
.mat-option:hover {
  background-color: #f8f9fa !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-label{
  display: none!important;
}
::ng-deep .mat-form-field-infix{border-top:none!important;padding: 5px 0px!important;}

.wrapper1,
.wrapper2 {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.wrapper1 {
  height: 20px;
}

.div1 {
    width: 2500px;
    height: 20px;
    @media(max-width:767px){
        width: 1200px;
    }
  }
  .div2 {
    width: 2500px;
    overflow: hidden;
    @media(max-width:767px){
        width: 1200px;
    }
  }
  
.div2 .table-responsive {overflow: inherit;}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  