<div class="">

  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange($event)">

      <li [ngbNavItem]="'add_update_bankaccount'">

        <a ngbNavLink>
          Add/Update Bank Account Details
        </a>

        <ng-template ngbNavContent>
          <app-add-update-bankaccount
            (activateTab)="activateTab($event)">
          </app-add-update-bankaccount>
        </ng-template>

      </li>

      <li [ngbNavItem]="'bankaccount_list'">

        <a ngbNavLink>
          Bank Account Details
        </a>

        <ng-template ngbNavContent>
          <app-account-details
            (toUpdate)="triggerTab($event)">
          </app-account-details>
        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>

</div>