<div class="row">
    <div class="col-md-12 col-lg-12">
        <form class="clearfix">
            <div class="row col-md-12 col-lg-12 m-0 p-0">
                <table style="table-layout: fixed; width: 100%;">
                    <tr>
                        <td>
                            <div class="table-responsive">
                                <table class="align-middle mb-0 table table-borderless table-striped table-hover"
                                    matSort (matSortChange)="sortData($event)">
                                    <thead>
                                        <tr class="p-2">
                                            <th scope="col" class="text-nowrap" *ngFor="let header of displayColumn;"
                                                mat-sort-header="{{header.key}}">
                                                {{header.value }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="noData">
                                            <td colspan="8">
                                                <mat-spinner [diameter]="30" style="margin:0 auto;"
                                                    mode="indeterminate"></mat-spinner>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!noData && !respData.length">
                                            <td colspan="8">
                                                <h4 class="text-muted text-center">
                                                    No Data Found!
                                                </h4>
                                            </td>
                                        </tr>    
                                        <tr class="p-2"
                                            *ngFor="let balance of respData | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize; let i=index;">
                                            <td class="text-left text-muted">{{i+1}}.</td>
                                            <td class="text-left"> 
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-3">
                                                            <div class="widget-content-left">
                                                                <img height="50" width="50" class="rounded" [src]="'http://.com:5013/sa/cms/cms-bankaccounts/' + balance['bank_logo']" alt="logo">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>    
                                            </td>
                                            <td class="text-left text-uppercase"> {{balance['account_name']}} </td>
                                            <td class="text-left"> {{balance['account_number']}} </td>
                                            <td class="text-left text-capitalize"> {{balance['bank_name']}}
                                            </td>
                                            <td class="text-left"> {{balance['branch_name']}} </td>
                                            <td class="text-left"> {{balance['swift_code']}}
                                            </td>
                                            <td class="text-left"> {{balance?.iban}}
                                            </td>
                                            <td class="text-left text-nowrap" *ngIf="balance?.ifsc_code">{{balance['ifsc_code']}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-footer pb-0">
                <div class="d-flex w-100 justify-content-between">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                    </ngb-pagination>
                    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                        <option [ngValue]="150">150 items per page</option>
                        <option [ngValue]="200">200 items per page</option>
                        <option [ngValue]="500">500 items per page</option>
                        <option [ngValue]="700">700 items per page</option>
                        <option [ngValue]="1000">1000 items per page</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>