tr.hide_all > td, td.hide_all{
        border-style:hidden;
      }

 tbody.hide_all > tr, td.hide_all{
        border-style:hidden;
      }     

      
      .trapezoid {
        border-bottom: 60px solid #082E53;
        border-left: 45px solid transparent;
        border-right: 0px solid transparent;
        height: 0;
        width: 100%;
        color: #fff;
        text-align: center;
        line-height: 60px;
        font-size: 19px;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-weight: 600;
      }