.logo-src {
    // height: $logo-height;
    // width: $logo-width;
    // background: url('~/assets/images/logo-inverse.png');
    //   height: 50px;
    //   width: -webkit-fill-available;
    //   background: url(~/assets/images/logo-inverse.png);
      background-repeat: no-repeat;
      background-size: contain;
  }
  .balance-dropdown .dropdown-toggle{
    //   text-transform: none;
  }
 
  .cart-btn h5 {
    font-size: 17px;
    position: absolute;
    right: 1px;
    top: -2px;
}