.wrapper1,
.wrapper2 {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.wrapper1 {
  height: 20px;
}

.div1 {
  width: 1500px;
  height: 20px;
}
.div2 {
  width: 1500px;
  overflow: hidden;
}
.div2 .table-responsive {overflow: inherit;}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }