<div>
  <div>

    <ul
      ngbNav
      #tabs="ngbNav"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange($event)"
      class="nav-tabs tabs-animated custom_tab crs-tab-ui">

      <li [ngbNavItem]="'add_update_staticPage'">
        <a ngbNavLink>Include Master</a>
        <ng-template ngbNavContent>
          <app-add-update-include-master
            (staticContentTab)="triggerTab($event)">
          </app-add-update-include-master>
        </ng-template>
      </li>

      <li [ngbNavItem]="'staticpage_list'">
        <a ngbNavLink>Include Master List</a>
        <ng-template ngbNavContent>
          <app-include-master-list
            (staticContentTab)="triggerTab($event)">
          </app-include-master-list>
        </ng-template>
      </li>

    </ul>

    <div [ngbNavOutlet]="tabs" class="mt-3"></div>

  </div>
</div>