<div class="">

  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange($event)">

      <li [ngbNavItem]="'newsletter'">

        <a ngbNavLink>
          NewsLetter Subscriptions
        </a>

        <ng-template ngbNavContent>
          <app-newsletter-subscription
            (updateSubscription)="triggerTab($event)">
          </app-newsletter-subscription>
        </ng-template>

      </li>

      <!-- Optional tab kept commented as-is -->
      <!--
      <li [ngbNavItem]="'deals'">

        <a ngbNavLink>
          <i class="fa fa-list"></i> &nbsp; Deals/Offers Subscription
        </a>

        <ng-template ngbNavContent>
          <app-deals-subscription
            (updateSubscription)="triggerTab($event)">
          </app-deals-subscription>
        </ng-template>

      </li>
      -->

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>

</div>