::ng-deep .cdk-overlay-container .copy-items-modal {    width: 540px !important; height: auto !important;}
::ng-deep .cdk-overlay-container .copy-items-modal .mat-dialog-container {padding: 20px 10px !important;}

.trip-modal-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
::ng-deep .cdk-overlay-dark-backdrop {    background: rgba(0,0,0,0.5)  !important;}
.trip-modal-container .trip-modal-title {
    text-align: center;
    background: #e3f6ff;
    width: 500px;
    margin: 0 auto 0px;
    border-radius: 8px;
    padding: 15px 0;
}
.trip-modal-container .trip-modal-title p {
    margin: 0;
}
.trip-modal-container img {
    margin: 40px auto;
    display: block;
}
.trip-modal-container .destination-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
    position: relative;
}
.trip-modal-container .destination-section .dash-line {
    left: 0;
    position: absolute;
    border-width: 2px;
    right: 0;
    width: 50%;
    margin: 0 auto;
    border-style: dashed;
    border-color: #000;
}
.trip-modal-container .destination-section .dest-from, .trip-modal-container .destination-section .dest-to {
    font-size: 14px !important;
    color: #2c2c2c;
    font-weight: 600;
}
.trip-modal-container .destination-section .dest-from p, .trip-modal-container .destination-section .dest-to p {
    margin-bottom: 0;
}
// .trip-modal-container .destination-section .dest-from p:last-child, .trip-modal-container .destination-section .dest-to p:last-child {
//     font-size: 15px;
// }
.trip-modal-container .destination-section .dest-icon img {
    max-width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
}
.trip-modal-container .dest-date {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
    font-weight: 600;
}
.trip-modal-container .dest-trip {
    font-size: 14px;
    color: #707070;
    margin-top: 0px;
}
.trip-modal-container .destination-section .dest-from p, .trip-modal-container .destination-section .dest-to p {
    margin-bottom: 0;
}
.trip-modal-container .destination-section .dest-icon img {
    max-width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
}
.trip-modal-container .dest-date {
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    font-weight: 600;
}
.trip-modal-container .dest-trip {
    font-size: 14px;
    color: #707070;
    margin-top: 0px;
}
.trip-modal-container .dest-date, .trip-modal-container .dest-trip {
    text-align: center;
}
.trip-modal-container .dest-date p, .trip-modal-container .dest-trip p {
    margin-bottom: 0;
}
.trip-modal-container .dest-class p {
    font-size: 12px;
    color: #707070;
    text-align: center;
    margin-bottom: 0;
}
.copy-items-modal .backdrop {
    position: relative !important;
    background-color: transparent !important;
}
.copy-items-modal .mat-dialog-container {
    position: relative;
    padding: 0;
    margin: auto;
}
.copy-items-modal .mat-dialog-container .mat-spinner {
    width: 25px !important;
    height: 25px !important;
    position: absolute;
    left: 48%;
    right: 0;
    top: 52%;
    transform: translate(-50%, -50%);
}
.copy-items-modal .mat-dialog-container .mat-spinner svg {
    width: 25px !important;
    height: 25px !important;
}