<div class="col-12 revenue-finance-top-sec mt-3 p-4">
  <div class="row">

    <!-- Header -->
    <div class="col-12">
      <span class="revenue-span">Revenue & Finance</span>
    </div>

    <!-- Left Section -->
    <div class="col-md-6">
      <div echarts [options]="options" class="pie-chart-card content-scrooling"></div>
      <div class="menu mt-2" *ngIf="isOpenRevenue" [@dropDownMenu]>

        <div echarts [options]="pieChart" class="menu-item pie-chart-card content-scrooling">
        </div>

      </div>
    </div>

    <!-- Right Section -->
    <div class="col-md-6">
      <div echarts [options]="vendorOptions" class="pie-chart-card content-scrooling"></div>

      <div class="menu mt-2" *ngIf="isOpen" [@dropDownMenu]>

        <div echarts [options]="pieChart" class="menu-item pie-chart-card content-scrooling">
        </div>

      </div>

    </div>



    <div class="d-flex px-3 g-3">
      <div class="d-flex align-items-center dashboard-cards1">
        <div class="head-sect p-12">
          <div class="row align-items-center" (click)="isOpenRevenue = !isOpenRevenue">
            <div class="col-10">
              <span class="f-17">Module-wise Revenue</span>
            </div>
            <div class="col-2 text-end">
              <span class="rotate-span" [class.rotate-arrow-span]="isOpenRevenue">
                >
              </span>
            </div>
          </div>
        </div>
        <div class="head-sect p-12">
          <div class="row align-items-center" (click)="isOpen = !isOpen">
            <div class="col-10">
              <span class="f-17">Vendor-wise Revenue</span>
            </div>
            <div class="col-2 text-end">
              <span class="rotate-span" [class.rotate-arrow-span]="isOpen">
                >
              </span>
            </div>
          </div>
        </div>
        <div class="head-sect p-12">
           <p class="f-15 mb-2">Gross Margin</p>
           <span class="num-span">{{ grossMargin | number:'1.2-2' }}</span>
        </div>
        <div class="head-sect p-12">
           <p class="f-15 mb-2">Refund Amount</p>
           <span class="num-span">{{ refundAmount | number:'1.2-2' }}</span>
        </div>
      </div>
    </div>



    <!-- Bottom Cards -->
    <div class="col-12 mt-3">

      <!-- Row 1 -->
       <div class="d-flex flex-wrap dashboard-cards">
         
             <div class="p-12 head-sect flex-column">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <span class="f-15">Payment Success Rate</span>
                  <select class="b-none">
                    <option>Today</option>
                    <option>Last Day</option>
                    <option>Last Week</option>
                    <option>Last Month</option>
                    <option>All</option>
                  </select>
               </div>
                <span class="num-span">{{ paymentSuccessRate | number:'1.2-2' }}</span>
             </div>
            <div class="p-12 head-sect flex-column">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <span class="f-15">Failed Payment Rate</span>
                  <select class="b-none">
                    <option>Today</option>
                    <option>Last Day</option>
                    <option>Last Week</option>
                    <option>Last Month</option>
                    <option>All</option>
                  </select>
               </div>

              <span class="num-span">{{ paymentFailedRate | number:'1.2-2' }}</span>

            </div>

           <div class="p-12 head-sect flex-column">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span class="f-15">Convenience Fee</span>
            </div>

            <span class="num-span">{{ convenienceFee | number:'1.2-2' }}</span>
          </div>
           <div class="p-12 head-sect flex-column">
                <div class="d-flex justify-content-between align-items-center mb-2">
              <span class="f-15">Customer Receivables</span>
            </div>

            <span class="num-span">{{ customerReceivables | number:'1.2-2' }}</span>
          </div>
          
          <div class="p-12 head-sect flex-column">
                <div class="d-flex justify-content-between align-items-center mb-2">
                <span class="f-15">Discount Cost</span>
                 <select class="b-none">
                  <option>Today</option>
                  <option>Last Day</option>
                  <option>Last Week</option>
                  <option>Last Month</option>
                  <option>All</option>
                </select>
              </div>
              <span class="num-span">{{ discountCost | number:'1.2-2' }}</span>
          </div>
          <div class="p-12 head-sect flex-column">
                <div class="d-flex justify-content-between align-items-center mb-2">
                <span class="f-15">Markup Earned</span>
                 <select class="b-none">
                  <option>Today</option>
                  <option>Last Day</option>
                  <option>Last Week</option>
                  <option>Last Month</option>
                  <option>All</option>
                  </select>
              </div>

              <span class="num-span">{{ markupEarned | number:'1.2-2' }}</span>
          </div>

      </div>


    </div>

  </div>
</div>