
p{background-color: #edeff1 !important;
    color: #022756 !important;
    width: 30rem !important;
    height: 3rem !important;
    padding-top: .8rem !important;
    text-align: center !important;
    font-weight: 500 !important;
    border-radius: .3rem !important;
    margin: 1rem !important;
    border: 1px solid #022756;
}
button.orangeButton{
    background-color: #189ad3 !important;
    color: white !important;
    border: none !important;
    padding: 0.4rem !important;
    font-weight: 500 !important;
    border-radius: 0.3rem 0.3rem !important;
    margin-top: 1.3rem !important;
    height: 2.3rem !important;
    // width: 4rem !important
}
.heading{
    display: flex !important ;
}

.entireScreen{
    background-color: #fff !important;
}
.continentInput{
    width: 300px;
    margin-left: 16rem;
}
.saveButton{
    margin-left: 21.5rem !important;
    margin-bottom: 1rem;
}
input{
    height: calc(2.25rem + 2px) ;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
   // margin-left: 10px;
}
table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid lightgray;
    padding: 8px;
}
.packageBtn{
    width: none !important;
}

.customeButton{
    border: none;
    background: transparent;
}

input[type=checkbox]{
    // height: 0px !important ;
    // margin-left: 0px !important;
    width: auto;
}

.radioSelection{
    display: flex;
    font-size: unset;
}
input[type="radio"] {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

// .activityInput{
//     maxlength:150px
// }
  
.boxInputList{
    overflow: auto;
    height: 150px;
    padding: 10px 15px;
    border: 2px solid whitesmoke;
    margin-left: 15px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li:hover{
    cursor: default;
}
.directionSymbol{
    margin: 10px;
    @media(max-width:767px){
        margin-left: 200px;
    }
}
button.orangeButton{
    background-color: #FE4865 !important;
    color: white !important;
    border: none !important;
    padding:5px 15px !important;
    font-weight: 500 !important;
    border-radius: 0.3rem 0.3rem !important;
    margin-top: 1rem !important;
    height: 40px;
    margin-bottom: 15px;
}

.buttonAllign{
    margin-left: 15.5rem;
    @media(max-width:767px){
        margin-left: unset;
    }
  }

  .text-warning{
   font-weight: 600;
    color: #d92550 !important;
    font-size: 13px;
  }