<div class="col-lg-12 col-md-12 py-3 m-0 custom-font">
    <ul
        ngbNav
        #nav="ngbNav"
        class="nav-tabs tabs-animated custom_tab"
    >
        <li
            [ngbNavItem]="i"
            *ngFor="let link of navLinks; let i = index"
        >
            <a ngbNavLink>
                <span class="text-uppercase">
                    <i class=""></i> &nbsp; {{ link.label }}
                </span>
            </a>

            <ng-template ngbNavContent>
                <div class="row card p-0 m-0" [ngSwitch]="link.component">
                    <div *ngSwitchCase="'creditHistory'" class="col-md-12 col-lg-12">
                        <app-sent-credit-limit></app-sent-credit-limit>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav"></div>
</div>