<div class="card mb-3">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>
            {{ 'Manage Social Networks' }}
        </div>
    </div>
    <form>
        <div class="table-responsive pb-3">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                    <tr class="p-2">
                        <th class="text-left text-nowrap" *ngFor="let header of displayColumn;">
                            {{header}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class=" p-2" *ngFor="let data of socialNetworkData; let i=index;">
                        <td class="text-left text-muted"># {{data['#']}}</td>
                        <td class="text-left"> {{data['Social Network']}} </td>
                        <td class="text-left">
                            <div class="input-group input-group-sm w-75">
                                <input type="text" class="form-control form-control-sm w-50"
                                    aria-label="Social Network Url" aria-describedby="basic-addon2"
                                    [value]="data['Url']">
                                <div class="input-group-append">
                                    <span class="input-group-text btn btn-primary btn-sm" id="basic-addon2">
                                        {{'Update'}}
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td scope="row" class="text-left">
                            <span title="Slide for Active/Deactive">
                                <mat-slide-toggle class="example-margin" [color]="''" [checked]="data['Action']">
                                </mat-slide-toggle>
                            </span>
                        </td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </form>
</div>