<div class="card">
    <div class="priceManagement">
        <div class="card-head">
            <h5 style="text-align: center; margin: 15px;">Price Management</h5>
        </div>
        <div class="custom-inline-form">
          <form [formGroup]="updatePriceManagementForm" (ngSubmit)="onUpdatePriceManagementFormSubmit()">
            <div class="row col-12 p-0">
                <div class="col-4 p-0">
                    <label for="fromDate" class="col-sm-12 col-form-label font-weight-bold">From Date  <sup
                        class="text-danger f-16"> * </sup> </label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="fromDate" formControlName="fromDate" 
                        [bsConfig]="bsDateConf" bsDatepicker [minDate]="minDate" placeholder="dd/mm/yyyy"
                        (bsValueChange)="onFromDateChange()">
                    </div>
                    </div>
                    <div class="col-4">
                        <label for="toDate" class="col-sm-12 col-form-label font-weight-bold" >To Date  <sup
                            class="text-danger f-16"> * </sup> </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="toDate" formControlName="toDate"
                            [bsConfig]="bsDateConf" bsDatepicker [minDate]="minToDate" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="adultPrice" class="col-sm-12 col-form-label font-weight-bold">Adult Price ({{currentUser?.currency ? currentUser?.currency : 'GBP'}})  <sup
                            class="text-danger f-16"> * </sup> </label> 
                        <div class="col-sm-12">
                            <input type="number" [min]="0" class="form-control" id="adultPrice" formControlName="adultPrice">
                        </div>
                    </div>
            </div>

           

            <div class="form-group required row" >
                <label for="childPrice" style="margin-bottom: 0px !important;" class="col-sm-4 col-form-label font-weight-bold">
                Child Price <sup class="text-danger f-16"> * </sup> ({{currentUser?.currency ? currentUser?.currency : 'GBP'}})
                </label>
                <div class="col-sm-12">
                <div formArrayName="childPrice" class=" col-12 pr-0 mt-0">
                    <div *ngFor="let policy of childPrices.controls; let i = index" [formGroupName]="i" class="policy-block p-0 row col-12 mb-3 mt-2 ">
                    <div class="form-group col-12 row">
                        <div class="col-4 p-0">
                            <label class="px-2 control-label" for="max_capacity">
                                From Age
                            <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-12 pl-2">
                                <select formControlName="from_age" class="form-control pr-2"
                                    >
                                    <option value="" disabled selected>From Age</option>
                                    <option *ngFor="let age of fromAgeRange" [value]="age"
                                    [disabled]="i > 0 && age <= childPrices.at(i-1)?.get('to_age')?.value">
                                        {{age}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <label class="px-3 control-label" for="max_capacity">
                                Before Age
                            <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-12">
                                <select formControlName="to_age" (change)="onToAgeSelect($event)" class="form-control"
                                    >
                                    <option value="" disabled selected>Before Age</option>
                                    <option *ngFor="let age of fromAgeRange" [value]="age"
                                    [disabled]="age <= childPrices.at(i)?.get('from_age')?.value">
                                        {{age}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-4 p-0">
                        <label for="adultPrice" class="px-3 control-label">
                            Price <sup class="text-danger f-16"> * </sup>
                            </label>
                        <div class="col-12 row">
                            <div class="col-sm-6 col-6">
                            <input type="number" [min]="0" class="form-control" id="adultPrice" formControlName="price">
                            </div>
                            <div class="col-6 p-0">
                            <button type="button" class="btnStyle mr-2" (click)="addChildPrice()" *ngIf="i===0">Add</button>
                            <button type="button" class="btnStyle remove-btn" (click)="removePricing(i)" *ngIf="i>0">Remove</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
          </div>

           <div class="form-group row">
                <div class="col-12">
                     <label for="is_refundable" class="col-sm-12 col-form-label font-weight-bold">Refundable  </label>
                    <label class="d-grid">
                        <input class="ml-4" type="checkbox" [value]="false" formControlName="is_refundable" (change)="handleCheckboxClick($event)">
                    </label>
                </div>
            </div>

          <div class="form-group required row" *ngIf="updatePriceManagementForm?.get('is_refundable')?.value">
                <label for="childPrice" style="margin-bottom: 0px !important;" class="col-sm-4 col-form-label font-weight-bold">
                  Cancellation Policies
                </label>
                <div class="col-sm-12">
                  <div formArrayName="cancellation_policies" class=" col-12 pr-0 mt-0">
                    <div *ngFor="let policy of cancellationPolicies.controls; let i = index" [formGroupName]="i"
                      class="policy-block p-0 row col-12 mb-3 mt-2">
                      <div class="form-group col-12 row">
                        <div class="col-3 p-0">
                          <label class="px-2 control-label">
                            RF Before Days
                          </label>
                          <div class="col-sm-12 pl-2">
                            <input value="" formControlName="date_from" type="number" placeholder="Refundable Before Days"
                              class="form-control" />
                          </div>
                        </div>
                        <div class="col-3 p-0">
                          <label class="px-3 control-label">
                            Charge fee (%)
                          </label>
                          <div class="col-sm-12">
                            <input value="" formControlName="charge" type="number" placeholder="charge" class="form-control" />
                          </div>
                        </div>
                        
                        <div class="col-3 px-0">
                            <label class="control-label px-3">
                                Timing
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-12 row pr-0">
                                <select formControlName="time"  class="form-control"
                                >
                                <option value="" disabled selected>Select Time</option>
                                <option *ngFor="let age of timingList" [value]="age.value"
                                >
                                    {{age.value}}
                                </option>
                            </select>
                            </div>

                        </div>

                        <!-- <div class="col-2 d-flex justify-content-center align-items-end">
              
                          <label class="d-grid">
                            <span class="text" style="margin-left: 4px;">Percent </span> <br />
                            <input class="ml-4" type="radio" value="Percentage" formControlName="charge_type">
                          </label>
                          <label class="d-grid">
                            <span class="text" style="margin-left: 4px;">Amount (+)</span> <br />
                            <input class="ml-4" type="radio" value="Plus" formControlName="charge_type">
                          </label>
                        </div> -->
                        <div class="col-2 d-flex justify-content-center align-items-end p-0">
                          <button type="button" class="btnStyle mr-2" (click)="addCancellationPolicies()" *ngIf="i===0">Add</button>
                          <button type="button" class="btnStyle remove-btn" (click)="removeCancellationPolicies(i)"
                            *ngIf="i>0">Remove</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>


            <div class="saveButton">
                <button type="submit" class="orangeButton">Update</button>
                <button type="button" class="orangeButton" routerLink="/tour-crs/tour-list/">Go to Tour List</button>
            </div>
          </form>
        </div>
    </div>
  </div>
