<div class="card adminInner">
  <div class="card-header mb-3">
    <h5>Edit Package Country</h5>
  </div>

  <form [formGroup]="countryForm" (ngSubmit)="onCountySave()">
<div class="form-row">
    <!-- Continent -->
    <div class="col-md-4">
      <label>Choose Continent</label>
      <select formControlName="continentName" (change)="selectedContinent($event.target.value)">
        <option value="" disabled>Choose Continent</option>
        <option *ngFor="let option of continentDataList" [value]="option.id">
          {{ option.name }}
        </option>
      </select>
       <div *ngIf="f.continentName.touched && f.continentName.errors">
      <small class="errorMessage">*Please select continent</small>
    </div>

    </div>
   
    <!-- Country Name -->
    <div class="col-md-4">
      <label>Country Name</label>
      <input type="text" formControlName="countryName" (input)="validateInput()">
      <div *ngIf="f.countryName.touched && f.countryName.errors">
      <small *ngIf="f.countryName.errors.required" class="errorMessage">*Required</small>
      <small *ngIf="f.countryName.errors.invalidString" class="errorMessage">*Numbers not allowed</small>
      <small *ngIf="f.countryName.errors.startOrEndSpace" class="errorMessage">*No space at start/end</small>
    </div>
    </div>
    

    <!-- ISO2 -->
    <div class="col-md-4">
      <label>ISO2</label>
      <input type="text" formControlName="iso2">
      <div *ngIf="f.iso2.touched && f.iso2.errors">
      <small class="errorMessage">*2 uppercase letters</small>
    </div>
    </div>
    

    <!-- ISO3 -->
    <div class="col-md-4">
      <label>ISO3</label>
      <input type="text" formControlName="iso3">
       <div *ngIf="f.iso3.touched && f.iso3.errors">
      <small class="errorMessage">*3 uppercase letters</small>
    </div>
    </div>
   

    <!-- Phone -->
    <div class="col-md-4">
      <label>Phone Code</label>
      <input type="text" formControlName="phonecode">
    </div>

    <!-- Currency -->
    <div class="col-md-4">
      <label>Currency Name</label>
      <input type="text" formControlName="currency_name">
    </div>

    <div class="col-md-4">
      <label>Currency Code</label>
      <input type="text" formControlName="currency">
    </div>

    <div class="col-md-4">
      <label>Currency Symbol</label>
      <input type="text" formControlName="currency_symbol">
    </div>

    <!-- Lat Long -->
    <div class="col-md-4">
      <label>Latitude</label>
      <input type="text" formControlName="latitude">
    </div>

    <div class="col-md-4">
      <label>Longitude</label>
      <input type="text" formControlName="longitude">
    </div>
<div class="col-md-4">
  <label class="font-weight-bold">Status</label>

  <div class="toggleSwitch">
    <label class="switch">
      <input
        type="checkbox"
        [checked]="countryForm.get('status').value === 1"
        (change)="onStatusChange($event)"
      >
      <span class="slider round"></span>
    </label>

    <span class="ml-2">
      {{ countryForm.get('status').value === 1 ? 'Active' : 'Inactive' }}
    </span>
  </div>
</div>
    
</div>
<!-- Buttons -->
    <div class="saveButton my-3">
      <button type="submit" class="btn-primary mr-2">Save</button>
      <button type="button" class="btn-secondary packageBtn" routerLink="/tour-crs/country">
        Package Country
      </button>
    </div>
  </form>
</div>