<div class="entireScreen  p-0 col-md-12 col-lg-12">
    <div class="heading">
        <p>Edit Package Country</p>
    </div>
    <div >
        <form [formGroup]="countryForm" (ngSubmit)="onCountySave()">
            <div class="countryInput">
                <label for="country" class="font-weight-bold" > Tour Country</label>
                <input type="text" placeholder="Enter Package Country"  formControlName="countryName" maxlength="150"
                (input)="validateInput()">
            </div>
            <div *ngIf="countryForm.controls.countryName.errors && countryForm.controls.countryName.touched">
                <div *ngIf="countryForm.controls.countryName.errors.required" class="errorMessage">
                  *Please enter package country name.
                </div>
                <div *ngIf="countryForm.controls.countryName.errors.invalidString" class="errorMessage">
                    *Number(s) are not allowed.
                </div>
                <div *ngIf="countryForm.controls.countryName.errors.startOrEndSpace"  class="errorMessage">
                    *Empty space(s) in start and end are not allowed.
                </div>
            </div>
            <div class="saveButton">
                <button  class="btn btn-sm btn-primary mr-1 orangeButton">{{'Save'}}
                </button>
                <button class="btn btn-sm btn-primary mr-1 orangeButton packageBtn" routerLink="/tour-crs/country"> {{'Package Country'}}  </button>
            </div>
        </form>
    </div>
</div>