.nrm_input,
.src_btn {
    padding    : 0.5rem 0.75rem 0.5rem 2.2rem;
    line-height: 1.7;
    height     : calc(2.5em + 0.75rem + 2px);
}

.card {
    padding    : 30px;
    font-family: 'Asap';
}

.droplocations {
    background: #fbfbfb;
    position  : relative;
    width     : 100%;
    max-height: 300px;
    overflow  : auto;
    display   : block;
}

.droplocations li {
    display   : block;
    padding   : 10px 15px;
    color     : #000;
    font-size : 14px;
    box-shadow: 0px 0px 1px 0px #8c8c8c;
}

h5 {
    width         : 100%;
    border-bottom : 1px solid lightgrey;
    margin-bottom : 10px;
    padding-bottom: 10px;
}

.btncontainer {
    width     : 100%;
    text-align: center;
    padding   : 12px 0px;
}

label {
    color      : #000000;
    font-weight: 600;
}

.css {
    background   : #000000;
    color        : #ffffff;
    font-family  : "Asap";
    border-radius: 5px;
}