.btnStyle {
    padding: 5px 12px;
    background: #012756;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    margin: 0px 4px;
}
table {
    width: 100%;
}
th{
    color: #012756;
}
.exportWrapper{
    width:100%;
    font-weight: bold;
    display: inline-block;
    margin-top: 50px;
}
.exportWrapper p{
    color: #012756;
    float: left;
}

.exportWrapper button{
    float: right;
    background-color: #012756;
    padding: 5px 12px;
    border: #012756;
    margin: 5px;
    color: #ffffff;
    border-radius: 5px;
}
.text-left{
    span{color: #012756;}
}

.wrapper1,
.wrapper2 {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.wrapper1 {
  height: 20px;
}

.div1 {
  width: 2000px;
  height: 20px;
}
.div2 {
  width: 2000px;
  overflow: hidden;
}
.div2 .table-responsive {overflow: inherit;}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }