th{
    color: #012756;
}

.move-right {
    position: absolute;
    right: 22px;
}

.modal {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 60%;
    margin: 0 auto;
}

.wallet {
    background-image: url('../../../../../assets/images/wallet.png');
    width           : 130px;
}

.btnStyle {border: none;
    background: #012756;
    color: #fff;
    padding: 4px 7px;
    border-radius: 5px;}


    .div1 {
        width: 4000px !important;
        overflow: hidden;
    }

    .div2 {
        width: 4000px !important;
        overflow: hidden;
    }

    ::ng-deep .page-item.active .page-link, ::ng-deep .pagination .active.page-number .page-link {
        z-index: 1;
        color: #fff;
        background-color: #0683c2 !important;
        border-color: #0683c2 !important;
    }

    .form-group .btn-primary:first-child {
        padding: 6px 15px !important;
        background: #fbc108 !important;font-size: 16px!important;
        border: 1px solid #fbc108 !important;
    }
    .card {
        border-radius: unset;
        float: left;
        width: 100%;
        margin-top: 20px;
    }

    .customer-email {
        background: #efefef;
        height: 30px;
        width: 70%;
        border-radius: 4px;
    }