<div class="entireScreen  p-0 col-md-12 col-lg-12">
    <div class="heading">
        <p>Country</p>
        <button class="orangeButton" type="submit" (click)="onAddButtonClicked()">Add</button>
    </div>
    <app-add-country *ngIf="enabledForm && !editForm" (insertedRecord)="insertedRecordReceived($event)"> </app-add-country>
</div>
<div class="entireScreen">
    <div class="form-group mb-0 col-sm-3 p-0 float-right search">
        <input class="form-control" type="text" name="Search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search">
    </div>
    <div class="wrapper1" id="notifications-list" (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft" #scrollOne >
        <div class="div1"></div>
   </div>
    <div class="wrapper2" #scrollTwo (scroll)="scrollOne.scrollLeft = scrollTwo.scrollLeft">
    <div *ngIf="!editForm" class="div2 invisible-scrollbar">
        <div class="table-responsive">
              <table class="table table-borderless table-striped table-hover" matSort (matSortChange)="sortData($event)" >
                  <thead>
                      <tr class="p-2">
                      <th scope="col" class="text-left text-nowrap" *ngFor="let header of displayColumn" mat-sort-header="{{header}}">
                          {{ header }}
                      </th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="searchSpin">
                        <td colspan="12">
                            <mat-spinner [diameter]="30" style="margin:0 auto;"
                                mode="indeterminate"></mat-spinner>
                        </td>
                    </tr>
                    <tr *ngIf="!searchSpin && !tourRegionCounrtyDataList.length">
                        <td colspan="11">
                            <h4 class="text-muted text-center">
                                No Data Found!
                            </h4>
                        </td>
                    </tr>
                      <tr *ngFor="let item of tourRegionCounrtyDataList | filter:searchText | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize; let i=index">
                              <td class="text-left text-muted">{{(i+1) }}</td>
                              <td class="text-left">{{ item.continent_name }}</td>
                              <td class="text-left">{{ item.name }}</td>
                              <td [ngStyle]="{ 'color': item.status==1 ? 'green' : 'red' }" class="text-left">{{ item.status==1 ? 'Active' : 'In-Active' }}</td>
                              <td class="text-left">
                                <button *ngIf="item.status==1" class="btn btn-sm btn-primary mr-1" (click)="onStateChange(item)" >{{'De-Active'}}
                                </button>
                                <button *ngIf="item.status!=1" class="btn btn-sm btn-primary mr-1" (click)="onStateChange(item)" > {{'Active'}}
                                </button>
                              </td>
                              <td class="text-left buttontdsize" >
                                  <button  class="btn btn-sm btn-primary mr-1" routerLink="/tour-crs/country/update" [queryParams]="item" >{{'Edit'}}
                                  </button>
                                  <button class="btn btn-sm btn-primary mr-1" (click)="onDeletedRecord(item)"> {{'Delete'}}  </button>
                              </td>
                      </tr>
                  </tbody>
              </table>
              <div class="card-footer pb-0">
                <div class="d-flex w-100 justify-content-between">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [pageSize]="pageSize">
                    </ngb-pagination>
                    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                        <option [ngValue]="100">100 items per page</option>
                        <option [ngValue]="150">150 items per page</option>
                        <option [ngValue]="200">200 items per page</option>
                        <option [ngValue]="500">500 items per page</option>
                        <option [ngValue]="700">700 items per page</option>
                        <option [ngValue]="1000">1000 items per page</option>
                    </select>
                </div>
              </div>
          </div>
    </div>
</div>

  
