<div class="card mb-3">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>
            {{'Agent Balance Request'}}
        </div>
    </div>
    <form>
        <div class="p-2">
            <div class="form-group form-inline mb-0">
                Full text search:
                <input class="form-control ml-2" type="text" name="searchTerm"
                    (keyup)="applyFilter($event.target.value)" />
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-hover" matSort (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <th scope="col" class="text-left text-nowrap" *ngFor="let header of displayColumn;"
                            mat-sort-header="{{header.key}}">
                            {{header.value }} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="noData">
                        <td colspan="11">
                            <mat-spinner [diameter]="30" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let data of respData | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize; let i=index;">
                        <td class="text-left text-muted">{{i+1}}.</td>
                        <td class="text-left"> {{data['system_transaction_id']}} </td>
                        <td class="text-left"> {{data['transaction_type']}} </td>
                        <td class="text-left"> {{data['requested_from']}} </td>
                        <td class="text-left"> {{data['amount']}} </td>
                        <td class="text-left">
                            <span *ngIf="data['status'] == 'pending'" class="badge badge-success">
                                {{data['status'] | uppercase}} </span>
                            <span *ngIf="data['status'] == 'BOOKING_HOLD'" class="badge badge-warning">
                                {{data['status']}} </span>
                            <span *ngIf="data['status'] == 'BOOKING_FAILED'" class="badge badge-danger">
                                {{data['status']}} </span>
                        </td>
                        <td class="text-left"> {{data['created_datetime'] * 1000 | date: 'medium'}} </td>
                        <td class="text-left"> {{data['updated_datetime'] * 1000 | date: 'medium'}} </td>
                        <td class="text-left"> <span [innerHTML]="data['update_remarks']"></span> </td>
                        <td class="text-left"> {{data['processedby']}} </td>
                        <td class="text-left"> {{data['remarks']}} </td>
                        <td class="text-left" *ngIf="data['status'] == 'pending'; else noShow">
                            <button color="primary" mat-raised-button
                                style="height: 28px; line-height:unset; padding: 0px 10px;"
                                (click)="openDialog(1, data)"> {{'Process'}} </button>
                        </td>
                        <ng-template #noShow>
                            <td class="text-left"> {{''}} </td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer pb-0">
            <div class="d-flex w-100 justify-content-between">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>
                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="4">4 items per page</option>
                    <option [ngValue]="6">6 items per page</option>
                </select>
            </div>
        </div>
    </form>
</div>