.bgtop_minus {
 /*margin-top: -73px;*/
 padding-top: 4px;
 background: #fff;
}
.qodef-bg-parallax-image {     position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 490px;
    background-color: #f6f6f6;
    background-position: center 0;
    background-repeat: no-repeat;
    z-index: 101;
    /*background-attachment: fixed;*/
} 


/*.cstm_nav .navbar-nav li.mainmenu.active a.nav-link:after {
   	    border-bottom: 1.5px solid #000;
}.cstm_nav .navbar-nav li.mainmenu a.nav-link:after {
   	    border-bottom: 1.5px solid #000;
}*/