::ng-deep {
    .mat-dialog-actions{
        display: flex !important;
        flex-flow: row-reverse !important;
    }
}

.bg_back{ background: rgba(0,0,0,0.6);}
.title_bg{background: #082E53;}
.title_bg h5 { color: #fff;}
.close span { color: #fff;}
.book_btn { background: #fbc10a; color: #fff; padding:7px 22px; border:1px solid #fbc10a; font-size: 15px;}
.book_btn1 { background: #092e53; color: #fff; padding:7px 22px; border:1px solid #092e53; font-size: 15px;}
.book_btn:focus, .book_btn1:focus { box-shadow: none !important; }
a {
    color: #092e53 !important;
    text-decoration: none !important;
    cursor: pointer !important;
  }
  
  a:hover {
    color: #092e53 !important;
  }
  
  .fa-plus--lineHeight {
    line-height: 30px;
  }
  
  ::ng-deep {
    .tooltip-inner {
      max-width: 500px;
      /* If max-width does not work, try using width instead */
      width: 500px;
      // background-color: #c2c2c2;
      color: #000000;
      text-align: left;
      background: none repeat scroll 0 0 #fff;
      border-radius: 3px;
      box-shadow: 0 0 10px -5px #000;
  
      .bg {
        background: none repeat scroll 0 0 #effcb4;
      }
  
      .text-dark {
          span {
            border-bottom: solid 2px #3022ff !important;
          }
      } 
  
      i {
        color: #eaf822;
      }
    }
  }
  
  .cardList{
      padding: 0px;
      display: inline-block;
  }
  .cardListHead{
      padding: 10px 25px;
      border-bottom: 1px solid #D2D2D2;
  }
  .cardListBody{
      width: 100%;
      display: table;
      padding: 0px 15px;
  }
  .cardList b{
      padding: 0px 4px;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Asap';
      color: #001D46;
  }
  .padlt {padding-left: 50px !important; padding-right: 0px;}
  .fas,.fa, .fal{
      color: #092e53;
  }
  .cellStyles{
      padding: 0px;
  }
  .colTimeStyle{
      display: table-cell;
      padding: 5px 0px; line-height: normal;
      float: left;
  }
  .colImgStyle{
      display: table-cell;
      padding: 3px 8px 0px 0px; line-height: normal;
      float: left;
  }
  .review_txt{
  font-size: 25px; margin-top: 20px;
      font-weight: 500;
      color: #092e53;}
  h5{
    padding: 2px;
    font-weight: 600;
    font-size: 15px;
    color: #001D46;
  }
  .cus_details{ font-size: 14px;}
  .cus_details p{ margin-bottom: 0px;}
  .cus_details label { font-weight: 500;}
  .loginr{padding: 10px 25px;
    font-size: 14px;
    font-weight: 500;
    background: #FE4865;
    border-radius: 5px;
    color: #fff !important;
    line-height: 21px;
    display: inline-block;}
    .loginr:hover{ color: #fff !important; }
  .form-group label { font-size: 13px; color: #000; margin-bottom: 2px; font-weight: 600;}
  .pass_de { color: #C5C5C5; font-size: 12px;}
  .continue{
    padding: 10px 30px;
    background: #092e53;
  }
  .card { border-radius: 8px !important;}
  .payinput{
    border-radius: 0px;
    color: #333333;
    display: block;
    -webkit-appearance: none;
    height: 40px;
    overflow: hidden;
    padding: 6px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #C5C5C5;
    border-radius: 10px !important;
    font-size: 14px;
  }
  
  label{
      color: #092e53;
      padding-left: 0px;
  }
  .customSquaredThree label { padding-left: 5px;}
  .mb-3{
      margin-bottom: 1rem;
  }
  .srch_btn { color: #fff; background:#092e53;}
  .infoQsn{
      width: 100% !important;
      float: right !important;
      padding: 0px 0px 5px 0px !important;
  }
  .text-blue-theme{
      color: #092e53;
  }
  .btn_book{
      display: flex;
      justify-content: flex-end;
      // margin-top: 10px;
  }
  .colorbl{
      color: #000;
  }
  
  
  .padleftpay {
    padding: 0 0px 0 0;
  }
  
  .leftboks {
    float: left;
    width: 100%;
  }
  
  .comon_backbg {
    background: #fff none repeat scroll 0 0;
  
    float: left;
    margin: 0 0 15px;
    width: 100%;
  }

  .btn-link{padding: 2px 15px;
    color: #fff; font-size: 14px;
    background: #092b3a;}
  
  .inpagehed {
    color: #000;
    display: block;
    font-size: 16px;
    margin: 0 0 0px;
    border-radius: 0px;
    overflow: hidden;
    // background: #000 none repeat scroll 0 0;
    padding: 20px 0px;
    height: 38px;
    line-height: 1.1; margin-bottom: 12px;
    font-weight: 600;
  }
  
  .sectionbuk {
    border-radius: 8px !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  }
  
  .sectionbuk h6 { padding:15px 16px;  float: left; width: 100%;    font-weight: 600;  margin-bottom: 20px;   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;}
  
  .onedept {
    display: block;
    overflow: hidden;
  }
  
  .evryicon {
    border-radius: 30px;
    color: #fff;
    float: left;
    height: 45px;
    line-height: 49px;
    margin-right: 10px;
    text-align: center;
    width: 45px;
  }
  
  .evryicon .fa {
    font-size: 20px;
  }
  
  .pasenger_location {
    display: block;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .evryicon .arln-logo img {
    width: 45px;
    height: 45px;
    vertical-align: top;
  }
  
  .inpagehedbuk {
    color: #000;
    display: table;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 0 0;
    overflow: hidden;
    padding: 0px 0px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 7px;
    font-weight: 600;
    font-size: 19px;
    color: #000;
    width: 100%;
    text-transform: uppercase;
  }
  
  .hwonum {
    background: #d5d5d5 none repeat scroll 0 0;
    border-radius: 0px;
    color: #000;
    float: left;
    font-size: 14px;
    line-height: normal;
    margin: 3px 5px 0 0;
    padding: 2px 10px;
  }
  
  .payrow {
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 1px;
  }
  
  .repeatprows {
    float: left;
    margin: 0px 0;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
  }
  
  .continue {
    padding: 10px 30px;
    background: #092e53;
  }
  
  ::ng-deep bs-datepicker-container { top:10px !important; border-radius: 10px; overflow: hidden; box-shadow: 0px 1px 6px 0px #b0b0b0;}
  ::ng-deep .bs-datepicker-container { padding: 0px !important; }
  ::ng-deep .bs-datepicker-head  {background-color: #092e53 !important;}
  
  .paymentpage .set_margin {
    padding: 0px 4px 0 0;
  }
  
  .lokter {
    text-align: center;
    width: 100%;
  }
  
  .protect {
    padding: 7px 0px;
    font-size: 17px;
    color: #20364f;
    font-weight: 500;
  }
  #active_insurance {
    margin-top: 20px;
  }
  #active_insurance.hide {
    display: none;
  }
  #active_insurance h3 {
    font-size: 17px;
  }
  
  .tot_amnt {
    margin-top: 10px;
  }
  
  .fldet .labltowr {
    padding: 12px;
    color: #000;
    font-size: 13px;
    font-weight: 500 !important;
    line-height: 25px;
  }
  
  #aig_product {
    font-weight: 400;
  }
  
  .max_wdt {
    min-width: 290px;
    padding: 6px;
    font-size: 14px !important;
    display: inline-block;
    vertical-align: middle;
  }
  
  // .ins_txt {
  //     font-size: 14px;
  //     color: #000; margin-bottom: 4px; margin-top: 4px;s
  // }
  // .radio_sel label { line-height: 26px; margin-top: 5px;
  //     font-size: 15px; }
  .lokter .fa {
    /*background: #4169e1 none repeat scroll 0 0;*/
    border-radius: 100%;
    color: royalblue;
    font-size: 14px;
    height: 32px;
    line-height: 31px;
    width: 32px;
    float: left;
    margin: 4px auto;
    border-radius: 0px;
    color: royalblue;
    font-size: 18px;
    height: 32px;
    line-height: 27px;
    width: 32px;
    float: left;
    margin: 4px auto;
  }
  
  .whoare {
    color: #444;
    float: left;
    margin-left: 3px;
    line-height: 37px;
    font-weight: 600;
    font-size: 14px;
  }
  
  .paylabel {
    color: #000;
    display: block;
    margin: 5px 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
  }
  
  .paymentpage .req_star {
    color: #f00;
    font-size: 23px;
    position: absolute;
    top: 0px;
  }
  
  .selectedwrap {
    margin-bottom: 5px;
    position: relative;
  }
  
  .selectedwrap::after {
    bottom: 1px;
    color: rgb(102, 102, 102);
    content: "\f0d7";
    cursor: pointer;
    font-family: "Font Awesome 5 Pro";
    font-size: 14px;
    height: 30px;
    line-height: 40px;
    pointer-events: none;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 1px;
    font-weight: 600;
    width: 19px !important;
    background: none 0px 0px repeat scroll rgb(255, 255, 255);
  }
  
  .flpayinput {
    border-radius: 0px;
    color: #333333;
    display: block;
    -webkit-appearance: none;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    padding: 6px 10px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #ced0d4;
    font-family: "Titillium Web", sans-serif;
    border-radius: 15px;
    font-size: 15px;
  }
  
  .payinput {
    border-radius: 0px;
    color: #333333;
    display: block;
    -webkit-appearance: none;
    height: 40px;
    overflow: hidden;
    padding: 6px 10px;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid #ced0d4;
    font-family: "Titillium Web", sans-serif;
    border-radius: 15px;
    font-size: 15px;
  }
  
  .booking_form {
    background: #fff none repeat scroll 0 0;
    border-radius: 0px;
    overflow: hidden;
    display: block;
    font-size: 13px;
    float: left;
    width: 100%;
    margin: 0px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
    border: none;
  }
  
  .booking_form > h5 {
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 0 0 0px;
    border-radius: 0px;
    overflow: hidden;
    background: #000 none repeat scroll 0 0;
    padding: 11px 15px;
    height: 38px;
    line-height: 1.1;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .booking_form .alert {
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #fff !important;
    border-color: #fff;
    border-bottom: 1px solid #dddddd;
  }
  
  .booking_form .alert p {
    color: #333333;
    /* float: left; */
    padding: 0 0 10px;
    font-size: 15px;
    margin-bottom: 0;
  }
  
  .booking_form .alert ul {
    padding: 0;
    margin: 0;
    color: #666666;
    /* float: left; */
    font-size: 13px;
    line-height: 24px;
  }
  
  .booking_form .alert li {
    list-style: none;
    font-size: 14px;
    margin: 0;
  }
  
  .booking_form .alert i.fa {
    color: #607d8b;
  }
  
  .booking_form .section_bg_alt {
    background: #fff;
    padding: 3px 0px 10px;
  }
  
  .max_wdt {
    max-width: 210px;
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    border-radius: 0;
  }
  
  .seat_h {
    text-align: left;
    font-size: 16px;
    color: #6c7071;
    padding: 10px;
  }
  
  .booking_form h4 {
    font-size: 1.0833em;
  }
  
  .seat_h span {
    color: #4169e1;
    margin-left: 6px;
  }
  .arln-logo {
    width: 45px;
    height: 45px;
    display: block;
  }
  .arln-logo img {
    width: 45px;
    height: 45px;
  }

  ::ng-deep .theme-dark .theme_bg { background: #042634;
    float: left;
    width: 100%;}
  
    ::ng-deep .theme-dark .theme_bg .sectionbuk h5 { color: #fff !important;}
    ::ng-deep .theme-dark .theme_bg .sectionbuk p { color: #fff !important; }
    ::ng-deep .theme-dark .theme_bg .border {
      border: 1px solid #122f4c !important;
  }
  ::ng-deep .theme-dark .theme_bg hr {border-top: 1px solid rgb(23, 58, 72);}

  
  @media only screen and (max-width: 767px) {
 
    .padlt { padding-left: 0px !important; padding-right: 0px !important;}
    .mobile_left { text-align: left !important;}
    .mobile_right { text-align: right !important;}
    .mobile_row { margin: 0px;}
    .mobile_pad { padding:0px 15px !important;}
    .mobile_top { margin-top: 12px;}
    .mobile_bot { margin-bottom: 12px;}
    .mob_show { display: inline;}
    .mob_hide { display: none;}
    .review_txt{ text-align: center;}
    .mobile_nopad { padding:0px 0px !important;}
    .form-group label { font-size: 12px;}
    .mobile_botpad { padding-bottom: 12px !important;}
   .mobile_details_bagg { width: 100% !important; display: block !important; border:none !important;}
  }
  .hide{
    display: none;
  }




  a {
    color: #16aaff !important;
    text-decoration: none !important ;
    cursor: pointer !important;
}

a:hover {
    color: #337ab7 !important;
}
.fa-plus--lineHeight{
    line-height: 30px;
}
.bg-gradient-light{
    color: #ffffff;
   
}
.bbottom {
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
}
h4.text-muted {
    color: #000 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    padding: 14px 10px 11px 17px;
    border-bottom: 1px solid #00000029;
}

.impoinfo{ margin-top: 20px;}
.impoinfo h4 { font-size: 18px; color: #000;}
.impoinfo p { font-size: 12px; color: #000;}


b {
    font-size: 16px !important;
    color: #F9B501 !important;
    font-weight: 500 !important;
}
.float-right.text-warning {
    font-size: 16px !important;
    font-weight: 700 !important;
}
.customColor{
    color: #001D46;
}
.fsBorder {
    border: 1px solid #00000029;
    border-radius: 4px;
    // margin-right: -15px;
    // margin-left: 15px;
}

.grand_tot {color: #092e53;}

.card { border-radius: 8px !important;}

::ng-deep .theme-dark .theme_bg .customColor{
    color: #fff !important;
}
::ng-deep .theme-dark .theme_bg .grand_tot {color: #fff !important;}

::ng-deep .theme-dark .theme_bg .impoinfo p { font-size: 12px; color: #fff !important;}
@media only screen and (max-width: 767px) {
 
    .padlt { padding-left: 0px !important; padding-right: 0px !important;}
    .mobile_left { text-align: left !important;}
    .mobile_right { text-align: right !important;}
    .mobile_row { margin: 0px;}
    .mobile_nopad { padding: 0px !important;}
    .mobile_top { margin-top: 12px;}
    .mob_show { display: inline;}
    .mob_hide { display: none;}
    .review_txt{ text-align: center;}
    .mobile_botpad { padding-bottom: 12px !important;}
   .mobile_details_bagg { width: 100% !important; display: block !important; border:none !important;}
  }

  .show-pay-later {
    top: 75px !important;
    width: 100% !important;
  }