<div class="">

  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange($event)">

      <li [ngbNavItem]="'agent_list'">

        <a ngbNavLink>
          GDS COMMISSION LIST
        </a>

        <ng-template ngbNavContent>
          <app-gds-commission-list
            (toUpdate)="triggerTab($event)">
          </app-gds-commission-list>
        </ng-template>

      </li>

      <li [ngbNavItem]="'default_commission'">

        <a ngbNavLink>
          ADD/UPDATE COMMISSION
        </a>

        <ng-template ngbNavContent>
          <app-add-update-commission
            (toList)="triggerTab($event)"
            [getDataToUpdate]="userData">
          </app-add-update-commission>
        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>

</div>