<div class="">

  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange($event)">

      <li [ngbNavItem]="'list_activitycrs_list'">

        <a ngbNavLink>
          List Experience
        </a>

        <ng-template ngbNavContent>
          <app-list-activity-crs
            (toUpdate)="triggerTab($event)">
          </app-list-activity-crs>
        </ng-template>

      </li>

      <li [ngbNavItem]="'add_activitycrs'">

        <a ngbNavLink>
          Create Experience
        </a>

        <ng-template ngbNavContent>
          <app-add-activity-crs
            (someEvent)="triggerTab($event)">
          </app-add-activity-crs>
        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>

</div>