
        <ngb-tabset class="tabs-animated custom_tab" (tabChange)="beforeChange(false)" #tabs
            [activeId]="activeIdString">
            <ngb-tab id="add_update_staticPage">
                <ng-template ngbTabTitle>
                    <span> Static Page Content</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-add-update-content (staticContentTab)="triggerTab($event)"></app-add-update-content>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="staticpage_list">
                <ng-template ngbTabTitle>
                    <span> Page List</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-list-content (staticContentTab)="triggerTab($event)"></app-list-content>
                </ng-template>
            </ngb-tab>
          
        </ngb-tabset>
   