// @import '../../result/result.component.scss';

::ng-deep {
    .mat-dialog-actions {
        display  : flex !important;
        flex-flow: row-reverse !important;
    }
}

//chakri styles
.fa-hand-holding-usd {
    color: #012756 !important;
}

.flightDetailsBtn {
    border-radius: 12px;
    padding: 4px 15px;
    color: #092e53;
    margin: -8px;
    font-size: 14px;
    font-weight: 500;
}

ngb-tabset ul {
    margin-bottom: 0px !important;
}
::ng-deep.tab-container .nav-tabs .nav-link {
    color: #fff!important;
    height: 41px!important;
    padding: 10px 20px!important;font-size: 13px!important;border-radius: 5px 5px 0px 0px;
    background: #092e53!important;margin-right: 2px!important;
}
.plcnm{margin-bottom: 0.5em;font-family: "Montserrat", sans-serif !important;}
::ng-deep.nav-tabs .nav-link.active{background: #092e53!important;color: #FE4865!important;text-transform: capitalize!important;border-bottom: 5px solid #FE4865!important;}
::ng-deep small{font-size: 13px;
    font-weight: 400;
    line-height: 20px;}
