<div class="entireScreen  p-0 col-md-12 col-lg-12">
    <div class="heading">
        <p>Update Tour Manager</p>
    </div>
    <div style="padding: 20px;">

        <div class="add-traveller">
            <div class="custom-inline-form">
                <form class="" [formGroup]="tourUpdateForm" autocomplete="off">
                    <div class="form-group required row">
                        <label for="tourId " class="required" class="col-sm-2 col-form-label font-weight-bold">Tour Id </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="tourId" maxlength="50"
                            formControlName="tourId" disabled>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="tourName " class="required" class="col-sm-2 col-form-label font-weight-bold">Tour Name <sup
                            class="text-danger f-16"> * </sup> </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="tourName" maxlength="50"
                                formControlName="tourName" placeholder="Enter Tour Name">

                        </div>
                    </div>
                    <!-- <div class="form-group required row">
                        <label for="tourType" class="required" class="col-sm-2 col-form-label font-weight-bold">Tour Type <sup
                            class="text-danger f-16"> * </sup> </label>
                        <div class="col-sm-4 radioSelection">
                                <input type="radio" class="form-control" id="Holiday" 
                                formControlName="tourType" name="tourType" value="Holiday">
                                <label for="Holiday">Holiday</label>&nbsp;&nbsp;&nbsp;
                                 <input type="radio" class="form-control" id="Homestay" 
                                formControlName="tourType" name="tourType" value="Homestay">
                                <label for="Homestay">Homestay</label>&nbsp;&nbsp;&nbsp;
                                <input type="radio" class="form-control" id="Resort" 
                                formControlName="tourType" name="tourType" value="Resort">
                                <label for="Resort">Resort</label> 
                        </div>
                    </div> -->

                    <div class="form-group required row">
                        <label for="tourDescription " class="required" class="col-sm-2 col-form-label font-weight-bold">Tour Description </label>
                        <div class="col-sm-4">
                            <textarea type="text" class="form-control" id="tourDescription" 
                                formControlName="tourDescription" placeholder="Enter Tour Description"></textarea>

                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="startDate" class="required" class="col-sm-2 col-form-label font-weight-bold">Start Date <sup
                            class="text-danger f-16"> * </sup> </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="startDate"
                            formControlName="startDate" [bsConfig]="{ minDate: minDate, dateInputFormat: 'DD/MM/YYYY' }"
                            bsDatepicker placeholder="dd/mm/yyyy">

                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="expirayDate" class="required" class="col-sm-2 col-form-label font-weight-bold">Expiray Date <sup
                            class="text-danger f-16"> * </sup> </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="expirayDate"
                            formControlName="expirayDate" [bsConfig]="{ minDate: minExpireDate, dateInputFormat: 'DD/MM/YYYY' }"
                            bsDatepicker placeholder="dd/mm/yyyy">

                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="supplierName " class="required" class="col-sm-2 col-form-label font-weight-bold">Supplier Name </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="supplierName" maxlength="50"
                            formControlName="supplierName" placeholder="Enter Supplier Name">

                        </div>
                    </div>
                    <!-- <div class="form-group required row">
                        <label for="price " class="required" class="col-sm-2 col-form-label font-weight-bold">Price </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="supplierName" maxlength="50"
                            formControlName="price" placeholder="Enter Price">

                        </div>
                    </div> -->
                    <div class="form-group required row">
                        <label for="chooseActivity  " class="required" class="col-sm-2 col-form-label font-weight-bold">Choose Activity </label>
                        <div class="col-sm-4 boxInputList">
                            <ul>
                                <li *ngFor="let activity of activitiesList"  (click)="selectActivity(activity)">
                                    {{activity.tour_activity}}
                                </li>
                            </ul>
                        </div>
                        <div class="directionSymbol">
                            <div>{{'>>'}}</div>
                            <div>{{'<<'}}</div>
                        </div>
                        <div class="col-sm-4 boxInputList">
                            <ul>
                                <li *ngFor="let activity of selectedtActivity" (click)="deSelectActivity(activity)">
                                    {{activity.tour_activity}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="chooseTheme  " class="required" class="col-sm-2 col-form-label font-weight-bold">Choose Theme </label>
                        <div class="col-sm-4 boxInputList">
                            <ul>
                                <li *ngFor="let theme of themeList"  (click)="selectTheme(theme)">
                                    {{theme.tour_subtheme}}
                                </li>
                            </ul>
                        </div>
                        <div class="directionSymbol">
                            <div>{{'>>'}}</div>
                            <div>{{'<<'}}</div>
                        </div>
                        <div class="col-sm-4 boxInputList">
                            <ul>
                                <li *ngFor="let theme of selectedTheme" (click)="deSelectTheme(theme)">
                                    {{theme.tour_subtheme}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="region  " class="required" class="col-sm-2 col-form-label font-weight-bold">Choose Region</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="region" maxlength="50"
                            formControlName="region"  disabled>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="theme" class="required" class="col-sm-2 col-form-label font-weight-bold">Choose Duration </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="theme" maxlength="50"
                            formControlName="duration" disabled>
                        </div>
                    </div>


                    <!-- <div class="form-group required row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Cancellation & Refund Policies</label>
                        <div formArrayName="cancellationPolicy" class=" col-12 pr-0 mt-0">
                            <div *ngFor="let policy of cancellationPolicies.controls; let i = index" [formGroupName]="i" class="policy-block p-3 row col-12 mb-3 mt-2 ">
                                <div class=" col-12 row price-details-div m-auto p-2 ml-2">
                                    <div class="col-2 p-0">
                                        <label class="px-3 control-label">
                                        RF Before Days
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12">
                                                <input value="" formControlName="date_from" type="number" placeholder="Refundable Before Days"
                                                    class="form-control"
                                                    required />
                                        </div>
                                    </div>
                                    <div class="col-1 p-0">
                                        <label class="p-0 control-label">
                                        Charge fee
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12 p-0">
                                                <input value="" formControlName="charge" type="number" placeholder="charge"
                                                    class="form-control"
                                                    required />
                                        </div>
                                    </div>

                                    <div class="col-2 d-flex justify-content-center align-items-end">
                                            

                                            <label class="d-grid">
                                                <span class="text" style="margin-left: 4px;">Percent (%)</span> <br/>
                                                <input class="ml-4" type="radio" value="Percentage" required formControlName="charge_type">
                                            </label>
                                    </div>
                                    <div class="col-2 d-flex justify-content-center align-items-center p-0">
                                        <button type="button" class="btnStyle mr-2" (click)="addCancellationPolicies()">Add</button>
                                        <button type="button" class="btnStyle" (click)="removeCancellationPolicies(i)" *ngIf="i>0">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->



                    <div class="form-group required row">
                        <label for="highlights" class="col-sm-2 col-form-label font-weight-bold">Highlights</label>
                        <div class="col-sm-10">
                            <ckeditor formControlName="highlights"></ckeditor>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="inclusions" class="col-sm-2 col-form-label font-weight-bold">Inclusions</label>
                        <div class="col-sm-10">
                            <ckeditor formControlName="inclusions"></ckeditor>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="exclusions" class="col-sm-2 col-form-label font-weight-bold">Exclusions</label>
                        <div class="col-sm-10">
                            <ckeditor formControlName="exclusions"></ckeditor>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="termsConditions" class="col-sm-2 col-form-label font-weight-bold">Terms & Conditions</label>
                        <div class="col-sm-10">
                            <ckeditor formControlName="termsConditions"></ckeditor>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="OptionalTours" class="col-sm-2 col-form-label font-weight-bold">Optional Tours</label>
                        <div class="col-sm-10">
                            <div class="col-sm-12 p-0">
                                <div formArrayName="OptionalTours" class=" col-12 pr-0 mt-0">
                                    <div *ngFor="let policy of optionalToursPrices.controls; let i = index" [formGroupName]="i" class="policy-block p-0 row col-12 mb-3 mt-2 ">
                                        <div class="form-group col-12 row">
                                            <div class="col-4 p-0">
                                                <label class="px-2 control-label" for="name">
                                                    Name
                                                </label>
                                                <div class="col-sm-12 pl-2">
                                                    <input type="text" class="form-control" id="name" 
                                                        formControlName="name" placeholder="Name"/>
                                                </div>
                                            </div>

                                            <div class="col-3 p-0">
                                                <label class="px-2 control-label" for="duration">
                                                    Duration
                                                </label>
                                                <div class="col-sm-12 pl-2">
                                                    <input type="text" class="form-control" id="duration" 
                                                        formControlName="duration" placeholder="Duration"/>
                                                </div>
                                            </div>

                                            <div class="col-2 p-0">
                                                <label class="px-2 control-label" for="price">
                                                    Price ({{currentUser.currency ? currentUser.currency : 'GBP'}})
                                                </label>
                                                <div class="col-sm-12 pl-2">
                                                    <input type="number" class="form-control" id="price" 
                                                        formControlName="price" placeholder="Price"/>
                                                </div>
                                            </div>
                                            <div class="clo-2 p-0 d-flex justify-content-center align-items-end">
                                                <button class="btnStyle mr-1" type="button" (click)="addOptionalTours()" *ngIf="i===0">Add</button>
                                                <button class="btnStyle remove-btn" type="button" (click)="removeOptionalTours(i)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btnStyle mr-1" type="button" (click)="addOptionalTours()" *ngIf="optionalToursPrices?.length===0" >Add</button>

                            </div>
                        </div>
                    </div>
                    <div class="form-group required row">
                        <label for="MeetingPoint" class="col-sm-2 col-form-label font-weight-bold">Meeting Point</label>
                        <div class="col-sm-10">
                            <textarea type="number" class="form-control" id="MeetingPoint" cols="24"
                                formControlName="MeetingPoint" placeholder="Meeting Point"></textarea>
                        </div>
                    </div>
                    <!-- <div class="form-group required row">
                        <label for="cancellationPolicy" class="col-sm-2 col-form-label font-weight-bold">Cancellation Policy</label>
                        <div class="col-sm-10">
                            <ckeditor formControlName="cancellationPolicy"></ckeditor>
                        </div>
                    </div> -->
                    <!-- <div class="form-group required row">
                        <label for="tripNotes" class="col-sm-2 col-form-label font-weight-bold">Trip Notes</label>
                        <div class="col-sm-10">
                            <ckeditor formControlName="tripNotes"></ckeditor>
                        </div>
                    </div> -->
                    <div class="inclusionsCheckBox row">
                        <div class="col-sm-2">
                            <label for="inclusionsCheckBox" class="col-sm-2 col-form-label font-weight-bold smLabelAlign">Inclusions</label>
                        </div>
                        <div class="checkboxList col-sm-6">
                            <div *ngFor="let item of inclusions" class="col-sm-4">
                                <input type="checkbox" id="inclusions" (change)="inclusionSelection($event.target.checked,item)"
                                [checked]="selectedCheckboxes.includes(item)">{{item}}
                            </div>
                        </div>  
                    </div>
                    <div >
                        <div style="display: flex;" class="form-group required row">
                            <div class="col-sm-2">
                                <label for="bannerImage" class="font-weight-bold" > Banner Image</label>
                            </div>
                            <div class="col-sm-6">
                                <a  class="bannerImage" href="{{getImage()}}" target="_blank"><img class="bannerImage" width="450"
                                    [src]="getImage()" alt=""></a>
                            </div>
                        </div>
                        <div>
                            <label for="bannerImage" class="col-sm-2 col-form-label font-weight-bold smLabelAlign">Change Banner Image</label>
                            <input class="col-sm-6" type="file" id="bannerImage" (change)="onImageSelect($event)"  accept=".png,.jpg,.jpeg,.svg,.webp"><br>
                            <span><b>Note:</b> Only JPG, JPEG, PNG, SVG, and WEBP formats are allowed.</span><br>
                        </div>
                    </div>

                    <div>
                        <div class="col-sm-2">
                          <label for="uploadGallery" class="col-sm-2 col-form-label font-weight-bold gallery">Gallery</label>
                        </div>
                        <div class="imageGallery col-sm-10">
                          <ul class="imageList">
                            <li *ngFor="let imageName of galleryImages">
                              <div class="image-container">
                                <img class="galleryImageItem" width="250" [src]="getGalleryImage(imageName)" alt="Gallery Image">
                                <button class="delete-btn" (click)="deleteGalleryImage(imageName)">❌</button>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div>
                          <label for="uploadGallery" class="col-sm-2 col-form-label font-weight-bold smLabelAlign">Upload Gallery</label>
                          <input class="col-sm-4" type="file" id="uploadGallery" multiple (change)="onGallerySelect($event)" accept=".png,.jpg,.jpeg,.svg,.webp"><br>
                          <span><b>Note:</b> Only JPG, JPEG, PNG, SVG, and WEBP formats are allowed.</span><br>
                        </div>
                      </div>
                      
                    <!-- <div>
                        <label for="uploadVideo" class="col-sm-2 col-form-label font-weight-bold video"> Video</label>
                        <video src="" class="col-sm-4"></video>
                    </div> -->
                    <!-- <div>
                        <label for="uploadVideo" class="col-sm-2 col-form-label font-weight-bold smLabelAlign">Upload Video</label>
                        <input class="col-sm-4" type="file" multiple id="uploadVideo" (change)="onVideoSelect($event)">
                    </div> -->
                    <div class="form-group row mb-n2">
                        <div class="col-sm-12 buttonAllign">
                            <button type="submit" class="btn btn-sm btn-primary mr-1 orangeButton" (click)="onUpdateTour()">Update Tour</button>
                            <button type="reset" class="btn btn-sm btn-primary orangeButton" routerLink="/tour-crs/tour-list">Go Back to Tour list</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>