<div class="card">
    <div class="card-body">
        <ngb-tabset class="tabs-animated custom_tab" (tabChange)="beforeChange($event)">
            <ngb-tab *ngFor="let link of navLinks; let i=index;">
                <ng-template ngbTabTitle>
                    <span (click)="onSelect(link, i)"> <i class="{{link.icon}}"></i> &nbsp; {{link.label}} </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <hr>

                    <div class="card">
                        <div class="card-body">
                            <div [ngSwitch]="link.report">
                                <div *ngSwitchCase="'Flight'">
                                    <app-dynamic-table [data]=" tabsData.Flight "></app-dynamic-table>
                                </div>
                                <div *ngSwitchCase="'Hotel'">
                                    <app-dynamic-table [data]=" tabsData.Hotel "></app-dynamic-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>