<div class="entireScreen  p-0 col-md-12 col-lg-12">
    <div class="heading">
        <p>Edit Package City</p>
    </div>
    <div >
        <form [formGroup]="cityForm" (ngSubmit)="onCitySave()">
            <div class="cityInput">
                <label for="city" class="font-weight-bold" > Tour City</label>
                <input type="text" placeholder="Enter Package City"  formControlName="cityName" maxlength="150" (input)="validateInput()">
            </div>
            <div *ngIf="cityForm.controls.cityName.errors && cityForm.controls.cityName.touched">
                <div  *ngIf="cityForm.controls.cityName.errors.required" class="errorMessage">
                  *Please enter updated tour city name.
                </div>
                <div *ngIf="cityForm.controls.cityName.errors.invalidString" class="errorMessage">
                    *Number(s) are not allowed.
                </div>
                <div *ngIf="cityForm.controls.cityName.errors.startOrEndSpace"  class="errorMessage">
                    *Empty space(s) in start and end are not allowed.
                </div>
            </div>
            <div class="saveButton">
                <button  class="btn btn-sm btn-primary mr-1 orangeButton">{{'Save'}}
                </button>
                <button class="btn btn-sm btn-primary mr-1 orangeButton packageBtn" routerLink="/tour-crs/city"> {{'Package City'}}  </button>
            </div>
        </form>
    </div>
</div>