<div class="card adminInner">
  <div class="card-header mb-3">
    <h5>Edit City</h5>
  </div>

  <form [formGroup]="cityForm" (ngSubmit)="onCityUpdate()">
<div class="form-row">
    <!-- State Dropdown -->
     <div class="col-md-4">
      <label>Choose State</label>
      <select class="form-control" formControlName="state_id">
        <option value="" disabled>Select State</option>
        <option *ngFor="let state of stateList" [value]="state.id">
          {{ state.name }}
        </option>
      </select>
       <div *ngIf="f.state_id.touched && f.state_id.errors">
      <small class="errorMessage">*Please select state</small>
    </div>
    </div>

   

    <!-- City Name -->
     <div class="col-md-4">
      <label>City Name</label>
      <input type="text" class="form-control" formControlName="city_name">
        <div *ngIf="f.city_name.touched && f.city_name.errors">
      <small *ngIf="f.city_name.errors.required" class="errorMessage">*Required</small>
      <small *ngIf="f.city_name.errors.invalidString" class="errorMessage">*Numbers not allowed</small>
      <small *ngIf="f.city_name.errors.startOrEndSpace" class="errorMessage">*No space at start/end</small>
    </div>
    </div>

  

    <!-- Latitude -->
     <div class="col-md-4">
      <label>Latitude</label>
      <input type="text" class="form-control" formControlName="latitude">
    </div>

    <!-- Longitude -->
     <div class="col-md-4">
      <label>Longitude</label>
      <input type="text" class="form-control" formControlName="longitude">
    </div>
 <div class="col-md-4">
  <label>Status</label>

  <div class="toggleSwitch d-flex align-items-center">
    
    <mat-slide-toggle
      [checked]="cityForm.get('status').value === 1"
      (change)="onStatusChange($event)"
    >
    </mat-slide-toggle>

    <span class="ml-2">
      {{ cityForm.get('status').value === 1 ? 'Active' : 'Inactive' }}
    </span>

  </div>
</div>
</div>
    <!-- Buttons -->
    <div class="saveButton mt-3">
      <button type="submit" class="btn btn-primary mr-2">Update</button>
      <button type="button" class="btn btn-secondary" routerLink="/tour-crs/city">
        City List
      </button>
    </div>

  </form>
</div>