<form autocomplete="off" [formGroup]="regConfig" class="needs-validation" novalidate (validSubmit)="onSubmit()"
    #onewaySubmit>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <span class="sprt depart"></span>
                <input type="text" name="departureCity" id="departureCity"
                    class="form-control form-control-sm nrm_input" formControlName="departureCity"
                    placeholder="Departure City ?" (keyup)="getSearchedList($event)" autocomplete="off">
                <span>
                    <div class="flight_chnge text-muted" (click)="exchangeCity()">
                        <i class="fa fa-exchange {{ cityExchanged ? 'rotate-360'
                            : 'rotate-0' }}"></i>
                    </div>
                </span>
                <div *ngIf="shouldiHide && depart && f.departureCity.valid">
                    <app-flight-city-list (whichCity)="getCity($event)" [getAirports]="searchedList"
                        [inputFor]="'depart'">
                    </app-flight-city-list>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <span class="sprt return"></span>
                <input type="text" name="destinationCity" id="destinationCity" formControlName="destinationCity"
                    class="form-control form-control-sm nrm_input" (keyup)="getSearchedList($event)"
                    placeholder="Going to?">
                <div *ngIf="shouldiHide && !depart && f.destinationCity.valid">
                    <app-flight-city-list (whichCity)="getCity($event)" [getAirports]="searchedList"
                        [inputFor]="'dest'">
                    </app-flight-city-list>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <span class="sprt date" for="departureDate" (click)="isOpen=
                    !isOpen"></span>
                <input type="text" id="departureDate" formControlName="departureDate"
                    class="form-control form-control-sm nrm_input" placeholder="Departing Date" bsDatepicker
                    [bsConfig]="bsDateConf" [isOpen]="isOpen" [minDate]="minDate" [maxDate]="maxDate">
            </div>
        </div>
    </div>
    <app-form-extension 
    [regConfig]="regConfig" 
    [travellerForm]="travellerForm"
    [travellersFadeinn]="travellersFadeinn"
    [fadeinn]="fadeinn"
    ></app-form-extension>
</form>