<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" class="row">

    <ul ngbNav #nav="ngbNav" class="nav-tabs w-100" [destroyOnHide]="false">
        
        <li [ngbNavItem]="1">
            <button ngbNavLink>ITINERARY</button>
            <ng-template ngbNavContent>
                <app-flight-details-itinerary [flight]="flight"></app-flight-details-itinerary>
            </ng-template>
        </li>

        <li [ngbNavItem]="2">
            <button ngbNavLink>BAGGAGE</button>
            <ng-template ngbNavContent>
                <app-flight-details-baggage [flight]="flight"></app-flight-details-baggage>
            </ng-template>
        </li>

        <li [ngbNavItem]="3">
            <button ngbNavLink>FARE BREAKUP & RULES</button>
            <ng-template ngbNavContent>
                <app-flight-details-fare [flight]="flight"></app-flight-details-fare>
            </ng-template>
        </li>

    </ul>

    <div [ngbNavOutlet]="nav" class="mt-3 w-100"></div>

</div>