<div class="card">
    <div class="card-body">

        <ul ngbNav
            #nav="ngbNav"
            class="nav-tabs tabs-animated custom_tab"
            [destroyOnHide]="false">

            <li *ngFor="let link of navLinks; let i = index"
                [ngbNavItem]="i + 1">

                <button ngbNavLink (click)="onSelect(link, i)">
                    <i [class]="link.icon"></i>&nbsp; {{ link.label }}
                </button>

                <ng-template ngbNavContent>

                    <div *ngIf="link.component === 'update'; else notShow">
                        <app-update-promocode
                            [label]="link.label">
                        </app-update-promocode>
                    </div>

                    <ng-template #notShow>
                        <app-list-promocode
                            [label]="link.label">
                        </app-list-promocode>
                    </ng-template>

                </ng-template>

            </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-3"></div>

    </div>
</div>