<div class="trip-modal-container">
    <div class="">
        <div class="trip-modal-title">
            <p>Please wait! This will take few seconds</p>
            <p>While we search the best fares for you.</p>
        </div>
        <img src="assets/nosafer/images/l-logo.svg" alt="loader" />
        <div class="destination-section">
            <div class="dash-line"></div>
            <div class="dest-from">
                <p>From</p>
                <p>{{ activityInfo.departureDate | date:'dd/MM/yyyy' }}</p>
            </div>
            <div class="dest-to">
                <p>To</p>
                <p>{{ activityInfo.returnDate | date:'dd/MM/yyyy' }}</p>
            </div>
        </div>
        <div class="dest-trip">
            <p>{{ activityInfo.departureCity }}</p>
        </div>
    </div>
</div>