<div class="row col-lg-12 col-md-12 pt-3 m-0 custom-font">
    <ngb-tabset class="tabs-animated tabs-animated-shadow">
        <ngb-tab *ngFor="let link of navLinks; let i=index;">
            <ng-template ngbTabTitle>
                <span class="text-uppercase" (click)="onSelect(link.component)"> <i class="{{link.icon}}"></i> &nbsp; {{link.label}} </span>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row card m-0"  [ngSwitch]="link.component">
                    <div *ngSwitchCase="'Bank_Account_Details'" class="col-md-12 col-lg-12">
                        <app-account-details></app-account-details>
                    </div>
                    <div *ngSwitchCase="'History_Deposit_Request'" class="col-md-12 col-lg-12">
                    </div>
                    <div *ngSwitchCase="'bus'" class="col-md-12 col-lg-12">
                        <!-- <app-bus></app-bus> -->
                    </div>
                    <div *ngSwitchCase="'transfers'" class="col-md-12 col-lg-12">
                        <!-- <app-transfers></app-transfers> -->
                    </div>
                    <div *ngSwitchCase="'activities'" class="col-md-12 col-lg-12">
                        <!-- <app-activities></app-activities> -->
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>