
<ngb-tabset class="tabs-animated custom_tab" (tabChange)="beforeChange($event)" #tabs>
    <ngb-tab id="list_hotel_types">
        <ng-template ngbTabTitle>
            <span class="">{{'List View'}}</span>
        </ng-template>
        <ng-template ngbTabContent>
            <app-list-room-view (toUpdate)="triggerTab($event)"></app-list-room-view>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="add_hotel_type">
        <ng-template ngbTabTitle>
            <span class="">{{'Add/Edit View Type'}}</span>
        </ng-template>
        <ng-template ngbTabContent>
            <app-add-update-room-view (someEvent)="triggerTab($event)" [hotelTypeOne]="hotelTypeData"></app-add-update-room-view>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
           

