.btnStyle {
    padding: 5px 12px;
    background: #012756;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    margin: 0px 4px;
}
table {
    width: 100%;
}
th{
    color: #012756;
}
.exportWrapper{
    width:100%;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px; margin-bottom: 10px;
    font-family: 'Asap';
    font-size: 14px;
}
.exportWrapper p{
    color: #012756;
    float: left; margin-bottom: 0px;
}

.exportWrapper button{
    float: left;
    background-color: #012756;
    padding: 5px 12px;
    border: #012756;
    margin: 5px;
    color: #ffffff;
    border-radius: 5px;
}
.text-left{
    span{color: #012756;}
}
.card{
    font-family: 'Asap';
    font-size: 14px;
}

.nrm_input,
.src_btn {
    padding    : 0.5rem 0.75rem 0.5rem 2.2rem;
    line-height: 1.7;
    height     : calc(2.5em + 0.75rem + 2px);
}

.card {
    font-family: 'Asap';
}

.wrapper1,
.wrapper2 {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.wrapper1 {
  height: 20px;
}

.div1 {
  width: 1400px;
  height: 20px;
}
.div2 {
  width: 1400px;
  overflow: hidden;
}
.div2 .table-responsive {overflow: inherit;}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .form-group label{color: #fff!important;}