<div class="card">

    <div class="card-body">

        <ul ngbNav #nav="ngbNav" class="nav-tabs tabs-animated custom_tab">

            <li [ngbNavItem]="1">

                <button ngbNavLink>
                    <i class="fa fa-plane"></i> &nbsp; Flight Markup
                </button>

                <ng-template ngbNavContent>
                    <app-agents-flight></app-agents-flight>
                </ng-template>

            </li>

            <li [ngbNavItem]="2">

                <button ngbNavLink>
                    <i class="fa fa-hotel"></i> &nbsp; Hotel Markup
                </button>

                <ng-template ngbNavContent>
                    <app-agents-hotel></app-agents-hotel>
                </ng-template>

            </li>

        </ul>

        <div [ngbNavOutlet]="nav"></div>

    </div>

</div>