<div class="">

  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange($event)">

      <li [ngbNavItem]="'add_update_airline'">

        <a ngbNavLink>
          Add/Update Airline/Hotel Logo
        </a>

        <ng-template ngbNavContent>
          <app-add-update-airline-partner
            (staticContentTab)="triggerTab($event)">
          </app-add-update-airline-partner>
        </ng-template>

      </li>

      <li [ngbNavItem]="'airline_list'">

        <a ngbNavLink>
          Airline List
        </a>

        <ng-template ngbNavContent>
          <app-list-airline-partner
            (staticContentTab)="triggerTab($event)">
          </app-list-airline-partner>
        </ng-template>

      </li>

      <li [ngbNavItem]="'hotel_partner_list'">

        <a ngbNavLink>
          Hotel Partner List
        </a>

        <ng-template ngbNavContent>
          <app-hotel-parters-list
            (staticContentTab)="triggerTab($event)">
          </app-hotel-parters-list>
        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>

</div>