<ul
  ngbNav
  #tabs="ngbNav"
  class="tabs-animated custom_tab crs-tab-ui"
  (navChange)="beforeChange($event)">

  <li [ngbNavItem]="'list_room_amenity'">

    <a ngbNavLink>
      {{ 'List Room Amenity' }}
    </a>

    <ng-template ngbNavContent>
      <app-room-amenity-list
        (toUpdate)="triggerTab($event)">
      </app-room-amenity-list>
    </ng-template>

  </li>

  <li [ngbNavItem]="'add_room_amenity'">

    <a ngbNavLink>
      {{ 'Add/Edit Room Amenity' }}
    </a>

    <ng-template ngbNavContent>
      <app-add-update-room-amenity
        (someEvent)="triggerTab($event)"
        [roomAmenityOne]="roomAmenityData">
      </app-add-update-room-amenity>
    </ng-template>

  </li>

</ul>

<div [ngbNavOutlet]="tabs"></div>