<div class="col-lg-12 col-md-12 py-3 m-0 card">

  <ul
    ngbNav
    #tabs="ngbNav"
    class="nav-tabs tabs-animated custom_tab">

    <li
      *ngFor="let link of navLinks; let i = index"
      [ngbNavItem]="i">

      <a ngbNavLink (click)="onSelect()">
        <i [class]="link.icon"></i>&nbsp; {{ link.label }}
      </a>

      <ng-template ngbNavContent>
        <div class="row btop p-0" [ngSwitch]="link.component">

          <!-- <div *ngSwitchCase="'updateCreditLimit'" class="col-md-12 col-lg-12">
            <app-new-credit-limit></app-new-credit-limit>
          </div> -->

          <div *ngSwitchCase="'creditHistory'"
               class="col-md-12 col-lg-12">
            <app-sent-credit-limit></app-sent-credit-limit>
          </div>

        </div>
      </ng-template>

    </li>

  </ul>

  <div [ngbNavOutlet]="tabs"></div>

</div>