.nrm_input,
.src_btn {
    padding: 0.5rem 0.75rem 0.5rem 2.2rem;
    line-height: 1.7;
    height: calc(2.5em + 0.75rem + 2px);
}

.card {
    padding: 30px;
    font-family: 'Asap';
}

.modal-dialog { max-width: 700px;}

h5 {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.btncontainer {
    width: 100%;
    text-align: center;
    padding: 12px 0px;
}

label {
    color: #000000;
    font-weight: 600;
}

.modal {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 58%;
    margin: 0 auto;
}

.loadWrapper {
    width: 100%;
    position: relative;
    padding: 50px;
    z-index: 99999;
}

.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3d3e3f;
    /* gray */
    position: absolute;
    left: 0;
    right: 0px;
    top: 20px;
    margin: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#scroll_wrapper1,
#scroll_wrapper2 {
    width: 600px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#scroll_wrapper1 {
    height: 20px;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0% !important;
    z-index: 1 !important;
}

#scroll_wrapper2 {
    height: 500px;
}

#scroll_div {
    width: 900px;
    height: 20px;
}

#grid_parent {
    width: 900px;
    height: 500px;
    overflow: auto;
}

#paymentModalLabel {
    border-bottom: none !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}


.wrapper1,
.wrapper2 {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.wrapper1 {
    height: 20px;
}

.div1 {
    width: 3000px;
    height: 20px;
}

.div2 {
    width: 3000px;
    overflow: hidden;
}

.div2 .table-responsive {
    overflow: inherit;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

.loadWrapper1 {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 50px;
    top: 0px;
    left: 0px;
    z-index: 99999;
}

.loader1 {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3d3e3f;
    /* gray */
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* Remove box appearance and padding */
.mat-form-field {
    border: none;
    padding: 0;
    margin: 0;
    /* Optional, adjust as needed */
}

/* Remove underline and focus outline from input */
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex,
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    border: none;
    box-shadow: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    border: 1px solid #86a4c3;
    padding: 0px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important;
    padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-wrapper {
    width: 100%;
}

.mat-autocomplete-panel {
    background-color: transparent;
    border-radius: 0;
}

.mat-option {
    text-align: left;
    text-transform: capitalize;
}

.autocomplete-container {
    display: flex;
    align-items: center;
    padding: 0px;
}

.mat-icon-button {
    height: 33px;
    line-height: 31px;
}