<!-- <div class="row bg-white">
    <div class="col-md-12 d-flex flex-row m-2 dashboard-repors-section">
        <div class="col-md-6 d-flex flex-row m-2" *ngIf="!moduleBookingCountFound; else dnotShow">
            <div class="text-center">
                No data found
            </div>
        </div>
        <ng-template #dnotShow>
            <div class="col-md-3 d-flex flex-row m-2" *ngFor="let item of moduleBookingCount; let i = index">
                <ng-container *ngIf="item.module == 'Car Booking' ? false : true">
                    <div class="w-35 {{item.class}} customCenter text-white">
                        <i class="{{item.icon}} fa-3x p-3"></i>
                    </div>
                    <div class="pl-2">
                        <span class="font-weight-bold">
                            {{item.module | uppercase}}
                        </span>
                        <div class="link"> {{item['subTitle']}} </div>
                        <div class="link" *ngFor="let report of item.link">
                            <ng-container *ngIf="report.b2c">
                                <a [routerLink]="[report.b2c]">
                                    {{ 'B2C Report'}}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="report.agent">
                                <a [routerLink]="[report.agent]">
                                    {{ 'Agent Report'}}
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </div>
</div>
<br>
<hr>
<br>
<div class="row bg-white">
    <div class="col-md-5">
        <div class="fc-toolbar">
            <div class="fc-left">
                <h2>{{selectedDate | date: 'MMMM'}} {{selectedDate | date: 'yyyy'}}</h2>
            </div>
            <div class="fc-center"></div>
            <div class="fc-right">
                <button style="background: #3901be !important; border: #3901be !important;" type="button" (click)="setToday()" class="fc-today-button fc-button fc-button-primary">
                    Today
                </button>
                <div class="fc-button-group" >
                    <button style="background: #3901be !important; border: #3901be !important;" type="button" (click)="calenderPrev()" class="fc-prev-button fc-button fc-button-primary">
                        <span class="fc-icon fc-icon-chevron-left"></span>
                    </button>
                    <button style="background: #3901be !important; border: #3901be !important;" type="button" (click)="calenderNext()" class="fc-next-button fc-button fc-button-primary">
                        <span class="fc-icon fc-icon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
        <full-calendar defaultView="dayGridMonth"  [showNonCurrentDates]="false" [plugins]="calendarPlugins" [events]="calendarEvents" #calender
        (eventClick)="eventClicked($event)" (dateClick)="handleDateClick($event)">
        </full-calendar>
    </div>
    <div class="col-md-7 booking_list_data" *ngIf="bookingDetailsFound">
        <h5>Bookings Confirmed On {{selectedDate | date}}</h5>
        <div class="booking_li" *ngFor="let  booking of bookingDetails">
            <span *ngIf="booking?.AppReference"><strong>AppReference:</strong> {{ booking?.AppReference}} <i class="fa fa-copy" (click)="copyMessage(booking?.AppReference)"></i></span>&nbsp;
            <span *ngIf="booking?.Pnr"><strong>PNR.No:</strong> {{booking?.Pnr}}</span>&nbsp;
            <span *ngIf="booking?.GDS_PNR"><strong>GDS PNR:</strong> {{booking?.GDS_PNR}}</span>&nbsp;
            <br/>
            <div class="row">
                <div class="col-md-7" *ngIf="booking?.Passengers"> <strong>Name:</strong> {{booking?.Passengers[0]?.first_name + ' '+ booking?.Passengers[0]?.last_name}}</div>
                <div class="col-md-5">
                    <a class="d-block c-pointer float-right" [routerLink]="['/report/b2b/voucher/flight']"
                        [queryParams]="{appReference: booking?.AppReference}">
                        View Voucher
                    </a>
                </div>
            </div>
        </div>
    </div>
    <ng-template #hideMe>
        <div class="col-md-7 booking_list_data">
            <div class="text-center">
              <h4> No data found! </h4>
            </div>
        </div>
    </ng-template>
</div>
<br>
<hr>
<br>
<div class="row bg-white">
    <div class="col-md-12">
        <highcharts-chart [Highcharts]="highcharts2" [options]="chartOptions2"
            style="width: 100%; height: 500px; display: block;">
        </highcharts-chart>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 col-lg-6 p-0">
        <app-latest-members></app-latest-members>
    </div>
    <div class="col-md-6 col-lg-6 py-0 pr-0">
        <app-recent-booking-transactions></app-recent-booking-transactions>
    </div>
</div> -->

<ngx-loading [show]="loading"
[config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px',fullScreenBackdrop:true}"
[template]="loadingTemplate"></ngx-loading>

<!-- New Dashboard Start -->
<div class="col-12">
    <div class="top-level-kpi-sec px-3 py-2">
        <div class="row">
            <div class="col-12">
                <div class="row px-3">
                    <div class="p-0 d-flex justify-content-start col-6">
                        <h5 class="top-level-head">Top-Level KPI</h5>
                    </div>
                    <div class="p-0 d-flex justify-content-end col-6">
                        <span class="quick-link-span">Quick Links</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row px-3">
                    <div class="total-gmv col">
                        <div class="row px-3 py-2 col-12 head-sect">
                            <div class="col-6 pl-0">
                                <span class="f-15">Total GBV</span>
                            </div>
                            <div class="col-6 pr-0 d-flex justify-content-end">
                                <select class="b-none" [(ngModel)]="grossBookingValueFilter" (change)="onGrossBookingValueFilterChange()">
                                    <option *ngFor="let option of dashboardFilterOptions" [ngValue]="option.value">
                                        {{ option.label }}
                                    </option>
                                </select>
                            </div>

                            <span class="num-span">{{ totalGrossBookingValue | number:'1.2-2' }}</span>
                        </div>
                    </div>
                    <div class="net-revenue col">
                        <div class="row px-3 py-2 col-12 head-sect">
                            <div class="col-12 p-0">
                                <span class="f-15">Gross Margin</span>
                            </div>

                            <span class="num-span">{{ grossMargin | number:'1.2-2' }}</span>
                        </div>
                    </div>
                    <div class="net-revenue col">
                        <div class="row px-3 py-2 col-12 head-sect">
                            <div class="col-12 p-0">
                                <span class="f-15">Markup Earned</span>
                            </div>

                            <span class="num-span">{{ markupEarned | number:'1.2-2' }}</span>
                        </div>
                    </div>
                    <div class="net-revenue col">
                        <div class="row px-3 py-2 col-12 head-sect">
                            <div class="col-12 p-0">
                                <span class="f-15">Convenience Fee</span>
                            </div>

                            <span class="num-span">{{ convenienceFee | number:'1.2-2' }}</span>
                        </div>
                    </div>
                    <div class="total-bookings col">
                        <div class="row px-3 py-2 col-12 head-sect">
                            <div class="col-6 p-0">
                                <span class="f-15">Total Bookings</span>
                            </div>
                            <div class="col-6 pr-0 d-flex justify-content-end">
                                <select class="b-none" [(ngModel)]="totalBookingFilter" (change)="onTotalBookingFilterChange()">
                                    <option *ngFor="let option of dashboardFilterOptions" [ngValue]="option.value">
                                        {{ option.label }}
                                    </option>
                                </select>
                            </div>

                            <span class="num-span">{{ totalBooking | number:'1.2-2' }}</span>
                        </div>
                    </div>
                    <div class="bookings col">
                        <div class="row px-3 py-3 col-12 head-sect">
                            <div class="col-6 px-0 py-1">
                                <span class="f-15">Payment Completed</span>
                            </div>

                            <span class="num-span">{{ paymentCompletedCount | number:'1.2-2' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <div class="row px-3">
                    <div class="avg-booking-value col-2 mr-4">
                        <div class="row head-sect">
                            <div class="col-12">
                                <span class="f-15">Average Booking Value</span>
                            </div>
                            <div class="col-12">
                                <span class="num-span">{{ averageBookingValue | number:'1.2-2' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="pending-vendor-confirm col-2 mr-4 ml-2">
                        <div class="row head-sect">
                            <div class="col-12">
                                <span class="f-15">Pending Vendor Confirmations</span>
                            </div>
                            <div class="col-12">
                                <span class="num-span">{{ pendingVendorConfirmations | number:'1.2-2' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="pending-payments col-2 mr-4 ml-2">
                        <div class="row head-sect">
                            <div class="col-12">
                                <span class="f-15">Pending Payments</span>
                            </div>
                            <div class="col-12">
                                <span class="num-span">{{ paymentPendingCount | number:'1.2-2' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="refund-pendings col-2 mr-4 ml-2">
                        <div class="row head-sect py-2">
                            <div class="col-12 py-1">
                                <span class="f-15">Refunds Pending</span>
                            </div>
                            <div class="col-12">
                                <span class="num-span">{{ refundsPending | number:'1.2-2' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="open-cust-issues col-2 mr-4 ml-2">
                        <div class="row head-sect">
                            <div class="col-12">
                                <span class="f-15">Open Customer Issues</span>
                            </div>
                            <div class="col-12">
                                <span class="num-span">{{ openCustomerIssues | number:'1.2-2' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-revenue-finance
        [grossMargin]="grossMargin"
        [markupEarned]="markupEarned"
        [convenienceFee]="convenienceFee"
        [discountCost]="totalPromoCodeDiscountCost"
        [refundAmount]="refundAmount"
        [paymentSuccessRate]="paymentSuccessRate"
        [paymentFailedRate]="paymentFailedRate"
        [customerReceivables]="paymentPendingCount"
        [dashboardMetricsData]="dashboardMetricsData"
        [paymentMetricsData]="paymentMetricsData"
        [moduleRevenueData]="totalGrossBookingValueModuleWiseData"
        [vendorRevenueData]="vendorWiseRevenueData">
    </app-revenue-finance>
    <app-booking-operations
        [paymentPending]="paymentPendingCount"
        [paymentReceived]="paymentCompletedCount"
        [paymentFailed]="paymentFailedRate"
        [paymentPendingData]="paymentPendingData"
        [paymentCompletedData]="paymentCompletedData"
        [serviceDeliveredCancelledCountData]="serviceDeliveredCancelledCountData"
        [vendorConfirmationPending]="pendingVendorConfirmations"
        [confirmed]="totalBooking"
        [voucherTicketPending]="documentsNotIssuedCount"
        [completed]="serviceDeliveredCount"
        [cancelled]="serviceCancelledCount"
        [refundInitiated]="refundsPending"
        [refundCompleted]="refundAmount">
    </app-booking-operations>
    <app-vendor-management
        [totalVendors]="totalVendors"
        [activeVendors]="activeVendors"
        [pendingVendors]="pendingVendors"
        [vendorCategoryData]="vendorsCategoryWiseData"
        [vendorLocationData]="vendorLocationWiseData">
    </app-vendor-management>
    <div class="col-12">
        <div class="row p-0">
            <div class="col-6 pl-0">
                <app-customer [totalCustomersData]="totalCustomersData"></app-customer>
            </div>
            <div class="col-6 pr-0">
                <app-geo-route></app-geo-route>
            </div>
        </div>
    </div>
</div>
