<div class="card">
    <form [formGroup]="themeTypeForm" (ngSubmit)="onActivitiesSave()">
        <div class="form-row">
        <!-- <div class="col-4 pr-0">
            <div class="form-group">
            <label for="themeType" class="font-weight-bold" > Tour Theme</label>
            <input  class="form-control form-control-sm nrm_input" type="text" placeholder="Enter Package Theme"  formControlName="themeTypeName" maxlength="150"
            (input)="validateInput()">
        </div>
        </div> -->
        <div class="col-4 pr-0">
            <div class="form-group">
                <label for="themeType"> Tour Theme</label>
                <input type="text" class="form-control  form-control-sm nrm_input" 
                    placeholder="Enter Package Theme" id="appReference"formControlName="themeTypeName" maxlength="150">
            </div>
        </div>
        <!-- <div class="col-4 pr-2">
            <div class="form-group">
                <label class="" for="image">Image</label>
                <input type="file" class="form-control  form-control-sm nrm_input" accept=".png, .jpg, .jpeg"
                    formControlName="image" id="image" (change)="onFileChange($event.target.files)"
                    #labelImport>
            </div>
            <div *ngIf="themeImage"><img [src]="getImage(themeImage)" width="100" height="50"></div>
            <img *ngIf="imageSrc" height="50" width="100" class="rounded" [src]="imageSrc" alt="logo">
            <span class="text-danger">(Maximum upload file size: 1 MB)</span>
        </div> -->
          <button type="submit" class="orangeButton ml-4"> Save</button>
        </div>
    </form>
</div>