<hr>

<div class="">
  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab">

      <li [ngbNavItem]="'markup_detail'">

        <a ngbNavLink>
          MARKUP DETAILS
        </a>

        <ng-template ngbNavContent>
          <app-agent-b2c-markup-detail
            (toUpdate)="triggerTab($event)">
          </app-agent-b2c-markup-detail>
        </ng-template>

      </li>

      <li [ngbNavItem]="'default_markup'">

        <a ngbNavLink>
          ADD/UPDATE MARKUP
        </a>

        <ng-template ngbNavContent>
          <app-agent-b2c-markup-add-update
            [getDataToUpdate]="userData"
            (toList)="triggerTab($event)">
          </app-agent-b2c-markup-add-update>
        </ng-template>

      </li>

      <li [ngbNavItem]="'default_supplier'">

        <a ngbNavLink>
          Supplier Update
        </a>

        <ng-template ngbNavContent>
          <app-supplier-markup-update
            [getSupplierToUpdate]="userData"
            (supplierListdata)="triggerTab($event)">
          </app-supplier-markup-update>
        </ng-template>

      </li>

      <li [ngbNavItem]="'default_supplier_list'">

        <a ngbNavLink>
          Supplier List
        </a>

        <ng-template ngbNavContent>
          <app-supplir-markup-list
            (toUpdateSupplier)="triggerTab($event)">
          </app-supplir-markup-list>
        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>
</div>