<div class="card">
    <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav-tabs tabs-animated custom_tab">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <span><i class="fa fa-plane"></i> &nbsp; Flight Markup</span>
                </a>
                <ng-template ngbNavContent>
                    <app-b2c-flight></app-b2c-flight>
                </ng-template>
            </li>

            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <span><i class="fa fa-hotel"></i> &nbsp; Hotel Markup</span>
                </a>
                <ng-template ngbNavContent>
                    <app-b2c-hotel></app-b2c-hotel>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>