<div class="card">
    <div class="card-body">
        <ngb-tabset class="tabs-animated tabs-animated-shadow">
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-plane"></i> &nbsp; Flight Markup</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-b2c-flight></app-b2c-flight>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-hotel"></i> &nbsp; Hotel Markup</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-b2c-hotel></app-b2c-hotel>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>