

.heading{
    display: flex !important ;
}

.entireScreen{
    background-color: #fff !important;
}
.continentInput{
    width: 300px;
    margin-left: 16rem;
}

.packageBtn{
    width: none !important;
}
.search input{
    margin: 0px !important;
  }

  .wrapper1,
  .wrapper2 {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .wrapper1 {
    height: 20px;
  }
  
  
  .div1 {
    width: 1500px;
    height: 20px;
    @media(max-width:767px){
        width: 600px;
    }
  }
  .div2 {
    width: 1500px;
    overflow: hidden;
    @media(max-width:767px){
        width: 600px;
    }
  }
  
  .div2 .table-responsive {overflow: inherit;}
  .invisible-scrollbar::-webkit-scrollbar {
      display: none;
    }