<div class="card mb-3">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>
            {{'Manage SMS'}}
        </div>
        <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
                <button class="btn-shadow btn btn-dark">Refresh</button>
                <button type="button" class="btn-shadow btn btn-dark">Remove</button>
            </div>
        </div>
    </div>
    <form>
        <div class="p-2">
            <div class="form-group form-inline mb-0">
                Full text search:
                <input class="form-control ml-2" type="text" name="searchTerm" />

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-left" *ngFor="let header of displayColumn; let i=index;">
                            {{header}} </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sms of smsData">
                        <td scope="row" class="text-left" *ngFor="let key of displayColumn;">
                            <span *ngIf="sms[key]['val']; else notShow" title="Slide for Active/Deactive">
                                <mat-slide-toggle class="example-margin" [color]="''" [checked]="sms[key]['status']"> </mat-slide-toggle>
                            </span>
                            <ng-template #notShow>
                                <ngb-highlight [result]="sms[key]"></ngb-highlight>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer pb-0">
            <div class="d-flex w-100 justify-content-between">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>
                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="4">4 items per page</option>
                    <option [ngValue]="6">6 items per page</option>
                </select>
            </div>
        </div>
    </form>
</div>