<div class="row">
    <div class="col-md-12">
        <div class="card main-card mb-6">
            <div *ngIf="showDetails" class="">
                <p><strong>Agency Name  :</strong> {{agentName}}</p>
                <p><strong>Balance      :</strong> {{balance}}</p>
                <p><strong>Currency     :</strong> {{currency}}</p>
            </div>
            <div class="card-header">
                Agent Balance
            </div>
            <div class="card-body">
                <form [formGroup]="agentForm" (ngSubmit)="onSubmit(agentForm.value)">
                    <div class="position-relative row form-group">
                        <label for="exampleAgents" class="col-sm-2 col-form-label">Agents
                            <span style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <select formControlName="agents" (change)="onChange($event.target.value)" class="form-control">
                                <option *ngFor="let agent of agents" [value]="agent.id">{{agent.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label">Account Type</label>
                        <div class="col-sm-10">
                            <select formControlName="accountType" (change)="onChangeType($event.target.value)" class="form-control">
                                <option *ngFor="let account of accounts" [value]="account.name">{{account.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label">Credit Towards</label>
                        <div class="col-sm-10">
                            <select formControlName="towards" class="form-control">
                                <option *ngFor="let toward of towards" [value]="toward.id">{{toward.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label">Reference Number</label>
                        <div class="col-sm-10">
                            <input formControlName="referenceNumber" id="exampleEmail" placeholder="" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label">{{accountType}} Amount</label>
                        <div class="col-sm-10">
                            <input formControlName="amount" id="exampleEmail" placeholder="" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="exampleEmail" class="col-sm-2 col-form-label">Comments</label>
                        <div class="col-sm-10">
                            <textarea formControlName="comments" class="form-control"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-success ml-2" (click)="onChange(0)" type="reset">Reset</button>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-secondary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>