
<ngb-tabset class="tabs-animated custom_tab" (tabChange)="beforeChange($event)" #tabs
[activeId]="activeIdString">
    <ngb-tab id="list_activity_country">
        <ng-template ngbTabTitle>
            <span class="">{{'Country List'}}</span>
        </ng-template>
        <ng-template ngbTabContent>
            <app-list-activity-country (toUpdate)="triggerTab($event)"></app-list-activity-country>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="add_activity_country">
        <ng-template ngbTabTitle>
            <span class="">{{'Add/Edit Country'}}</span>
        </ng-template>
        <ng-template ngbTabContent>
            <app-add-activity-country (someEvent)="triggerTab($event)"></app-add-activity-country>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
            