<div class="">

  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange($event)">

      <li [ngbNavItem]="'list_activity_country'">

        <a ngbNavLink>
          Country List
        </a>

        <ng-template ngbNavContent>
          <app-list-activity-country
            (toUpdate)="triggerTab($event)">
          </app-list-activity-country>
        </ng-template>

      </li>

      <li [ngbNavItem]="'add_activity_country'">

        <a ngbNavLink>
          Add/Edit Country
        </a>

        <ng-template ngbNavContent>
          <app-add-activity-country
            (someEvent)="triggerTab($event)">
          </app-add-activity-country>
        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>

</div>