.nopad{
    padding: 0px !important;
}
.v-sidebar-menu .vsm-icon{
    opacity: unset;
    color: #fff;
    font-weight: 600;
}
.vsm-title{
    font-weight: 600;
}
.hide{
    display: none;
}

.fs-19 {
    font-size: 19px !important;
}