<div class="row col-lg-12 col-md-12 pt-3 m-0 card">
    <ngb-tabset class="tabs-animated tabs-animated-shadow">
        <ngb-tab *ngFor="let link of navLinks; let i=index;">
            <ng-template ngbTabTitle>
                <span (click)="onSelect()"> <i class="{{link.icon}}"></i> &nbsp; {{link.label}} </span>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row btop" [ngSwitch]="link.component">
                    <div *ngSwitchCase="'flight'" class="col-md-12 col-lg-12">
                        <app-flight></app-flight>
                    </div>
                    <div *ngSwitchCase="'hotel'" class="col-md-12 col-lg-12">
                        <app-hotel></app-hotel>
                    </div>
                    <div *ngSwitchCase="'bus'" class="col-md-12 col-lg-12">
                        <app-bus></app-bus>
                    </div>
                    <div *ngSwitchCase="'transfers'" class="col-md-12 col-lg-12">
                        <app-transfers></app-transfers>
                    </div>
                    <div *ngSwitchCase="'activities'" class="col-md-12 col-lg-12">
                        <app-activities></app-activities>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>