<div>
    <form [formGroup]="activitiesForm" (ngSubmit)="onActivitiesSave()">
        <div class="form-row">
            <div class="col-md-4">
                <div class="activitiesInput">
                <label for="activities" class="" > Tour Activities</label>
                <input type="text" class="form-control ml-0" placeholder="Enter Package Activities"  formControlName="activitiesName" maxlength="150" 
                (input)="validateInput()"> 
               
            </div>
            <div *ngIf="activitiesForm.controls.activitiesName.errors && activitiesForm.controls.activitiesName.touched">
                <div *ngIf="activitiesForm.controls.activitiesName.errors.required" class="errorMessage">
                *Please enter package activities name.
                </div>
                <div *ngIf="activitiesForm.controls.activitiesName.errors.invalidString" class="errorMessage">
                    *Number(s) are not allowed.
                </div>
                <div *ngIf="activitiesForm.controls.activitiesName.errors.startOrEndSpace"  class="errorMessage">
                    *Empty space(s) in start and end are not allowed.
                </div>
            </div>
            </div>
             <div class="col-md-4 pr-0">
                <label style="display: block;">&nbsp;</label>
                <button type="submit" class="btn btn-primary"> Save</button>
            </div>
        </div>
        
    </form>
</div>