
<div class="main-card mb-3 card change-password-section">
 
    <div class="card-body p-0">
        <div class="card-title align-items-center d-flex px-3">
            <div class="card-profile ">
                <i class="far fa-user text-white"></i>
                <!-- <img [src]="profile_logo" /> -->
            </div>
            <div class="d-flex flex-column ml-3">
               
                
                <h5 class="title"><span *ngIf="currentUser.auth_role_id == 6"> Supplier </span> Id : {{ currentUser.id }}</h5>
                <span><span *ngIf="currentUser.auth_role_id == 6"> Supplier </span> Email : {{ currentUser.email }}</span>
            </div>
           
            <div class=" ml-auto">
                <h5 class="title cust-fs">Change Password</h5>
            </div>
        
        </div>
      
        <form [formGroup]="changePasswordForm" autocomplete="off" class="needs-validation px-4" novalidate
            (ngSubmit)="onSubmit()">
            <div class="position-relative form-group">
                <label for="old_password" class="col-form-label">Email Id</label>
                    <input formControlName="email" placeholder="Enter Email" type="email" class="form-control">
            </div>
            <div class="position-relative form-group">
                <label for="old_password" class="col-form-label">Old Password</label>
                    <input formControlName="old_password" placeholder="Old Password" type="password" class="form-control">
                    <div *ngIf="old_password.invalid && (old_password.dirty || old_password.touched)">
                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                        </div>
                    </div>
            </div>
            <div class="position-relative form-group">
                <label for="new_password" class="col-form-label">New Password</label>
                    <input formControlName="new_password" placeholder="New Password" type="password" class="form-control">
            </div>
            <div class="position-relative form-group">
                <div class="update-btn d-flex align-items-center">
                    <button class="btn btn-secondary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
