<div class="agency-user-details">
    <div class="user-detail-sec">
        <div class="title">
            <p>User Details</p>
        </div>
        <div class="user-detail-form">
            <div class="row">
                <div class="col-6">
                    <div class="form-group row align-items-center">
                        <label class="custom-label col-2">Name</label>
                        <P class="col-9">Mr Numan Khan</P>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row align-items-center">
                        <label class="custom-label col-3">Contact No.</label>
                        <P class="col-9">+91987654321</P>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group row align-items-center">
                        <label class="custom-label col-2">Email</label>
                        <P class="col-9">EMP-654</P>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row align-items-center">
                        <label class="custom-label col-3">Email</label>
                        <P class="col-9">dummy@gmail.com</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-detail-sec mt-4">
        <div class="privilare-section">
            <div class="search-field">
                <div class="form-group row align-items-center mb-0">
                    <label class="col-2 mb-0">Search Privilage</label>
                    <input type="text" class="col-8" />
                    <div class="pri-btn col-2">
                        <button>search</button>
                    </div>
                </div>
            </div>
            <div class="privilage-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-right pr-5" width="100">SL. No</th>
                            <th width="400">Privilage Description</th>
                            <th width="100" class="text-center">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox"  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox" checked  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox" checked  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox" checked  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox"  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox" checked  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox" checked  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox" checked  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox" checked  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox" checked  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox" checked  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox"  name="todo" value="todo" /></td>
                        </tr>
                        <tr>
                            <td class="text-right pr-5">01</td>
                            <td>Reward Points</td>
                            <td class="text-center"><input type="checkbox"  name="todo" value="todo" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>