.nrm_input,
  .src_btn {
    padding: 0.5rem 0.75rem 0.5rem 2.2rem;
    line-height: 1.7;
    height: calc(2.5em + 0.75rem + 2px);
  }
  .btnStyle {
    padding: 5px 12px;
    background: #012756;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    margin: 0px 4px;
}
table {
    width: 100%;
}
th{
    color: #012756;
}
.exportWrapper{
    font-family: 'Asap';
    width:100%;
    font-weight: bold;
    display: inline-block;
    margin-top: 50px;
}
.exportWrapper p{
    color: #012756;
    float: left;
}

.exportWrapper button{
    float: right;
    background-color: #012756;
    padding: 5px 12px;
    border: #012756;
    margin: 5px;
    color: #ffffff;
    border-radius: 5px;
}
.text-left{
    span{color: #012756;}
}
.form-group label{color: #fff!important;}