table {
    width: 100%;
}
th {
    color: #012756;
    font-size: 14px;
}
td {
    color: #082b3a;
    font-size: 12px;
}
.btnStyle {
    padding: 5px 12px;
    background: #012756;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}
.topSectionContainer {
    display: flex;
    margin-bottom: 10px;
}
.dropdownStyle {
    padding: 12px 30px 0px;
    font-weight: 600;
}
select#module {
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #ffffff;
}

