<div class="col-12 revenue-finance-top-sec mt-3 pt-2 pb-4 px-5">

    <!-- Header -->
    <div class="row">
        <div class="col-12 pl-0">
            <span class="revenue-span">Customer</span>
        </div>
    </div>

    <!-- Total Registered Users -->
    <div class="row head-sect p-2 mb-2">
        <div class="col-8">
            <span class="f-15">Total Registered Users</span>
        </div>

        <div class="col-4 text-end">
            <select class="b-none" [(ngModel)]="totalCustomersFilter" (change)="onTotalCustomersFilterChange()">
                <option *ngFor="let option of dashboardFilterOptions" [ngValue]="option.value">
                    {{ option.label }}
                </option>
            </select>
        </div>

        <div class="col-12">
            <span class="num-span">{{ totalCustomers }}</span>
        </div>
    </div>

    <!-- Average Booking Value -->
    <div class="row head-sect p-2 mb-2">
        <div class="col-8">
            <span class="f-15">Average Booking Value</span>
        </div>

        <div class="col-4 text-end">
            <select class="b-none">
                <option>Today</option>
                            <option>Last Day</option>
                            <option>Last Week</option>
                            <option>Last Month</option>
                            <option>All</option>
            </select>
        </div>

        <div class="col-12">
            <span class="num-span">100</span>
        </div>
    </div>

    <!-- New Users & Repeat Customers -->
    <div class="row g-3">

        <!-- New Users -->
        <div class="col-md-6 pl-0">
            <div class="head-sect p-2 ">
                <div class="row">
                    <div class="col-8">
                        <span class="f-15">New Users</span>
                    </div>

                    <div class="col-4 text-end">
                        <select class="b-none">
                           <option>Today</option>
                            <option>Last Day</option>
                            <option>Last Week</option>
                            <option>Last Month</option>
                            <option>All</option>
                        </select>
                    </div>

                    <div class="col-12 mt-2">
                        <span class="num-span">100</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repeat Customers -->
        <div class="col-md-6 pr-0">
            <div class="head-sect p-2 ">
                <div class="row">
                    <div class="col-8">
                        <span class="f-15">Repeat Customers</span>
                    </div>

                    <div class="col-4 text-end">
                        <select class="b-none">
                            <option>Today</option>
                            <option>Last Day</option>
                            <option>Last Week</option>
                            <option>Last Month</option>
                            <option>All</option>
                        </select>
                    </div>

                    <div class="col-12 mt-2">
                        <span class="num-span">100</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
