<div class="col-12 revenue-finance-top-sec indiv-sec mt-3 p-4">

    <!-- Header -->
    
        <div class="pb-4">
            <span class="revenue-span">Customer</span>
        </div>
   

    <!-- Total Registered Users -->
    <div class="d-flex head-sect p-12 flex-column">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <span class="f-15">Total Registered Users</span>
             <select class="b-none" [(ngModel)]="totalCustomersFilter" (change)="onTotalCustomersFilterChange()">
                <option *ngFor="let option of dashboardFilterOptions" [ngValue]="option.value">
                    {{ option.label }}
                </option>
            </select>
        </div>
        <span class="num-span">{{ totalCustomers | number:'1.2-2' }}</span>
        
    </div>

    <!-- Average Booking Value -->
    <div class="d-flex head-sect p-12 flex-column">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <span class="f-15">Average Booking Value</span>
            <select class="b-none">
                <option>Today</option>
                <option>Last Day</option>
                <option>Last Week</option>
                <option>Last Month</option>
                <option>All</option>
            </select>
        </div>
         <span class="num-span">{{ 100 | number:'1.2-2' }}</span>
        
    </div>

    <div class="d-flex head-sect p-12 flex-column">
        <div class="d-flex align-items-center justify-content-between mb-2">
                <span class="f-15">New Users</span>
                <select class="b-none">
                    <option>Today</option>
                    <option>Last Day</option>
                    <option>Last Week</option>
                    <option>Last Month</option>
                    <option>All</option>
                </select>
            </div>
        <span class="num-span">{{ 100 | number:'1.2-2' }}</span>
            
    </div>
           <div class="d-flex head-sect p-12 flex-column">
                   <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="f-15">Repeat Customers</span>
                         <select class="b-none">
                            <option>Today</option>
                            <option>Last Day</option>
                            <option>Last Week</option>
                            <option>Last Month</option>
                            <option>All</option>
                        </select>
                    </div>
                   <span class="num-span">{{ 100 | number:'1.2-2' }}</span>
                   
                </div>
            

   

</div>
