<hr>
<div class="card">
    <form [formGroup]="supplierConfig"  class="form">
        <div class="card-header">
            <h5 class="card-title">Supplier Markup</h5>
        </div>
        <div class="card-body">
            <table>
                <tr>
            <td>
                <div class="d-flex flex-row pt-3">
                    <div class="col-sm-4">
                        <label for="agent_id">Agent&nbsp;</label>
                        <mat-form-field class="col-sm-12"  appearance="fill" style="padding-left: 0;">
                            <mat-label>Agent List</mat-label>
                            <input type="text" placeholder="Choose..."  class="text-capitalize" matInput formControlName="agent_id"
                                [matAutocomplete]="auto" >
                            <mat-autocomplete class="text-uppercase" #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
                                <mat-option *ngFor="let agent of respAgentData "
                                    [value]="agent.name" [id]="agent.id">
                                    {{agent.name}} 
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <div *ngIf="supplierConfig?.get('agent_id')?.touched && supplierConfig?.get('agent_id')?.invalid" class="text-danger">
                            Agent group is required.
                          </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="airlines">Suppliers &nbsp;</label>
                        <mat-form-field class="col-sm-12"  appearance="fill" style="padding-left: 0;">
                            <mat-label>Supplier List</mat-label>
                            <input type="text" placeholder="Choose..."  class="text-capitalize" matInput formControlName="suppliers"
                                [matAutocomplete]="supplier">
                            <mat-autocomplete #supplier="matAutocomplete">
                                <mat-option *ngFor="let suppliers of supplierList"
                                [value]="suppliers.name"  (click)="selectedLocation(suppliers)">
                                    {{suppliers.name}} 
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <div *ngIf="supplierConfig?.get('suppliers')?.touched && supplierConfig?.get('suppliers')?.invalid" class="text-danger">
                            Supplier is required.
                          </div>
                    </div>
                    <div class="form-group col-sm-2">
                      
                        <input type="radio" value="percentage" formControlName="supplier_value_type" />
                        Percentage(%)
                        <input type="text" onkeypress='return ( event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45 && this.value.indexOf("-") === -1 && this.selectionStart == 0)' formControlName="supplier_value" class="form-control"
                            />
                    </div>
             
                </div>
            </td>
            </tr>
            </table>
        </div>
        <div class="card-footer customCenter">
            <button type="submit" class="btn btn-primary"(click)="addGeneralMarkup()">Submit</button>
            &nbsp; &nbsp;
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </form>
    <form [formGroup]="regConfig"  class="form">
        <div class="card-header">
            <h5 class="card-title">Hotel Markup</h5>
        </div>
        <div class="card-body">
            <table>
                <tr>
            <td>
                <div class="d-flex flex-row pt-3">
                    <div class="col-sm-4">
                        <label for="agent_id">Agent Group&nbsp;</label>
                        <mat-form-field class="col-sm-12"  appearance="fill" style="padding-left: 0;">
                            <mat-label>Agent Group List</mat-label>
                            <input type="text" placeholder="Choose..."  class="text-capitalize" matInput formControlName="agent_id"
                                [matAutocomplete]="auto" >
                            <mat-autocomplete class="text-uppercase" #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
                                <mat-option *ngFor="let agent of respAgentData "
                                    [value]="agent.name" [id]="agent.id">
                                    {{agent.name}} 
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <div *ngIf="regConfig?.get('agent_id')?.touched && regConfig?.get('agent_id')?.invalid" class="text-danger">
                            Agent group is required.
                          </div>
                    </div>
                    <!-- <div class="col-sm-4 mb-3">
                        <label class=" control-label">
                            Suppliers
                            <span class="text-danger">*</span>
                        </label>
                        <ng-multiselect-dropdown  formControlName="suppliers"
                            [placeholder]="'Select Supplier'" [data]="supplierList"
                            [settings]="dropdownSettingsForSupplier" class="form-control"(click)="selectedLocation(suppliers)">
                        </ng-multiselect-dropdown>
                        <div *ngIf="submittedHotel && hotel.suppliers.errors" class="invalid-feedback">
                            <div *ngIf="hotel.suppliers.errors.required">Meal Plans are required</div>
                        </div>
                    </div> -->
                    <div class="form-group col-sm-4">
                        <label for="airlines">Suppliers &nbsp;</label>
                        <mat-form-field class="col-sm-12"  appearance="fill" style="padding-left: 0;">
                            <mat-label>Supplier List</mat-label>
                            <input type="text" placeholder="Choose..."  class="text-capitalize" matInput formControlName="suppliers"
                                [matAutocomplete]="supplier">
                            <mat-autocomplete #supplier="matAutocomplete">
                                <mat-option *ngFor="let suppliers of supplierList"
                                [value]="suppliers.name"  (click)="selectedLocation(suppliers)">
                                    {{suppliers.name}} 
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <div *ngIf="regConfig?.get('suppliers')?.touched && regConfig?.get('suppliers')?.invalid" class="text-danger">
                            Supplier is required.
                          </div>
                    </div>
             
                </div>
            </td>
            </tr>
            </table>
            <table>
                <tr>
            <td>
                <div class="d-flex flex-row pt-3">
                    <div class="form-group col-sm-4 mb-3">
                        <label class=" control-label">
                            Country
                            <!-- <span class="text-danger">*</span> -->
                        </label>
                        <select formControlName="core_country_id" class="form-control" (change)="getCityListAuto($event)"
                            >
                            <option value="" disabled selected>Select Country</option>
                            <option *ngFor="let coreCountry of coreCountryList" [value]="coreCountry.countryCode">
                                {{coreCountry.countryName}}
                            </option>
                        </select>
                        <!-- <div *ngIf="submittedHotel && hotel.core_country_id.errors" class="invalid-feedback">
                            <div *ngIf="hotel.core_country_id.errors.required">Country is required</div>
                        </div> -->
                    </div>
                    <div class="form-group col-sm-6">
                      
                        <input type="radio" value="percentage" formControlName="country_type" />
                        Percentage(%)
                        <input type="text" onkeypress='return ( event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45 && this.value.indexOf("-") === -1 && this.selectionStart == 0)' formControlName="country_value" class="form-control"
                            />
                    </div>

                </div>
            </td>
            </tr>
            </table>
            <table>
                <tr>
            <td>
                <div *ngIf="!cities.controls.length && updated"class="d-flex flex-row pt-3">
                    <div class="form-group col-sm-4 mb-3">
                        <label class="control-label">
                            City
                            <!-- <span class="text-danger">*</span> -->
                        </label>
                        <select formControlName="city_name" class="form-control"(ngModelChange)="onCityChange($event)"
                           >
                            <option value="" disabled selected>Select City</option>
                            <option *ngFor="let coreCity of coreCityList" [value]="coreCity.Id">
                                {{coreCity.cityName}}
                            </option>
                        </select>
                        <!-- <div *ngIf="submittedHotel && hotel.city_name.errors" class="invalid-feedback">
                            <div *ngIf="hotel.city_name.errors.required">City is required</div>
                        </div> -->
                    </div>
                    <div class="form-group col-sm-6">
                     
                        <input type="radio" value="percentage" formControlName="city_value_type" />
                        Percentage(%)
                        <input type="text" onkeypress='return ( event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45 && this.value.indexOf("-") === -1 && this.selectionStart == 0)' formControlName="city_value" class="form-control"
                            />
                    </div>

                </div>
                <div *ngIf="cities.controls.length && !updated" >
                <div formArrayName="cities" *ngFor="let city of cities.controls; let i = index">
                    <div [formGroupName]="i" class="d-flex flex-row pt-3">
                      <div class="form-group col-sm-4 mb-3">
                        <label class="control-label">City <span class="text-danger">*</span></label>
                        <select formControlName="city_name" class="form-control">
                          <option value="" disabled selected>Select City</option>
                          <option *ngFor="let coreCity of coreCityList" [value]="coreCity.Id">
                            {{coreCity.cityName}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <!-- <input type="radio" value="plus" formControlName="city_value_type" /> Plus(+/- {{defaultCurrency}}) -->
                        <input type="radio" value="percentage" formControlName="city_value_type" /> Percentage(%)
                        <input type="text" onkeypress='return ( event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45 && this.value.indexOf("-") === -1 && this.selectionStart == 0)' formControlName="city_value" class="form-control" />
                      </div>
                    </div>
                  </div>
                  </div>
            </td>
            </tr>
            </table>
        
        </div>
        <div class="card-footer customCenter">
            <button type="submit" class="btn btn-primary"(click)="onSubmit()">Submit</button>
            &nbsp; &nbsp;
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </form>
</div>
<hr>
<div class="card mt-3" *ngIf="!noData">
 
    <table class="card-table table" matSort>
        <thead>
            <tr>
                <th scope="col" class="text-center" *ngFor="let header of displayColumn;">
                    {{header.value }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="noData">
                <td colspan="11">
                    <mat-spinner [diameter]="30" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
                </td>
            </tr>
            <tr *ngIf="!noData && (respData == null || !respData.length ) ">
                <td colspan="11">
                    <h4 class="text-muted text-center">
                        No Data Found!
                    </h4>
                </td>
            </tr>
            <tr *ngFor="let data of respData | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize; let i=index;">
                <td class="align-middle text-center">{{i+1}}.</td>
                <td class="align-middle text-center">
                    {{selectedAgentList(data)}}
                 </td>
                <td class="align-middle text-center">
                    
                  
                    
                        {{selectedSupplierList(data)}}
                  
                </td>
         
                <td class="align-middle text-center">
                    {{ data.supplier === '{}' || data.supplier === '' ? data?.value : ''}}
                </td>
                <td class="align-middle text-center">
                    <ng-container *ngIf="data?.supplier">
                      <ng-container *ngFor="let item of getFormattedSegment(data.supplier)">
                        <!-- Country Details -->
                        <ng-container *ngIf="item?.country">
                          <ng-container *ngFor="let countryEntry of item.country | keyvalue">
                            <div>
                              Country: {{ countryEntry.value.name }} |
                              Value: {{ countryEntry.value.value }} -
                              {{ countryEntry.value.value_type || '--'}}
                            </div>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </td>
                  
                  <td class="align-middle text-center">
                    <ng-container *ngIf="data?.supplier">
                      <ng-container *ngFor="let item of getFormattedSegment(data.supplier)">
                        <!-- City Details -->
                        <ng-container *ngIf="item?.city">
                          <ng-container *ngFor="let cityEntry of item.city | keyvalue">
                            <div>
                              City: {{ cityEntry.value.name }} |
                              Value: {{ cityEntry.value.value }} -
                              {{ cityEntry.value.value_type }}
                            </div>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </td>
        
                <td class="align-middle text-center">
                    <button class="btn btn-sm btn-primary" (click)="updateMarkup(data)">
                        <i class="fa fa-edit text-nowrap">
                            {{'Update'}}
                        </i>
                    </button>&nbsp;
                    <button class="btn btn-sm btn-primary" (click)="deleteMarkup(data)">
                        <i class="fa fa-edit text-nowrap">
                            {{'Delete'}}
                        </i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="card-footer pb-0">
        <div class="d-flex w-100 justify-content-between">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
                <option [ngValue]="50">50 items per page</option>
                <option [ngValue]="100">100 items per page</option>
            </select>
        </div>
    </div>