table {
    width: 100%;
}
.card-body{
    margin-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card{
    font-family: 'Asap';
    padding: 0px;
}

label{
    padding: 0px 5px;
}
::ng-deep .multiselect-dropdown .dropdown-btn{ border: none !important; padding:0px !important;}
span.dropdown-multiselect__caret {
    height: 45px !important;
    right: -12px !important;
    top: -7px !important;
}
span.dropdown-multiselect__caret::before {
    top: 50%;
}