
// .customPlaceholder{
//     input,
//     input::-webkit-input-placeholder {
//         font-size: 10px !important;
//         line-height: 3;
//     }
// }
p{
    text-align: center;
}
.custom-form-group-layout{
    padding: 15px 0px;
}
th {
    color: #012756!important;
}