<div class="">
    <div class="">
        <ngb-tabset class="tabs-animated custom_tab" (tabChange)="beforeChange(false)" #tabs [activeId]="activeIdString">
            <ngb-tab id="add_update_b2cUser">
                <ng-template ngbTabTitle>
                    <span> Create/Update B2C User</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-create-b2c (b2cUserUpdate)="triggerTab($event)"></app-create-b2c>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="b2cUsers_list">
                <ng-template ngbTabTitle>
                    <span> B2C Users List</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-inactive-list (b2cUserUpdate)="triggerTab($event)"></app-inactive-list>
                </ng-template>
            </ngb-tab>
         
        </ngb-tabset>
    </div>
</div>
