<div class="">
    <div class="">
        <ngb-tabset class="tabs-animated tabs-animated-shadow" (tabChange)="beforeChange(false)" #tabs
            [activeId]="activeIdString">
            <ngb-tab id="add_update_staticPage">
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-edit"></i> &nbsp; Gallery</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-add-gallery (staticContentTab)="triggerTab($event)"></app-add-gallery>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="staticpage_list">
                <ng-template ngbTabTitle>
                    <span><i class="fa fa-users"></i> &nbsp; Gallery List</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-update-gallery (staticContentTab)="triggerTab($event)"></app-update-gallery>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
