<div>
    <div>

        <ul
            ngbNav
            #tabs="ngbNav"
            [(activeId)]="activeIdString"
            (navChange)="beforeChange(false)"
            class="nav-tabs tabs-animated custom_tab crs-tab-ui">

            <li [ngbNavItem]="'add_update_staticPage'">
                <a ngbNavLink>Gallery</a>
                <ng-template ngbNavContent>
                    <app-add-gallery
                        (staticContentTab)="triggerTab($event)">
                    </app-add-gallery>
                </ng-template>
            </li>

            <li [ngbNavItem]="'staticpage_list'">
                <a ngbNavLink>Gallery List</a>
                <ng-template ngbNavContent>
                    <app-update-gallery
                        (staticContentTab)="triggerTab($event)">
                    </app-update-gallery>
                </ng-template>
            </li>

        </ul>

        <div [ngbNavOutlet]="tabs" class="mt-3"></div>

    </div>
</div>