<div class="row mx-0 pt-2">
  <div class="col-md-12">
    <div class="card main-card mb-6">
      <div class="card-body">

        <ul
          ngbNav
          #tabs="ngbNav"
          [(activeId)]="activeIdString"
          (navChange)="beforeChange($event)"
          class="nav-tabs tabs-animated custom_tab">

          <li [ngbNavItem]="'list_vehicles'">
            <a ngbNavLink>Route List</a>
            <ng-template ngbNavContent>
              <app-vehicle-list
                (toUpdate)="triggerTab($event)">
              </app-vehicle-list>
            </ng-template>
          </li>

          <li [ngbNavItem]="'add_vehicles'">
            <a ngbNavLink>Add/Edit Route</a>
            <ng-template ngbNavContent>
              <app-add-vehicle
                (someEvent)="triggerTab($event)">
              </app-add-vehicle>
            </ng-template>
          </li>

        </ul>

        <div [ngbNavOutlet]="tabs" class="mt-3"></div>

      </div>
    </div>
  </div>
</div>