<div class="">
  <div class="">
    
    <ul
      ngbNav
      #tabs="ngbNav"
      class="nav-tabs tabs-animated custom_tab"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange(false)">

      <li [ngbNavItem]="'manage_promocode'">
        <a ngbNavLink>
          <span>Manage Promo Code</span>
        </a>

        <ng-template ngbNavContent>
          <app-manage-promocode
            (updatePromoCode)="triggerTab($event)">
          </app-manage-promocode>
        </ng-template>
      </li>

      <li [ngbNavItem]="'promocode_list'">
        <a ngbNavLink>
          <span>Promo Code List</span>
        </a>

        <ng-template ngbNavContent>
          <app-promocode-list
            (updatePromoCode)="triggerTab($event)">
          </app-promocode-list>
        </ng-template>
      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>
</div>