<div class="row bg-white py-3">
  <div class="col-md-12">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="nav-tabs">

      <li [ngbNavItem]="'bankAccountDetails'">

        <a ngbNavLink>
          Bank Account Details
        </a>

        <ng-template ngbNavContent>
          <app-list (passedTab)="getTab($event)"></app-list>
        </ng-template>

      </li>

      <li [ngbNavItem]="'addOrUpdateBankAccountDetails'">

        <a ngbNavLink>
          Add/Update Bank Account Details
        </a>

        <ng-template ngbNavContent>
          <app-add
            [getDataToUpdate]="dataToUpdate"
            (passedTab)="getTab($event)">
          </app-add>
        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>
</div>