<div class="">
    <hr>
    <div class="card mb-3">
        <form [formGroup]="regConfig" autocomplete="off">
            <div>
                <div class="d-flex flex-row pt-3">
                    <div class="form-group col-sm-4">
                        <label for="airlines">Airlines &nbsp;</label>
                        <mat-form-field class="col-sm-12"  appearance="fill" style="padding-left: 0;">
                            <input type="text" placeholder="Choose..."  matInput formControlName="airlines"
                                [matAutocomplete]="autoAirline" [readonly]="addOrUpdate=='update'?true:null">
                            <mat-autocomplete #autoAirline="matAutocomplete" (optionSelected)="checkAirline($event)">
                                <mat-option *ngFor="let airline of filteredAirline  | async"
                                    [value]="airline.name +' '+' ('+ airline.code +')'" [id]="airline.id">
                                    {{airline.name}} ({{airline.code}})
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-sm-4">
                        <!-- <input type="radio" value="plus" formControlName="value_type"  /> Plus(+/-
                        {{currency}}) &nbsp; -->
                        <input type="radio" value="percentage" formControlName="value_type" />
                        Percentage(%)
                        <input type="text" style="margin-top: 0.2rem;" onkeypress='return ( event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45 && this.value.indexOf("-") === -1 && this.selectionStart == 0)' formControlName="value" class="form-control"
                            />
                    </div>

                </div>

                <div formArrayName="segments">
                    <div class="d-flex flex-row" style="position: relative;"
                        *ngFor="let segment of segments()?.controls; let i=index;let last=last" [formGroupName]="i">

                        <div class="form-group col-md-4">
                            <label for="from_airport_name">From</label>
                            <input formControlName="from_airport_name" type="text" class="form-control text-capitalize"
                                placeholder="From Airport" id="appReference"
                                (keyup)="getAutoCompleteLocations($event,'from', i)" list="dynamicLocationsOrigin">
                            <ul class="droplocations" id="dynmicLocations" *ngIf="i==selectedCity">
                                <li *ngFor="let location of locationsOrigin" (click)="selectedOrigin(location, i)">
                                    <i class="fal fa-map-marker-alt"></i>
                                    {{location | map: getAirportLocation}}
                                </li>
                            </ul>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="to_airport_name">To</label>

                            <input formControlName="to_airport_name" type="text" class="form-control text-capitalize"
                                placeholder="To Airport" id="phone" (keyup)="getAutoCompleteLocations($event,'to', i)"
                                list="dynamicLocationsDest">
                            <ul class="droplocations" id="dynmicLocations" *ngIf="i==selectedCity">
                                <li *ngFor="let location of locationsDestination" (click)="selectedDest(location, i)">
                                    <i class="fa fa-trash"></i>
                                    {{location | map: getAirportLocation}}
                                </li>
                            </ul>
                        </div>

                        <div class="form-group col-md-3">
                            <div>
                                <!-- <input type="radio" value="plus" formControlName="value_type" name="value_type"    /> Plus(+
                                {{currency}}) -->
                                <input type="radio" value="percentage" formControlName="value_type" name="value_type"  />
                                Percentage(%)
                                <input type="text" style="margin-top: 0.2rem;" onkeypress='return ( event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45 && this.value.indexOf("-") === -1 && this.selectionStart == 0)'  formControlName="value" class="form-control"
                                     />
                            </div>
                        </div>

                        <div class="col-md-1">

                            <label for="city" class="col-2 col-form-label opacity-0"></label>
                            <button class="col-sm-1" class="rmvBtn" (click)="removeSegment(i)">
                                <i class="fas fa-trash"></i>
                            </button>

                            <div class="col-4" *ngIf="last">
                                <button type="button" class="btn btn-primary" (click)="addMoreSegments()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <table class="table">
                    <tr>
                        <td>
                            <div id="allbtn" class="customCenter">
                                <span class="p-1">
                                    <button (click)="onSubmit()" class="btn btn-primary p-1">{{this.addOrUpdate |
                                        uppercase}}</button>
                                </span>
                                <span class="p-1">
                                    <button type="reset" class="btn btn-primary p-1" (click)="reset()">RESET</button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>