<div class="">

  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange($event)">

      <li [ngbNavItem]="'add_update_sliderimage'">

        <a ngbNavLink>
          Manage Slider Image
        </a>

        <ng-template ngbNavContent>
          <app-add-update-slider
            (activateTab)="triggerTab($event)">
          </app-add-update-slider>
        </ng-template>

      </li>

      <li [ngbNavItem]="'sliderimage_list'">

        <a ngbNavLink>
          Slider Image List
        </a>

        <ng-template ngbNavContent>
          <app-slider-image-list
            (activateTab)="triggerTab($event)">
          </app-slider-image-list>
        </ng-template>

      </li>

      <li [ngbNavItem]="'add_update_slider_text'">

        <a ngbNavLink>
          Manage Slider Text
        </a>

        <ng-template ngbNavContent>
          <app-add-update-slider-text
            (activateTab)="triggerTab($event)">
          </app-add-update-slider-text>
        </ng-template>

      </li>

      <li [ngbNavItem]="'slider_text_list'">

        <a ngbNavLink>
          Slider Text List
        </a>

        <ng-template ngbNavContent>
          <app-slider-text-list
            (activateTab)="triggerTab($event)">
          </app-slider-text-list>
        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>

</div>