.nrm_input {
    padding-top: 59px;
    padding-bottom: 59px;
    text-align: center;
    font-size: 22px;
}

.failed {
    width: 100px;
    margin: 0px auto;
    display: table;
}

.balance-back {
    background: #012756 0% 0% no-repeat padding-box;
    border-radius: 5px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}