<div class="entireScreen  p-0 col-md-12 col-lg-12">
    <div class="heading">
        <p>{{'Visited City List : [ Tour Name :' + tourName + ']'}}</p>
    </div>      
    <div style="padding: 20px;">
        <div class="add-traveller">
            <div class="custom-inline-form">
                <div class="bottomBorderIndividual">
                    <div class="form-group required row">
                        <label for="tourDuration"  class="col-sm-2 col-form-label font-weight-bold">Tour Duration </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cityName" maxlength="50"
                                [ngModel]="tourDuration" disabled="true">

                        </div>
                    </div>
                    <div class="form-group required row" *ngFor="let city of cityDataList">
                        <label for="cityVisitedDuration" class="col-sm-2 col-form-label font-weight-bold">City Visited </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cityDataList" maxlength="50"
                            [ngModel]="city.CityName + ' [ ' + city.no_of_nights + ']'" disabled="true">

                        </div>
                    </div>
                </div>
                <form class="" [formGroup]="tourItinerayForm" autocomplete="off" (ngSubmit)="submitItineryForm()">
                    <div formArrayName="inputFields">
                        <div *ngFor="let inputField of inputFields.controls; let i = index;">
                            <div [formGroupName]="i" class="bottomBorderIndividual">
                                <div class="form-group required row">
                                    <label for="chooseTheme"  class="col-sm-2 col-form-label font-weight-bold">{{'Day '+(i+1)+' in'}} </label>
                                    <div class="col-sm-4">
                                        <select formControlName="visitedCity"
                                            class="form-control" id="chooseRegion">
                                            <option [value]="''" selected>Select City</option>
                                            <option *ngFor="let city of cityDataList"  [value]="city.CityName">
                                                {{city.CityName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group required row">
                                    <label for="program"  class="col-sm-2 col-form-label font-weight-bold"> Day Program Title  <sup
                                        class="text-danger f-16"> * </sup> </label>
                                    <div class="col-sm-4">
                                        <input class="programTitle" type="text" class="form-control" id="program" maxlength="200"
                                            formControlName="programTitle" >

                                    </div>
                                </div>
                                <div class="form-group required row">
                                    <label for="description" class="col-sm-2 col-form-label font-weight-bold">Program Description</label>
                                    <div class="col-sm-10">
                                        <ckeditor formControlName="programDes"></ckeditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inclusionsCheckBox">
                        <div>
                            <label for="inclusionsCheckBox" class="col-sm-2 col-form-label font-weight-bold">Inclusions</label>
                        </div>
                        <div class="checkboxList">
                            <div *ngFor="let item of inclusions">
                                <input type="checkbox" id="inclusions" (change)="inclusionSelection($event.target.checked,item)"
                                [checked]="selectedCheckboxes.includes(item)">{{item}}
                            </div>
                        </div>  
                    </div>
                    <div class="saveButton">
                        <button  type="submit" class="orangeButton"> Save</button>
                        <button *ngIf="isUpdateTourIternary" type="button" class="orangeButton" routerLink="/tour-crs/tour-list/">Go to Tour List</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>