<div class="entireScreen p-0 col-md-12 col-lg-12">

  <!-- HEADER -->
  <!-- <div class="row">
    <div class="col-6 ">
      <p>Vehicle Master</p>
    </div>
  </div> -->

  <!-- FORM -->
  <div class="card" *ngIf="enabledForm">
   <form
  [formGroup]="addUpdateVehcleForm"
  (ngSubmit)="saveTextName === 'Save' ? onVehicleMasterSave() : upateVehicleMaster()"
>

  <div class="form-group row">

    <!-- TRIP TYPE -->
    <div class="col-md-4 mb-3">
      <label>Type <span class="text-danger">*</span></label>
      <select
        class="form-control"
        formControlName="trip_type"
        [class.is-invalid]="f.trip_type.invalid && (isSubmitted || f.trip_type.touched)">
        <option value="">Select</option>
        <option value="Airport">Airport</option>
        <option value="Local">Local</option>
        <option value="Outstation">Outstation</option>
      </select>
      <div class="invalid-feedback">Type is required</div>
    </div>

    <!-- VEHICLE TYPE -->
    <div class="col-md-4 mb-3">
      <label>Vehicle Type <span class="text-danger">*</span></label>
      <select
        class="form-control"
        formControlName="vehicle_type"
        [class.is-invalid]="f.vehicle_type.invalid && (f.vehicle_type.touched)">
        <option value="">Select</option>
        <option *ngFor="let v of vehiclesType" [value]="v.id">
          {{ v.name }}
        </option>
      </select>
      <div class="invalid-feedback">Vehicle Type is required</div>
    </div>

    <!-- VEHICLE NAME -->
    <div class="col-md-4 mb-3">
      <label>Vehicle Name <span class="text-danger">*</span></label>
      <input
        class="form-control"
        formControlName="vehicle_name"
        [class.is-invalid]="f.vehicle_name.invalid && (f.vehicle_name.dirty || f.vehicle_name.touched)">
       <!-- Required -->
 <div class="invalid-feedback d-block"
     *ngIf="f.vehicle_name.errors?.required && (f.vehicle_name.dirty || f.vehicle_name.touched || isSubmitted)">
  Vehicle Name is required
</div>

<div class="invalid-feedback d-block"
     *ngIf="f.vehicle_name.errors?.pattern && (f.vehicle_name.dirty || f.vehicle_name.touched || isSubmitted)">
  Only characters are allowed
</div>
    </div>

    <!-- AC -->
    <div class="col-md-4 mb-3">
      <label>AC <span class="text-danger">*</span></label>
      <select
        class="form-control"
        formControlName="ac_vehicle"
        [class.is-invalid]="f.ac_vehicle.invalid && (f.ac_vehicle.touched)">
        <option value="">Select</option>
        <option *ngFor="let a of acType" [value]="a.key">{{ a.key }}</option>
      </select>
      <div class="invalid-feedback">AC selection required</div>
    </div>

    <!-- CAPACITY -->
    <div class="col-md-4 mb-3">
      <label>Capacity <span class="text-danger">*</span></label>
      <select
        class="form-control"
        formControlName="max_capacity"
        [class.is-invalid]="f.max_capacity.invalid && (f.max_capacity.touched)">
        <option value="">Select</option>
        <option *ngFor="let s of seatCapacity" [value]="s">{{ s }}</option>
      </select>
      <div class="invalid-feedback">Capacity is required</div>
    </div>

    <!-- RATING -->
    <div class="col-md-4 mb-3">
      <label>Rating <span class="text-danger">*</span></label>
      <select
        class="form-control"
        formControlName="ratings"
        [class.is-invalid]="f.ratings.invalid && (f.ratings.touched)">
        <option value="">Select</option>
        <option *ngFor="let r of ratingList" [value]="r.key">{{ r.key }}</option>
      </select>
      <div class="invalid-feedback">Rating is required</div>
    </div>

    <!-- RIDE TYPE -->
    <div class="col-md-4 mb-3">
      <label>Vendor</label>
      <select class="form-control" formControlName="vendor_id">
        <option *ngFor="let r of vendorList" [value]="r.id">{{ r.name }}</option>
      </select>
    </div>

    <!-- COUNTRY -->
   <div class="col-4">
  <label class="px-3 control-label">
    Country <span class="text-danger">*</span>
  </label>
  <div class="col-sm-12">
    <select 
      class="form-control" 
      [class.is-invalid]="f.country.invalid && (f.country.touched)"
      formControlName="country"
    >
      <option [ngValue]="null" disabled>Select Country</option>
      <option *ngFor="let c of countryList" [ngValue]="c">
        {{ c.name }}
      </option>
    </select>
   
  </div>
</div>

        <!-- City -->
        <div class="col-4">
          <label class="px-3 control-label">
            City <span class="text-danger">*</span>
          </label>
          <div class="col-sm-12">
     <mat-form-field appearance="fill" class="w-100">
  <mat-label>City</mat-label>

  <mat-select
    formControlName="city"
    required
    (openedChange)="onCityDropdownOpen($event)"
    #citySelect
    panelClass="city-panel"
  >

    <!-- SEARCH -->
    <mat-option>
      <input
        matInput
        placeholder="Search city"
        (keyup)="onCitySearch($event.target.value)"
        (click)="$event.stopPropagation()"
      />
    </mat-option>

    <!-- OPTIONS -->
    <mat-option *ngFor="let city of cityList" [value]="city.id">
      {{ city.city_name }}
    </mat-option>

    <!-- LOADER -->
    <mat-option *ngIf="loadingCities" disabled>
      Loading...
    </mat-option>

  </mat-select>
</mat-form-field>

<div class="invalid-feedback d-block"
     *ngIf="f.city.invalid && (f.city.touched || isSubmitted)">
  City is required
</div>
          </div>
        </div>

    <!-- DURATION -->
    <!-- <div class="col-md-2 mb-3">
      <label>Hours <span class="text-danger">*</span></label>
      <input
        type="number"
        class="form-control"
        formControlName="duration_hours">
    </div>

    <div class="col-md-2 mb-3">
      <label>Minutes <span class="text-danger">*</span></label>
      <input
        type="number"
        max="59"
        class="form-control"
        formControlName="duration_minutes">
    </div> -->

    <!-- COORDINATES -->
    <div class="col-4">
      <label>Vehicle Registration Number <span class="text-danger">*</span></label>
      <input
        class="form-control"
        formControlName="vehicle_reg_no"
        [class.is-invalid]="f.vehicle_reg_no.invalid && isSubmitted"/>
      <div class="invalid-feedback">Vehicle registration number are required</div>
    </div>

    <!-- LUGGAGE -->
    <div class="col-4">
      <label>Luggage Allowances</label>
      <textarea class="form-control" formControlName="luggage_allowances"></textarea>
    </div>
    <div class="col-4">
          <label class="px-3 control-label">
            Cancellation Rules <span class="text-danger">*</span>
          </label>
          <div class="col-sm-12">
            <select 
              class="form-control" 
              [class.is-invalid]="f.cancellation_rule.invalid && (f.cancellation_rule.touched)"
              formControlName="cancellation_rule"
            >
           <option value="" disabled>Select Cancellation Rules</option>
              <option  value="SUPER_FLEXI">
                SUPER_FLEXI
              </option>
              <option  value="FLEXI">
                FLEXI
              </option>
              <option  value="NON_FLEXI">
               NON_FLEXI
              </option>
            </select>
         
          </div>
        </div>
          <div class="col-6 mb-3">
                        <label class=" control-label">
                            Cab Amenities
                            <span class="text-danger">*</span>
                        </label>
                        <ng-multiselect-dropdown #multiSelect formControlName="amenities"
                            [placeholder]="'Select Amenities'" [data]="carAmenityList"[settings]="dropdownSettingsForRoom"
                            
                            [settings]="dropdownSettingsForRoom" class="form-control meal-plan-dropdown">
                        </ng-multiselect-dropdown>
                        <!-- <div *ngIf="addUpdateVendorForm.get('amenities').errors" class="invalid-feedback">
                            <div *ngIf="addUpdateVendorForm.get('amenities').errors.required">Car Amenities are required
                            </div>
                        </div> -->
                    </div>
           <div class="col-4">
  <label class="px-3 control-label">
    Combustion Type <span class="text-danger">*</span>
  </label>

  <div class="col-sm-12">
    <select 
      class="form-control"
      formControlName="combustion_type"
      [class.is-invalid]="f.combustion_type.invalid && (f.combustion_type.touched || isSubmitted)"
    >
      <option value="" disabled>Select Combustion Type</option>

      <option *ngFor="let c of combustionList" [value]="c.type">
        {{ c.type }}
      </option>
    </select>

    <!-- Validation -->
    <div class="invalid-feedback d-block"
         *ngIf="f.combustion_type.errors && (f.combustion_type.touched || isSubmitted)">
      Combustion Type is required
    </div>
  </div>
</div>
    <!-- IMAGE -->
    <div class="col-md-4 mb-3">
      <label>Image</label>
      <input type="file" class="form-control-file" (change)="onFileSelected($event)">
      <img *ngIf="vehicleImage" class="rounded mt-2" width="100" height="50"  [src]="vehicleImage">
    </div>

    <!-- ROUTES -->
    <!-- <div class="col-12 mt-4">
      <label class="font-weight-bold">Routes <span class="text-danger">*</span></label>

      <div *ngFor="let r of route.controls; let i = index" class="row align-items-center mb-2">
        <div class="col-md-5">
          <input
            class="form-control"
            placeholder="Route Coordinates"
            [formControl]="route.at(i)">
        </div>

        <div class="col-md-5">
          <input
            class="form-control"
            placeholder="Route Name"
            [formControl]="routeName.at(i)">
        </div>

        <div class="col-md-2">
          <button type="button" class="btn btn-danger btn-sm" (click)="removeRoute(i)">
            Remove
          </button>
        </div>
      </div>

      <button type="button" class="btn btn-outline-primary btn-sm mt-2" (click)="addRoute()">
        + Add Route
      </button>

      <div class="text-danger mt-1" *ngIf="(route.invalid || routeName.invalid) && isSubmitted">
        At least one route is required
      </div>
    </div> -->

  </div>

  <!-- ACTION BUTTONS -->
  <div class="text-center mt-4">
    <button type="submit" class="btn btn-primary mr-2">
      {{ saveTextName }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">
      Cancel
    </button>
  </div>

</form>

  </div>

 <!-- VEHICLE LIST HEADER -->
<div class="col-12 row">
  <div class="heading col-6">
    <p>Vehicle List</p>
  </div>

  <div
    class="form-group mb-0 col-sm-6 col-6 p-0 float-right has-search d-flex justify-content-end"
  >
    <div class="col-6 pt-3">
      <span class="fa fa-search form-control-feedback"></span>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Search"
      />
    </div>
  </div>
</div>

<!-- TABLE -->
<div class="entireScreen">
  <div class="wrapper2">
    <div class="div2 invisible-scrollbar">
      <div class="table-responsive">

        <table class="table table-borderless table-striped table-hover">

          <!-- TABLE HEAD -->
          <thead>
            <tr>
              <th *ngFor="let header of displayColumn">
                {{ header }}
              </th>
            </tr>
          </thead>

          <!-- TABLE BODY -->
          <tbody>

            <!-- LOADER -->
            <tr *ngIf="searchSpin">
              <td colspan="10" class="text-center">
                <mat-spinner [diameter]="30"></mat-spinner>
              </td>
            </tr>

            <!-- NO DATA -->
            <tr *ngIf="!searchSpin && !vehicleMasterDataList.length">
              <td colspan="10" class="text-center text-muted">
                No Data Found!
              </td>
            </tr>

            <!-- DATA ROWS -->
            <tr
              *ngFor="
                let item of vehicleMasterDataList
                  | filter: searchText
                  | slice:
                      (page - 1) * pageSize :
                      (page - 1) * pageSize + pageSize;
                let i = index
              "
            >
              <!-- SL NO -->
              <td>{{ i + 1 }}</td>

              <!-- STATUS -->
              <td>
                <mat-slide-toggle
                  [(ngModel)]="item.status"
                  (change)="onStatusChange($event, item.id)"
                >
                </mat-slide-toggle>
              </td>

              <!-- VEHICLE NAME -->
              <td>{{ item.vehicle_name }}</td>

              <!-- VEHICLE TYPE -->
              <td>{{ item.vehicle_type_name }}</td>

              <!-- CAPACITY -->
              <td>{{ item.max_capacity }}</td>

              <!-- RIDE TYPE -->
              <td>{{ item.ride_type }}</td>

              <!-- CATEGORY -->
              <td>{{ item.ratings }}</td>
              <td>{{ item.combustion_type }}</td>
              <td>{{ item.cancellation_rule }}</td>

              <!-- IMAGE -->
              <td>
                <img
                  class="rounded imgStyle"
                  [src]="getImage(item.image)"
                  alt="vehicle"
                />
              </td>

              <!-- ACTION -->
              <td>
                <button
                  class="btn btn-sm btn-primary mr-1"
                  (click)="onEditVehicleType(item)"
                >
                  Edit
                </button>

                <button
                  class="btn btn-sm btn-primary"
                  (click)="onDeletedRecord(item.id)"
                >
                  Delete
                </button>
              </td>
            </tr>

          </tbody>
        </table>

        <!-- PAGINATION -->
        <div class="card-footer pb-0">
          <div class="d-flex w-100 justify-content-between">

            <ngb-pagination
              [collectionSize]="collectionSize"
              [(page)]="page"
              [pageSize]="pageSize"
              [maxSize]="5"
            >
            </ngb-pagination>

            <select
              class="custom-select"
              style="width: auto"
              [(ngModel)]="pageSize"
            >
              <option [ngValue]="20">20</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="100">100</option>
              <option [ngValue]="200">200</option>
              <option [ngValue]="500">500</option>
            </select>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- LOADER -->
<ngx-loading
  [show]="loading"
  [config]="{
    primaryColour: primaryColour,
    secondaryColour: secondaryColour,
    backdropBorderRadius: '3px',
    fullScreenBackdrop: true
  }"
>
</ngx-loading>
