tr.hide_all > td, td.hide_all{
    border-style:hidden;
  }

tbody.hide_all > tr, td.hide_all{
    border-style:hidden;
  }     
  
 .trapezoid {
        border-bottom: 45px solid #3a03be;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 19px;
    letter-spacing: 1px;
    
    font-weight: 600;
      }
.btnStyle {
background: #022756 !important;
    padding: 6px 12px !important;
    border: 1px solid #022756 !important;
    border-radius: 5px;
    color: #ffffff;
}