<!-- <p>flight works!</p> -->
<!-- <p>voucher works!</p> -->
<div style="background:#ccc; width:100%; padding:40px 0px; position:relative" *ngIf="voucherData">
    <table cellpadding="0" border-collapse="" cellspacing="0" width="100%"
        style="font-size:12px; font-family: 'Open Sans', sans-serif; width:850px; margin:0px auto;background-color:#fff; padding:20px;border-collapse:separate; color: #000;">
        <tbody>
            <tr>
                <td colspan="2" style="padding-bottom:10px">
                    <img style="width:60px; background: #000;" src="./assets/images/logo_white.png">
                </td>
                <td colspan="2" style="padding-bottom:10px; font-size: 14px; line-height: 24PX;" align="right">
                    <span><strong>Booking ID : {{voucherData['AppReference']}}</strong></span>
                    <br><span>Booked on : {{voucherData['FlightItineraries'][0]['departure_datetime'] | date:
                        'dd-MM-yy'}}</span>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="4"
                    style="line-height:36px; border-top:1px solid #000000; border-bottom:1px solid #000000;"><span
                        style="font-size:14px;">Status: </span><strong class="label label-success"
                        style=" font-size:14px;">{{voucherData['BookingStatus']}}</strong>
                </td>
            </tr>
            <tr>
                <td style="padding:10px 0">
                    <img style="width:40px;" src="./assets/images/6E.gif">
                </td>
                <td style="padding:10px 0; line-height:25px;"><span
                        style="display: block;border-right: 1px solid #999;"><span
                            style="font-size:14px;">{{voucherData['FlightItineraries'][0]['airline_name']}}</span>
                        <br><span><img style="vertical-align:middle" src="./assets/images/phone.png"><span
                                style="font-size:16px;color:#000000;vertical-align:middle;font-weight: 600;"> &nbsp;0124
                                617 3838</span></span>
                    </span>
                </td>
                <td style="padding:10px 0; padding-left: 10%; line-height:25px;"><span
                        style="font-size:14px;">Phone</span>
                    <br><span><img style="vertical-align:middle" src="./assets/images/phone.png"> <span
                            style="font-size:16px;color:#000000;vertical-align:middle;font-weight: 600;">
                            &nbsp;{{voucherData['Phone']}}</span></span>
                </td>
                <td style="padding:10px 0;text-align: center;">
                    <span style="font-size:14px; border:2px solid #808080; display:block"> <span
                            style="color:#000000;padding:5px; display:block">AIRLINE PNR</span>
                        <span
                            style="font-size: 20px; line-height: 20px; padding-bottom: 5px; display: block; font-weight: 700; color: #2196f3;">
                            {{ voucherData['PNR'] ? voucherData['PNR'] : 'N/A'}}
                        </span>
                        <span style="border-top:2px solid #808080;display:block; padding:1px 5px;">GDS PNR: {{
                            voucherData['GDS_PNR'] ? voucherData['GDS_PNR'] : 'N/A'}}</span>
                    </span>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="4" style="border:1px solid #000000; padding:0;">
                    <table cellspacing="0" cellpadding="5" width="100%" style="font-size:12px; padding:0;">
                        <tbody>
                            <tr>
                                <td colspan="2" style="background-color:#000000; color:#fff">
                                    <img style="vertical-align:middle" src="./assets/images/flight.png">&nbsp;<span
                                        style="vertical-align:middle;font-size:13px">Onward Flight Details</span>
                                </td>
                                <td align="right" colspan="2" style="background-color:#000000; color:#fff"><span
                                        style="font-size:10px">*Please verify flight times with the airlines prior to
                                        departure</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#d9d9d9; color:#000; font-weight: 500; font-size: 14px;">
                                    <span>Flight 1</span>
                                </td>
                                <td style="background-color:#d9d9d9; color:#000; font-weight: 500; font-size: 14px;">
                                    <img style="vertical-align:middle"
                                        src="./assets/images/flight_up.png">&nbsp;&nbsp;<span
                                        style="vertical-align:middle">Departing</span>
                                </td>
                                <td style="background-color:#d9d9d9; color:#000; font-weight: 500; font-size: 14px;">
                                    <img style="vertical-align:middle"
                                        src="./assets/images/flight_down.png">&nbsp;&nbsp;<span
                                        style="vertical-align:middle">Arriving</span>
                                </td>
                                <td style="background-color:#d9d9d9; color:#000; font-weight: 500; font-size: 14px;">
                                    &nbsp;</td>
                            </tr>
                            <tr>
                                <td><span>{{voucherData['FlightItineraries'][0]['airline_name']}}<br><br>Cabin:
                                        {{voucherData['CabinClass']}}</span>
                                </td>
                                <td style="font-size: 15px; line-height: 25px;"><span><strong
                                            style="color:#2196f3;">{{voucherData['JourneyFrom'] ?
                                            voucherData['JourneyFrom'] : 'N/A'}}</strong><br><span
                                            style="font-size: 13px; font-weight: 500;">{{voucherData['FlightItineraries'][0]['departure_datetime']
                                            | date: 'medium' }}</span><br></span>
                                </td>
                                <td style="font-size: 15px; line-height: 25px;"><span><strong
                                            style="color:#2196f3;">{{voucherData['JourneyTo'] ? voucherData['JourneyTo']
                                            : 'N/A'}}</strong><br><span
                                            style="font-size: 13px; font-weight: 500;">{{voucherData['FlightItineraries'][0]['arrival_datetime']
                                            | date: 'medium'}}</span><br></span>
                                </td>
                                <td><span
                                        style="display:block;border-left: 1px solid #999; font-size: 13px; padding-left:10%"><strong>One
                                            Stop</strong><br>2h 15m <br> 
                                            {{voucherData['isRefundable'] ? "Refundable" : "Non-Refundable"}}
                                        </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="line-height:15px;padding:0;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" style="border:1px solid #666666; padding:0;">
                    <table cellspacing="0" cellpadding="5" width="100%" style="font-size:12px; padding:0;">
                        <tbody>
                            <tr>
                                <td colspan="4" style="background-color:#000; color:#fff">
                                    <img style="vertical-align:middle"
                                        src="./assets/images/people_group.png">&nbsp;<span
                                        style="vertical-align:middle;font-size:14px">Passenger(s) Details</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#d9d9d9; color:#000; font-size: 14px; "><span>Sr No.</span>
                                </td>
                                <td style="background-color:#d9d9d9; color:#000; font-size: 14px; "><span>Passenger(s)
                                        Name</span>
                                </td>
                                <td style="background-color:#d9d9d9; color:#000; font-size: 14px; "><span>Type</span>
                                </td>
                                <td style="background-color:#d9d9d9; color:#000; font-size: 14px; "><span>E-ticket
                                        No</span>
                                </td>
                            </tr>
                            <tr style="font-size: 14px;" *ngFor="let user of voucherData['Passengers']">
                                <td><span>1</span>
                                </td>
                                <td><span><strong>{{user.first_name+' '+user.last_name}}</strong></span>
                                </td>
                                <td><span>{{user.passenger_type}}</span>
                                </td>
                                <td><span></span>
                                </td>
                            </tr>

                            <!--            <tr style="font-size: 14px;">
                  <td><span>2</span>
                  </td>
                  <td><span><strong>Mr. Balu vijay</strong></span>
                  </td>
                  <td><span>Adult</span>
                  </td>
                  <td><span>TGUZVM</span>
                  </td>
                </tr> -->
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="line-height:15px;padding:0;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" style="padding:0;">
                    <table cellspacing="0" cellpadding="5" width="100%" style="font-size:12px; padding:0;">
                        <tbody>
                            <tr>
                                <td width="50%" style="padding:0;padding-right:14px;">
                                    <table cellspacing="0" cellpadding="5" width="100%"
                                        style="font-size:14px; line-height:19px; padding:0;border:1px solid #9a9a9a;">
                                        <tbody>
                                            <tr style="background: #000;">
                                                <td style="border-bottom:1px solid #ccc"><span
                                                        style="font-size:14px; color: #fff;">Payment Details</span>
                                                </td>
                                                <td style="border-bottom:1px solid #ccc"><span
                                                        style="font-size:14px; color: #fff;">Amount ($)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span>Air Fare</span>
                                                </td>
                                                <td><span> {{voucherData['TotalFare']}} </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span>Taxes &amp; Fees</span>
                                                </td>
                                                <td><span> {{0}} </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span>GST</span>
                                                </td>
                                                <td><span> {{0}} </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-top:1px solid #ccc"><span
                                                        style="font-size:15px; font-weight: bold;">Grand Total</span>
                                                </td>
                                                <td style="border-top:1px solid #ccc"><span
                                                        style="font-size:15px; font-weight: bold;">
                                                        {{voucherData['TotalFare']}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="50%" style="padding:0;padding-left:14px; vertical-align:top">
                                    <table cellspacing="0" cellpadding="5" width="100%"
                                        style="border:1px solid #9a9a9a;font-size:14px; padding:0;">
                                        <tbody>
                                            <tr style="background: #000;">
                                                <td colspan="4" style="border-bottom:1px solid #ccc"><span
                                                        style="font-size:14px; color: #fff;">Flight Inclusions</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"><span><strong>Checkin Baggage :</strong>
                                                        {{voucherData['JourneyFrom']}} To {{voucherData['JourneyTo']}}
                                                        (Adult :
                                                        {{voucherData['FlightItineraries'][0]['checkin_baggage']}} &amp;
                                                        Child :15 Kg)<br></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"><span><strong>Cabin Baggage :</strong>
                                                        {{voucherData['FlightItineraries'][0]['cabin_baggage'] ?
                                                        voucherData['FlightItineraries'][0]['cabin_baggage']+ "
                                                        Kilograms" : 'Allowed as per the Airline Policy'}} </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" style="border-top:1px solid #ccc"><span
                                                        style="font-size:13px; color:#000; line-height:20px;">* Flight
                                                        inclusions are subject to change with Airlines.</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height:15px;padding:0;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="line-height:15px;padding:0;">&nbsp;</td>
            </tr>

            <tr>
                <td colspan="4" style="padding-bottom:4px"><span
                        style="font-size:14px; color:#000; font-weight: 900;">Customer Contact Details :</span>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="border-bottom:1px solid #999999;padding-bottom:15px"><span
                        style="font-size:14px; color:#000; font-weight: 400;"> E-mail : {{voucherData['Email']}}</span>
                    <span style="font-size:14px; color:#000; float: right; font-weight: 400;"> Contact No :
                        +{{voucherData['Phone']}}</span>
                </td>
            </tr>
            <tr>
                <td style="line-height:15px;padding:0;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4"><span style="line-height:20px; font-size:13px;">Important Information</span>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="border-bottom:1px solid #999999; line-height:20px; font-size:13px; color:#000">
                    <ul style="padding-bottom:10px; line-height: 28px;">
                        <li>All Guests, including children and infants, must present valid identification at check-in.
                        </li>
                        <li>Check-in begins 2 hours prior to the flight for seat assignment and closes 45 minutes prior
                            to the scheduled departure.</li>
                        <li>Carriage and other services provided by the carrier are subject to conditions of carriage,
                            which are hereby incorporated by reference. These conditions may be obtained from the
                            issuing carrier.</li>
                        <li>In case of cancellations less than 6 hours before departure please cancel with the airlines
                            directly. We are not responsible for any losses if the request is received less than 6 hours
                            before departure.</li>
                        <li>Please contact airlines for Terminal Queries.</li>
                        <li>Free Baggage Allowance: Checked-in Baggage = 15kgs in Economy class.</li>
                        <li>Changes to the reservation will result in the above fee plus any difference in the fare
                            between the original fare paid and the fare for the revised booking.</li>
                        <li>The No Show refund should be collected within 15 days from departure date.</li>
                        <li>If the basic fare is less than cancellation charges then only statutory taxes would be
                            refunded.</li>
                        <li>We are not be responsible for any Flight delay/Cancellation from airline's end.</li>
                        <li>Kindly contact the airline at least 24 hrs before to reconfirm your flight detail giving
                            reference of Airline PNR Number.</li>
                        <li>We are a travel agent and all reservations made through our website are as per the terms and
                            conditions of the concerned airlines. All modifications,cancellations and refunds of the
                            airline tickets shall be strictly in accordance with the policy of the concerned airlines
                            and we disclaim all liability in connection thereof.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="right"
                    style="padding-top:10px; font-weight: 600; line-height: 26px; font-size: 14px;">Zee Business
                    <br>ContactNo : +1 (805) 209-1307
                    <br>2905, Lake East Dr Ste 150, Las Vegas, NV 89117
                </td>
            </tr>
        </tbody>
    </table>
</div>