
/* Inputs & Select */
input,
select {
  height: 45px;
  padding: 6px 10px;
  font-size: 14px;
  color: #495057;
  border: 1px solid #C4B3EB;
  border-radius: 8px;
  width: 100%;
}

/* Remove extra left margin */
select {
  margin-left: 0;
}

/* Error message */
.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}


/* Button */
button.orangeButton {
  background-color: #fbc10a;
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
}

/* Button hover */
button.orangeButton:hover {
  background-color: #e0aa08;
}

/* Table (if used) */
table {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid lightgray;
  padding: 8px;
}

/* Mobile responsive */
@media (max-width: 767px) {
  .countryInput,
  .continentInput {
    max-width: 90%;
  }

  p {
    width: 90%;
  }
}