<div class="card adminInner">
  <div class="card-header mb-3">
    <h5>Edit State</h5>
  </div>

  <form [formGroup]="stateForm" (ngSubmit)="onStateUpdate()">
<div class="form-row">
    <!-- Country Dropdown -->
    <div class="col-md-4">
      <label>Choose Country</label>
      <select class="form-control" formControlName="country_id">
        <option value="" disabled>Select Country</option>
        <option *ngFor="let country of countryList" [value]="country.id">
          {{ country.name }}
        </option>
      </select>
       <div *ngIf="f.country_id.touched && f.country_id.errors">
      <small class="errorMessage">*Please select country</small>
    </div>
    </div>

   

    <!-- State Name -->
    <div class="col-md-4">
      <label>State Name</label>
      <input type="text" class="form-control" formControlName="name">
       <div *ngIf="f.name.touched && f.name.errors">
      <small *ngIf="f.name.errors.required" class="errorMessage">*Required</small>
      <small *ngIf="f.name.errors.invalidString" class="errorMessage">*Numbers not allowed</small>
      <small *ngIf="f.name.errors.startOrEndSpace" class="errorMessage">*No space at start/end</small>
    </div>
    </div>

   

    <!-- ISO -->
   <div class="col-md-4">
      <label>ISO Code</label>
      <input type="text" class="form-control" formControlName="iso2">
       <div *ngIf="f.iso2.touched && f.iso2.errors">
      <small class="errorMessage">*2–3 uppercase letters</small>
    </div>
    </div>

   

    <!-- Latitude -->
    <div class="col-md-4">
      <label>Latitude</label>
      <input type="text" class="form-control" formControlName="latitude">
    </div>

    <!-- Longitude -->
    <div class="col-md-4">
      <label>Longitude</label>
      <input type="text" class="form-control" formControlName="longitude">
    </div>
</div>
    <!-- Buttons -->
    <div class="saveButton mt-3">
      <button type="submit" class="btn btn-primary mr-2">Update</button>
      <button type="button" class="btn btn-secondary" routerLink="/tour-crs/state">
        State List
      </button>
    </div>

  </form>
</div>