<div>
    <form [formGroup]="continentForm" (ngSubmit)="onContinentSave()">
        <div class="form-row">
             <div class="col-md-4">
                <div class="continentInput">
                <label for="continet" class="font-weight-bold" > Tour Region</label>
                <input type="text" placeholder="Enter Package Region"  formControlName="continentName" maxlength="150" class="form-control ml-0"
                (input)="validateInput()">
                </div>
                <div *ngIf="continentForm.controls.continentName.errors && continentForm.controls.continentName.touched">
                    <div *ngIf="continentForm.controls.continentName.errors.required" class="errorMessage" class="errorMessage">
                    *Please enter tour continent name.
                    </div>
                    <div *ngIf="continentForm.controls.continentName.errors.invalidString" class="errorMessage">
                        *Number(s) are not allowed.
                    </div>
                    <div *ngIf="continentForm.controls.continentName.errors.startOrEndSpace"  class="errorMessage">
                        *Empty space(s) in start and end are not allowed.
                    </div>
                </div>
            </div>

             <div class="col-md-4">
                 <label style="display: block;">&nbsp;</label>
                 <button type="submit" class="btn btn-primary"> Save</button>
             </div>
            
         </div>
    </form>
</div>