.wrapper1,
.wrapper2 {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.wrapper1 {
    height: 20px;
}

.div1 {
    width: 2600px;
    height: 20px;
}

.div2 {
    width: 2600px;
    overflow: hidden;
}

.div2 .table-responsive {
    overflow: inherit;
}

.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}

::ng-deep .multiselect-dropdown .dropdown-btn{ border: none !important; padding:0px !important;}
span.dropdown-multiselect__caret {
    height: 45px !important;
    right: -12px !important;
    top: -7px !important;
}
span.dropdown-multiselect__caret::before {
    top: 50%;
}
// .weekdaysection .form-control { height: 36px !important;}
span.selected-item.ng-star-inserted {
    padding: 0 5px;
}
label.col-sm-3.control-label.status {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.example-margin.rgt-tgle {
    margin-top: 3rem;
}
span.dropdown-btn {
    padding: 0px 5px;
}
// .col-sm-12.mb-3.refnd_top {
//     display: none;
// }
input#charge {
    width: 110px;
}
// ::ng-deep .main_weekend input.form-control.ng-untouched.ng-pristine.ng-valid{
//     height:36px;
// }


.form-control.is-valid, .was-validated .form-control:valid{ padding-right: 15px !important;}
::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{ top: -7px !important;}
.form-group label { margin-bottom: 0px !important;}