.head_can {
    border-bottom: 1px dashed #ccc;
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
}
.head_can {
    border-bottom: 1px dashed #ccc;
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
}
.canc_hed {
    color: #333;
    float: left;
    font-size: 26px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0;
}
.ref_number {
    color: #666;
    float: right;
    font-size: 14px;
    text-align: right;
}
.cancel_bkd {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #ccc;
    float: left;
    width: 100%;
}
.ritside_can {
    float: right;
}
.row_can_table.hed_table {
    background: #ddd;
}
.row_can_table {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px dashed #ddd;
    float: left;
    width: 100%;
}
.pad_evry {
    display: block;
    overflow: hidden;
    padding: 10px;
}
.nopad {
    padding: 0 !important;
}
.can_flt_name {
    color: #444;
    display: block;
    overflow: hidden;
}
.place_big_text {
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
}
.place_smal_txt {
    color: #666;
    display: block;
    font-size: 13px;
    overflow: hidden;
}
.date_mension {
    color: #666;
    display: block;
    font-size: 12px;
    overflow: hidden;
}
.can_pads {
    color: #444;
    display: block;
    font-size: 13px;
    overflow: hidden;
    padding: 10px;
}
.imge_can {
    float: left;
    margin-right: 10px;
    overflow: hidden;
    width: 110px;
}
.amnt_disply {
    color: #444;
    display: block;
    font-size: 12px;
    margin-right: 20px;
    overflow: hidden;
    text-align: right;
    text-transform: uppercase;
}
.ritside_can {
    float: right;
}
.btn_continue {
    display: block;
    overflow: hidden;
    padding: 20px 0;
}
.amnt_paid {
    font-size: 20px;
}