<div class="entireScreen  p-0 col-md-12 col-lg-12">
    <div class="col-12 row">
        <div class="heading col-6">
            <p>Terms And Conditions</p>
        </div>
    </div>

    <div class="card">
        <form [formGroup]="termsandConditionForm" (ngSubmit)="onSubmitTermsAndConditions()">
            <div class="form-row">
                <div class="col-12 pr-0">
                    <div class="form-group  p-3">
                        <label for="activity_language_name">Terms And Conditions</label>
                        <ckeditor type="text" formControlName="terms_and_conditions" style="height: auto;"
                                        ></ckeditor>
                    </div>
                </div>
                
            </div>
            <div class="saveButton">
                <button type="submit" class="save-btn btnStyle mr-2"> {{saveTextName}}</button>
                 <button type="button" class="btnStyle" (click)="clearForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<ngx-loading [show]="loading"
[config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px',fullScreenBackdrop:true}"
[template]="loadingTemplate"></ngx-loading>