<div class="">
    <div class="">
        <ngb-tabset class="tabs-animated custom_tab" (tabChange)="beforeChange(false)" #tabs [activeId]="activeIdString">
            <ngb-tab id="manage_promocode">
                <ng-template ngbTabTitle>
                    <span> Manage Promo Code</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-manage-promocode (updatePromoCode)="triggerTab($event)"></app-manage-promocode>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="promocode_list">
                <ng-template ngbTabTitle>
                    <span> Promo Code List</span>
                </ng-template>
                <ng-template ngbTabContent>
                    <app-promocode-list (updatePromoCode)="triggerTab($event)"></app-promocode-list>
                </ng-template>
            </ngb-tab>
         
        </ngb-tabset>
    </div>
</div>
