<div class="sub-agent-container custom-table-layout card row" style="padding: 20px;">
    <div class="add-traveller">
        <div class="title">
            <h3>Best Time To Travel Content</h3>
        </div>
        <div class="custom-inline-form">
            <form class="" [formGroup]="regConfig" autocomplete="off">
             
                <div class="form-row">
                <div class="col-6 pr-0">
                    <div class="form-group">
                        <label for="bookedBy">City Name</label>
                        <input  formControlName="city_name" type="text" id="page_title" autocomplete="off"
                        class="form-control form-control-sm nrm_input"
                        placeholder="Add Title" >
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-6 pr-0">
                    <div class="form-group">
                        <label for="bookedBy">No Of package</label>
                        <input  formControlName="no_of_packages" type="text" id="page_seo_description" autocomplete="off"
                        class="form-control form-control-sm nrm_input"
                        placeholder="Add Description" >
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-6 pr-0">
                    <div class="form-group">
                        <label for="bookedBy">Price</label>
                        <input  formControlName="price" type="text" id="page_seo_description" autocomplete="off"
                        class="form-control form-control-sm nrm_input"
                        placeholder="Add Description" >
                        <div>
                        </div>
                    </div>
                </div>
                <div class="col-6 pr-0 ">
                    <div class="form-group">
                        <label for="email">Image</label>
                        <input type="file"class="form-control form-control-sm nrm_input" accept=".png, .jpg, .jpeg" 
                            id="image" formControlName="image" id="image"
                            (change)="onFileChange($event.target.files)" >
                        <label  #labelImport for="image">Upload Image</label>
                        <span class="text-danger">(Maximum upload file size: 1 MB)</span>
                        <img *ngIf="bankLogo" height="50" width="100" class="rounded" [src]="logoBankUri+bankLogo" alt="logo">
                        <img *ngIf="imageSrc" height="50" width="100" class="rounded" [src]="imageSrc" alt="logo">
                    </div>
                </div>
                </div>
                <div class="form-group row mb-n2">
                    <div class="col-sm-12 customCenter">
                        <button type="submit" class="btn btn-sm btn-primary mr-1" (click)="onSubmit()">Submit</button>
                        <button type="reset" class="btn btn-sm btn-primary" (click)="onReset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


