<div class="entireScreen  p-0 col-md-12 col-lg-12">
    <div class="heading">
        <p>Tour Regions</p>
    </div>
    <div >
        <form [formGroup]="continentForm" (ngSubmit)="onContinentSave()">
            <div class="continentInput">
                <label for="continet" class="font-weight-bold" > Tour Region</label>
                <input type="text" placeholder="Enter Package Region"  formControlName="continentName" maxlength="150"
                (input)="validateInput()">
            </div>
            <div *ngIf="continentForm.controls.continentName.errors && continentForm.controls.continentName.touched">
                <div *ngIf="continentForm.controls.continentName.errors.required"  class="errorMessage">
                  *Please enter updated tour continent name.
                </div>
                <div *ngIf="continentForm.controls.continentName.errors.invalidString" class="errorMessage">
                    *Number(s) are not allowed.
                </div>
                <div *ngIf="continentForm.controls.continentName.errors.startOrEndSpace"  class="errorMessage">
                    *Empty space(s) in start and end are not allowed.
                </div>
            </div>
            <div class="saveButton">
                <button  class="btn btn-sm btn-primary mr-1 orangeButton">{{'Save'}}
                </button>
                <button class="btn btn-sm btn-primary mr-1 orangeButton packageBtn" routerLink="/tour-crs/continent"> {{'Package Region'}}  </button>
            </div>
        </form>
    </div>
</div>