<div class="">

  <div class="">

    <ul
      ngbNav
      #tabs="ngbNav"
      class="tabs-animated custom_tab"
      [(activeId)]="activeIdString"
      (navChange)="beforeChange($event)">

      <li [ngbNavItem]="'add_update_staticPage'">

        <a ngbNavLink>
          Customer FAQ Page Content
        </a>

        <ng-template ngbNavContent>
          <app-add-update-customer-faq
            (staticContentTab)="triggerTab($event)">
          </app-add-update-customer-faq>
        </ng-template>

      </li>

      <li [ngbNavItem]="'staticpage_list'">

        <a ngbNavLink>
          Customer FAQ Page List
        </a>

        <ng-template ngbNavContent>
          <app-list-customer
            (staticContentTab)="triggerTab($event)">
          </app-list-customer>
        </ng-template>

      </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

  </div>

</div>