<ul ngbNav #tabs="ngbNav" class="tabs-animated custom_tab" [(activeId)]="activeIdString" (navChange)="onTabSelected($event)">

  <!-- Tab 1 -->
  <li [ngbNavItem]="'list_treatments'">

    <a ngbNavLink>
      <span>Treatment List</span>
    </a>

    <ng-template ngbNavContent>
      <app-treatment-type-list></app-treatment-type-list>
      </ng-template>

  </li>

  <!-- Tab 2 -->
  <li [ngbNavItem]="'add_treatments'">

    <a ngbNavLink>
      <span>Add/ Edit Treatment</span>
    </a>

    <ng-template ngbNavContent>
      <app-add-update-treatment-type-list></app-add-update-treatment-type-list>
    </ng-template>
    
  </li> 

</ul>

<div [ngbNavOutlet]="tabs"></div>

