<div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
        <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>
        {{ 'Passenger Fare Breakup' }}
    </div>
</div>
<form class="p-4 bbottom">
    <div class="form-row">
        <div class="form-group col-md-1">
            <label class="f-12" for="inputType">Type</label>
            <div class="" id="inputType">Adult</div>
        </div>
        <div class="form-group col-md-2">
            <label class="f-12" for="inputJourneyType">Journey Type</label>
            <div class="" id="inputJourneyType">Onward</div>
        </div>
        <div class="form-group col-md-2">
            <label class="f-12" for="inputBaseFare">BaseFare</label>
            <input type="text" id="inputBaseFare" class="form-control form-control-sm" placeholder="Basic">
        </div>
        <div class="form-group col-md-1">
            <label class="f-12" for="inputYQ">YQ</label>
            <input type="text" id="inputYQ" class="form-control form-control-sm" placeholder="YQ">
        </div>
        <div class="form-group col-md-2">
            <label class="f-12" for="inputOtherTAX">Other TAX</label>
            <input type="text" id="inputOtherTAX" class="form-control form-control-sm" placeholder="Other TAX">
        </div>
        <div class="form-group col-md-1">
            <label class="f-12" for="inputAirGST">Air GST</label>
            <input type="text" id="inputAirGST" class="form-control form-control-sm" placeholder="Air GST">
        </div>
        <div class="form-group col-md-1">
            <label class="f-12" for="inputCount">Count</label>
            <input type="text" id="inputCount" class="form-control form-control-sm" placeholder="Count" value="1" disabled>
        </div>
        <div class="form-group col-md-2">
            <label class="f-12" for="inputTotal">Total</label>
            <input type="text" id="inputTotal" class="form-control form-control-sm" placeholder="Total">

        </div>
    </div>
</form>