<div class="card adminInner">
     <div class="card-header mb-3">
        <h5>Tour Activities</h5>
    </div>
    <div>
        <form [formGroup]="activitiesForm" (ngSubmit)="onActivitiesSave()">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="activities" class="" > Tour Activities</label>
                        <input type="text" class="form-control ml-0" placeholder="Enter Package Activities"  formControlName="activitiesName" maxlength="150"
                        (input)="validateInput()">
                    </div>
                    <div *ngIf="activitiesForm.controls.activitiesName.errors">
                        <div *ngIf="activitiesForm.controls.activitiesName.errors.required" class="errorMessage">
                        *Please enter updated package activities name.
                        </div>
                        <div *ngIf="activitiesForm.controls.activitiesName.errors.invalidString" class="errorMessage">
                            *Including number(s) are not allowed.
                        </div>
                        <div *ngIf="activitiesForm.controls.activitiesName.errors.startOrEndSpace" class="errorMessage">
                            *Empty space(s) in start and end are not allowed.
                        </div>
                    </div>

                </div>
                 <div class="col-md-4">
                    <label style="display: block;">&nbsp;</label>
                     <div class="d-flex align-items-center">
                          <button  class="btn btn-sm btn-primary mr-2">{{'Save'}}</button>
                          <button class="btn btn-sm btn-secondary packageBtn" routerLink="/tour-crs/activities"> {{'Package Activities'}}  </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>