<div class="card adminInner">
    <div class="card-header mb-3">
       <h5>Room Amenity</h5>
       </div>
    <form [formGroup]="roomAmenityForm" (ngSubmit)="handleValidSubmit()" class="needs-validation btop pt-4" novalidate>
       
            
            <div class="card-body p-0">
                <fieldset form="user">
                    <div class="row">
                        <div class="col-sm-3 pr-0">
                            <div class="form-group">
                                <label class="p-0 control-label" for="room_amenity_name">
                                    Room Amenity Name
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="p-0">
                                    <input value="" formControlName="room_amenity_name" type="text" placeholder="Room Amenity Name"
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.room_amenity_name.errors }"
                                        required />
                                </div>
                                <div *ngIf="submitted && f.room_amenity_name.errors" class="invalid-feedback">
                                    <div *ngIf="f.room_amenity_name.errors.required">Room Amenity Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="p-0 control-label" for="status">
                                    Status
                                    <span class="text-danger">*</span>
                                </label>
                                <span title="Slide for Active/Deactive">
                                    <mat-slide-toggle class="example-margin" formControlName="status"
                                        [color]="''">
                                    </mat-slide-toggle>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3 pl-0">
                            <div class="form-group">
                                <div class="p-0 btncontainer">
                                    <button type="submit" id="user_submit" class=" btn btn-primary">Save</button> &nbsp; &nbsp;
                                    <button type="reset" id="user_reset" class=" btn btn-secondary"
                                        (click)="resetFrom()">Reset</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    
                </fieldset>
                
            </div>
        
    </form>
</div>