<div>
  <ul
    ngbNav
    #tabs="ngbNav"
    [(activeId)]="activeIdString"
    (navChange)="beforeChange(false)"
    class="nav-tabs tabs-animated custom_tab">

    <li [ngbNavItem]="'add_update_b2bUser'">
      <a ngbNavLink>
        <span *ngIf="supplier_type != 'DMC'">Create B2B</span>
        <span *ngIf="supplier_type == 'DMC'">Create DMC</span>
      </a>

      <ng-template ngbNavContent>
        <app-manage-active-create-b2-b
          (b2bUserUpdate)="triggerTab($event)">
        </app-manage-active-create-b2-b>
      </ng-template>
    </li>

    <li [ngbNavItem]="'b2cUsers_list'">
      <a ngbNavLink>
        <span *ngIf="supplier_type != 'DMC'">Agents List</span>
        <span *ngIf="supplier_type == 'DMC'">DMC List</span>
      </a>

      <ng-template ngbNavContent>
        <app-b2b-active-list
          (b2bUserUpdate)="triggerTab($event)">
        </app-b2b-active-list>
      </ng-template>
    </li>

    <!--
    <li [ngbNavItem]="'manage_list'">
      <a ngbNavLink>
        <i class="fa fa-car"></i> List
      </a>

      <ng-template ngbNavContent>
        <app-b2b-active-manage
          (b2bUserUpdate)="triggerTab($event)">
        </app-b2b-active-manage>
      </ng-template>
    </li>
    -->

  </ul>

  <div [ngbNavOutlet]="tabs" class="mt-3"></div>
</div>