<div class="row mx-0 pt-2">

  <div class="col-md-12">

    <div class="card main-card mb-6">
      <div class="card-body">

        <ul
          ngbNav
          #tabs="ngbNav"
          [(activeId)]="activeId"
          class="tabs-animated custom_tab crs-tab-ui"
          (navChange)="beforeChange($event)">

          <li [ngbNavItem]="'list_hotel_amenity'">

            <a ngbNavLink>
              {{ 'List Seasons' }}
            </a>

            <ng-template ngbNavContent>
              <app-season-list
                (toUpdate)="triggerTab($event)">
              </app-season-list>
            </ng-template>

          </li>

          <li [ngbNavItem]="'add_hotel_amenity'">

            <a ngbNavLink>
              {{ 'Add/Edit Hotel Season' }}
            </a>

            <ng-template ngbNavContent>
              <app-add-update-season
                (someEvent)="triggerTab($event)"
                [editData]="seasonData">
              </app-add-update-season>
            </ng-template>

          </li>

        </ul>

        <div [ngbNavOutlet]="tabs"></div>

      </div>
    </div>

  </div>
</div>