<div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
        <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>
        {{ 'Admin Markup' }}
    </div>
</div>
<form class="p-4 bbottom">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputBaseFasre4">Base Fasre</label>
            <input type="text"  id="inputBaseFasre4" class="form-control form-control-sm" placeholder="Base Fasre">
        </div>
        <div class="form-group col-md-4">
            <label for="inputServiceTax4">Service Tax</label>
            <input type="text"  id="inputServiceTax4" class="form-control form-control-sm" placeholder="Service Tax">
        </div>
        <div class="form-group col-md-4">
            <label for="inputAdminMarkup4">Admin Markup(+)</label>
            <input type="text"  id="inputAdminMarkup4" class="form-control form-control-sm" placeholder="Admin Markup(+)">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputGST4">GST</label>
            <input type="text"  id="inputGST4" class="form-control form-control-sm" placeholder="GST">
            <input type="button" class="btn btn-sm btn-info" value="Calculate">
        </div>
        <div class="form-group col-md-4">
            <label for="inputTotal4">Total</label>
            <input type="text"  id="inputTotal4" class="form-control form-control-sm" placeholder="Total">
        </div>
    </div>
</form>