<div>
    <div>

        <ul
            ngbNav
            #tabs="ngbNav"
            [(activeId)]="activeIdString"
            (navChange)="beforeChange(false)"
            class="nav-tabs tabs-animated custom_tab">

            <li [ngbNavItem]="'add_update_staticPage'">
                <a ngbNavLink>City Package Master</a>
                <ng-template ngbNavContent>
                    <app-add-update-city-package-master
                        (staticContentTab)="triggerTab($event)">
                    </app-add-update-city-package-master>
                </ng-template>
            </li>

            <li [ngbNavItem]="'staticpage_list'">
                <a ngbNavLink>City Package Master List</a>
                <ng-template ngbNavContent>
                    <app-city-package-master-list
                        (staticContentTab)="triggerTab($event)">
                    </app-city-package-master-list>
                </ng-template>
            </li>

        </ul>

        <div [ngbNavOutlet]="tabs" class="mt-3"></div>

    </div>
</div>