<ul
  ngbNav
  #tabs="ngbNav"
  class="tabs-animated custom_tab crs-tab-ui"
  [(activeId)]="activeIdString"
  (navChange)="beforeChange($event)">

  <li [ngbNavItem]="'list_hotel_types'">

    <a ngbNavLink>
      {{ 'List Stay Types' }}
    </a>

    <ng-template ngbNavContent>
      <app-hotel-type-list
        (toUpdate)="triggerTab($event)">
      </app-hotel-type-list>
    </ng-template>

  </li>

  <li [ngbNavItem]="'add_hotel_type'">

    <a ngbNavLink>
      {{ 'Add/Edit Stay Type' }}
    </a>

    <ng-template ngbNavContent>
      <app-add-update-hotel-type
        (someEvent)="triggerTab($event)"
        [hotelTypeOne]="hotelTypeData">
      </app-add-update-hotel-type>
    </ng-template>

  </li>

</ul>

<div [ngbNavOutlet]="tabs"></div>