<nav
    ngbNav
    #tabs="ngbNav"
    class="tabs-animated custom_tab nav-tabs"
    [(activeId)]="activeIdString"
    (navChange)="beforeChange(false)">

    <ng-container ngbNavItem="add_update_subagent">

        <a ngbNavLink>
            Create/Update Sub Agent
        </a>

        <ng-template ngbNavContent>
            <app-create-sub-agent
                (subagentUpdate)="triggerTab($event)">
            </app-create-sub-agent>
        </ng-template>

    </ng-container>

    <ng-container ngbNavItem="subagent_list">

        <a ngbNavLink>
            Sub Agent List
        </a>

        <ng-template ngbNavContent>
            <app-sub-agent-list
                (subagentUpdate)="triggerTab($event)">
            </app-sub-agent-list>
        </ng-template>

    </ng-container>

</nav>

<div [ngbNavOutlet]="tabs"></div>