
<div class="card adminInner">
    <div class="card-header-tab card-header mb-3">
      <h5>Cabs Markup</h5>
    </div>
    
    <form [formGroup]="regConfig" (ngSubmit)="onSubmit(regConfig.value)" class="form">
        <div class="card-body p-0">
            <div class="d-flex flex-row pt-3">
          
                    <div class="form-group col-sm-4">
                         <label for="airlines">Suppliers &nbsp;</label>
                                <mat-form-field class="col-sm-12"  appearance="fill" style="padding-left: 0;">
                                    <mat-label>Supplier List</mat-label>
                                    <input type="text" placeholder="Choose..."  class="text-capitalize" matInput formControlName="suppliers"
                                        [matAutocomplete]="supplier">
                                    <mat-autocomplete #supplier="matAutocomplete">
                                        <mat-option *ngFor="let suppliers of supplierList"
                                        [value]="suppliers.name"  (click)="selectedLocation(suppliers)">
                                            {{suppliers.name}} 
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                    </div>
                    <div class="form-group col-sm-4">
                         <label for="markupValue" class="mr-sm-2">Markup Value Percentage(%)</label>
                            <input formControlName="markupValue" placeholder="" type="text" onkeypress='return ( event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45 && this.value.indexOf("-") === -1 && this.selectionStart == 0)' class="form-control">
                        

                    </div>
                    <div class="form-group col-sm-4">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        &nbsp; &nbsp;
                        <button type="button" (click)="resetForm()" class="btn btn-secondary">Reset</button>

                    </div>
            </div>
            
        </div>
                
    </form>
</div>



<div class="card adminInner mt-3">
    <h4 class="card-title">Cabs Markup List</h4>
    <table class="table table-borderless table-striped table-hover" matSort>
            <thead>
                <tr>
                    <th scope="col" class="text-center" *ngFor="let header of displayColumn;">
                        {{header.value }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="noData">
                    <td colspan="11">
                        <mat-spinner [diameter]="30" style="margin:0 auto;" mode="indeterminate"></mat-spinner>
                    </td>
                </tr>
                <tr *ngIf="!noData && !respData.length">
                    <td colspan="11">
                        <h4 class="text-muted text-center">
                            No Data Found!
                        </h4>
                    </td>
                </tr>
                <tr *ngFor="let data of respData; let i = index">
                    <td class="align-middle text-center">{{i+1}}.</td>
            
                    <td class="align-middle text-center">
                        {{data?.value}}-{{data?.value_type}}
                    </td>

                    <td class="align-middle text-center">
                        {{getSupplier(data?.supplier) === 'ZBAPINO00011' ? 'Hoppa' : 'Transfer CRS'}}
                    </td>
            
                    <td class="align-middle text-center">
                        <button class="btn btn-sm btn-primary" (click)="updateMarkup(data)">
                           
                                {{'Update'}}
                           
                        </button>&nbsp;
                        <button class="btn btn-sm btn-secondary" (click)="deleteMarkup(data)">
                            
                                {{'Delete'}}
                           
                        </button>
                    </td>
                </tr>
            </tbody>
    </table>
</div>
