<div class="row">
    <div class="col-md-12">
        <div class="card main-card mb-6">
            <div class="card-body">
                <ngb-tabset class="tabs-animated tabs-animated-shadow" (tabChange)="beforeChange($event)" #tabs>
                    <ngb-tab id="active_users">
                        <ng-template ngbTabTitle>
                            <span class="">{{'Active Users list'}}</span>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <app-active-b2c-user-list (toUpdate)="triggerTab($event)"></app-active-b2c-user-list>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab id="inactive_users">
                        <ng-template ngbTabTitle>
                            <span class="">{{'In Active User list'}}</span>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <app-inactive-b2c-user-list (toUpdate)="triggerTab($event)"></app-inactive-b2c-user-list>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab id="logged_users">
                        <ng-template ngbTabTitle>
                            <span class="">{{'Logged in User list'}}</span>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <app-loggedin-b2c-user-list (toUpdate)="triggerTab($event)"></app-loggedin-b2c-user-list>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab id="add_user">
                        <ng-template ngbTabTitle>
                            <span class="">{{'Add/Edit User'}}</span>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <app-b2cuser-add-edit (someEvent)="triggerTab($event)" >
                            	<!-- [userOne]="userData" -->
                            </app-b2cuser-add-edit>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>