<div class="col-12 revenue-finance-top-sec mt-3 pb-3 pt-3">

    <!-- Booking Operations -->
    <div class="booking-operations-div">
        <div class="head-sect">
            <div class="row py-3 align-items-center">
                <div class="col-8 px-5">
                    <span class="f-17">Booking Operation</span>
                </div>

                <div class="col-4 d-flex justify-content-end pr-5">
                    <span class="f-17">></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Lead & Sales Funnel -->
    <div class="row">
        <div class="col-12 py-2">
            <span class="revenue-span">Lead & Sales Funnel</span>
        </div>

        <div class="col-12">
            <div class="row g-3">

                <!-- Enquiry Generated -->
                <div class="col-md-6">
                    <div class="head-sect py-3 px-3 ">
                        <div class="row">
                            <div class="col-8">
                                <span class="f-15">Enquiry Generated</span>
                            </div>

                            <div class="col-4 text-end">
                                <select class="b-none">
                                    <option>Today</option>
                                    <option>Last Day</option>
                                    <option>Last Week</option>
                                    <option>Last Month</option>
                                    <option>All</option>
                                </select>
                            </div>

                            <div class="col-12 mt-2">
                                <span>This is For Slider</span>
                            </div>

                            <div class="col-12 mt-2">
                                <span class="num-span">1000</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Booking Completed -->
                <div class="col-md-6">
                    <div class="head-sect py-3 px-3 ">
                        <div class="row">
                            <div class="col-8">
                                <span class="f-15">Booking Completed</span>
                            </div>

                            <div class="col-4 text-end">
                                <select class="b-none">
                                    <option>Today</option>
                                    <option>Last Day</option>
                                    <option>Last Week</option>
                                    <option>Last Month</option>
                                    <option>All</option>
                                </select>
                            </div>

                            <div class="col-12 mt-2">
                                <span>This is For Slider</span>
                            </div>

                            <div class="col-12 mt-2">
                                <span class="num-span">1000</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>