<div class="card adminInner">
    <div class="card-header mb-3">
       <h5>Tax Type</h5> 
    </div>
    <form [formGroup]="hotelTypeForm" (ngSubmit)="handleValidSubmit()" class="needs-validation btop pt-0" novalidate>
    
            <div class="card-body pl-0">
                <fieldset form="user">
                    <div class="row">
                        <div class="col-sm-3 pr-0">
                            <div class="form-group">
                        <label class="control-label" for="tax">
                            View
                            <span class="text-danger">*</span>
                        </label>
                        <div class="">
                            <input value="" formControlName="views" type="text" placeholder="View name"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.view.errors }"
                                required />
                        </div>
                        <div *ngIf="submitted && f.view.errors" class="invalid-feedback">
                            <div *ngIf="f.view.errors.required">Hotel Type Name is required</div>
                        </div>
                    </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="hotel_type_name">
                                    Status
                                    <span class="text-danger">*</span>
                                </label>
                                <span title="Slide for Active/Deactive">
                                    <mat-slide-toggle class="example-margin" formControlName="status"
                                        [color]="''">
                                    </mat-slide-toggle>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3 pl-0">
                            <div class="form-group">
                                <div class="btncontainer">
                                    <button type="submit" id="user_submit" class=" btn btn-primary">Save</button> &nbsp; &nbsp;
                                    <button type="reset" id="user_reset" class=" btn btn-secondary"
                                        (click)="resetFrom()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </fieldset>
                
            </div>
        
    </form>
</div>

