<div>
  <ul
    ngbNav
    #tabs="ngbNav"
    [(activeId)]="activeIdString"
    (navChange)="beforeChange(false)"
    class="nav-tabs tabs-animated custom_tab">

    <li [ngbNavItem]="'add_update_b2bUser'">
      <a ngbNavLink>Create Supplier</a>
      <ng-template ngbNavContent>
        <app-create-supplier
          (b2bUserUpdate)="triggerTab($event)">
        </app-create-supplier>
      </ng-template>
    </li>

    <li [ngbNavItem]="'supplier_list'">
      <a ngbNavLink>Supplier List</a>
      <ng-template ngbNavContent>
        <app-supplier-inactive-list
          (b2bUserUpdate)="triggerTab($event)">
        </app-supplier-inactive-list>
      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="tabs" class="mt-3"></div>
</div>