<div class="">
    <div class="">
        <ul
            ngbNav
            #tabs="ngbNav"
            class="nav-tabs tabs-animated custom_tab"
            [activeId]="activeIdString"
            (navChange)="beforeChange(false)"
        >
            <li [ngbNavItem]="'add_update_b2bUser'">
                <a ngbNavLink>
                    <span *ngIf="supplier_type != 'DMC'">Create B2B</span>
                    <span *ngIf="supplier_type == 'DMC'">Create DMC</span>
                </a>
                <ng-template ngbNavContent>
                    <app-manage-active-create-b2-b
                        (b2bUserUpdate)="triggerTab($event)">
                    </app-manage-active-create-b2-b>
                </ng-template>
            </li>

            <li [ngbNavItem]="'b2cUsers_list'">
                <a ngbNavLink>
                    <span *ngIf="supplier_type != 'DMC'">Agents List</span>
                    <span *ngIf="supplier_type == 'DMC'">DMC List</span>
                </a>
                <ng-template ngbNavContent>
                    <app-agent-new-listing
                        (b2bUserUpdate)="triggerTab($event)">
                    </app-agent-new-listing>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="tabs"></div>
    </div>
</div>