<div class="card adminInner px-4">
    <div class="card-header mb-3">
        <h5>Wellness Price</h5>
    </div>


    <ul ngbNav #tabs="ngbNav" class="tabs-animated custom_tab crs-tab-ui" [(activeId)]="activeIdString" (navChange)="onTabSelected($event)">


        <li [ngbNavItem]="'list_package_rate'">

            <a ngbNavLink>
                <span>Price List</span>
            </a>

            <ng-template ngbNavContent>
                <div class="wrapper1" id="notifications-list" (scroll)="scrollTwo.scrollLeft = scrollOne.scrollLeft"
                    #scrollOne>
                    <div class="div1"></div>
                </div>

                <div class="wrapper2" #scrollTwo (scroll)="scrollOne.scrollLeft = scrollTwo.scrollLeft">
                    <div class="div2 invisible-scrollbar">

                        <div class="table-respons">
                            <table class="table table-borderless table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-left text-nowrap">Sl. No</th>
                                        <th scope="col" class="text-left text-nowrap">Start Date</th>
                                        <th scope="col" class="text-left text-nowrap">End Date</th>
                                        <!-- <th scope="col" class="text-left text-nowrap">Package Type</th> -->
                                        <!-- <th scope="col" class="text-left text-nowrap">Duration</th> -->
                                        <!-- <th scope="col" class="text-left text-nowrap">No. Of Slots</th> -->
                                        <th scope="col" class="text-left text-nowrap">Action</th>
                                    </tr>

                                </thead>
                                <tr *ngIf="!packagePriceList?.length">
                                    <td colspan="12">
                                        <h4 class="text-muted text-center">
                                            No Data Found!
                                        </h4>
                                    </td>
                                </tr>
                                <tbody>

                                    <tr *ngFor="let wellness of packagePriceList; let i = index" class="cursor-pointer">
                                        <td class="text-left">{{ i + 1 }}</td>
                                        <!-- <td>
                                            <label class="switch">
                                                <input type="checkbox" [checked]="wellness.status">
                                                <span class="slider round"></span>
                                            </label>
                                        </td> -->
                                        <td class="text-left">{{ wellness.from_date| date:'dd-MM-yyyy' }}</td>
                                        <td class="text-left address-col">{{ wellness.to_date| date:'dd-MM-yyyy' }}</td>
                                        <!-- <td class="text-left">{{ (wellness.package_id) }}</td> -->
                                        <!-- <td class="text-left address-col">{{ wellness.block_slots }}</td> -->
                                        <!-- <td class="text-left">{{ wellness.tax_name }}</td> -->
                                        

                                        <td class="text-left">
                                            <a title="Edit Price" class="p-1 text-primary"
                                                (click)="updatePackageList(wellness)"><i
                                                    class="fas fa-pencil-alt"></i></a>
                                            
                                            <button class="p-1 text-primarys"
                                                (click)="deletePriceList(wellness.price_id)"><a title="Delete"><i
                                                        class="fa fa-trash"></i></a></button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-template>

        </li>
        <li [ngbNavItem]="'add_package_rate'">

            <a ngbNavLink>
                <span>Add/ Edit Price</span>
            </a>

            <ng-template ngbNavContent>
            <div class="card adminInner">

    <div class="card-header mb-4">
        <h5>Add Price</h5>
    </div>

    <form
    [formGroup]="packageRateForm"
    class="needs-validation pt-3"
    novalidate
    (ngSubmit)="onSubmit()">

    <div class="row">

        <!-- Start Date -->
        <div class="col-sm-6 mb-3">

            <label>
                Start Date
                <span class="text-danger">*</span>
            </label>

            <span class="date btn btn-success"
                style="position:absolute; bottom:7px; right:22px;">

                <i class="fa fa-calendar"></i>

            </span>

            <input
                type="text"
                formControlName="from_date"
                class="form-control"
                bsDatepicker
                readonly
                [bsConfig]="bsDateConf"
                [isOpen]="isOpenFromDate"
                [minDate]="minDate"
                (ngModelChange)="onCheckIn($event)"
                [ngClass]="{
                    'is-invalid':
                    submittedRoomPrice &&
                    packageRateForm.get('from_date')?.errors
                }">

            <div
                *ngIf="submittedRoomPrice &&
                packageRateForm.get('from_date')?.errors"
                class="invalid-feedback d-block">

                Start Date is required

            </div>

        </div>


        <!-- End Date -->
        <div class="col-sm-6 mb-3">

            <label>
                End Date
                <span class="text-danger">*</span>
            </label>

            <span class="date btn btn-success"
                style="position:absolute; bottom:7px; right:22px;">

                <i class="fa fa-calendar"></i>

            </span>

            <input
                type="text"
                formControlName="to_date"
                class="form-control"
                bsDatepicker
                readonly
                [bsConfig]="bsDateConf"
                [minDate]="setMinDate"
                [isOpen]="isOpenToDate"
                [ngClass]="{
                    'is-invalid':
                    submittedRoomPrice &&
                    packageRateForm.get('to_date')?.errors
                }">

            <div
                *ngIf="submittedRoomPrice &&
                packageRateForm.get('to_date')?.errors"
                class="invalid-feedback d-block">

                End Date is required

            </div>

        </div>


        <!-- Non Refundable -->
        <div
            class="col-sm-6 mb-3"
            *ngIf="packageRateForm.get('is_refundable')?.value === true">

            <label>
                Non Refundable Discount
                <span class="text-danger">*</span>
            </label>

            <input
                type="number"
                formControlName="non_refundable_discount"
                class="form-control"
                [ngClass]="{
                    'is-invalid':
                    submittedRoomPrice &&
                    packageRateForm.get('non_refundable_discount')?.errors
                }">

            <div
                *ngIf="submittedRoomPrice &&
                packageRateForm.get('non_refundable_discount')?.errors"
                class="invalid-feedback d-block">

                <div *ngIf="packageRateForm.get('non_refundable_discount')?.errors?.required">
                    Discount is required
                </div>

                <div *ngIf="packageRateForm.get('non_refundable_discount')?.errors?.min">
                    Discount should be greater than 0
                </div>

            </div>

        </div>


        <!-- Refundable -->
        <div class="col-sm-6 mb-3">

            <div class="col-sm-12 position-relative form-check d-flex">

                <label class="form-check-label">

                    <input
                        type="radio"
                        formControlName="is_refundable"
                        [value]="true"
                        class="form-check-input"
                        (change)="onRefundableChange($event)">

                    Refundable

                </label>

                <label class="form-check-label pl-4">

                    <input
                        type="radio"
                        formControlName="is_refundable"
                        [value]="false"
                        class="form-check-input"
                        (change)="onRefundableChange($event)">

                    Non-Refundable

                </label>

            </div>

        </div>


        <!-- Cancellation -->
        <div
            class="col-md-6 p-0 mb-3"
            *ngIf="packageRateForm.get('is_refundable')?.value === true">
        <div class="col-sm-12">
                        <label>Cancellatoin Policies</label>
                    </div>
            <div formArrayName="wellness_package_cancellation_policy">

                <div
                    *ngFor="let segment of cancellationPolicies.controls; let i=index"
                    [formGroupName]="i">

                    <div class="col-sm-12 mb-3">

                        <label>
                            Refund Before Days
                            <span class="text-danger">*</span>
                        </label>

                        <input
                            type="number"
                            formControlName="date_from"
                            class="form-control">

                    </div>

                    
                    <div class="col-sm-12 mb-3">

                        <label>
                            Cancellation Charge
                            <span class="text-danger">*</span>
                        </label>

                        <div class="d-flex align-items-center">

                            <label>

                                <input
                                    type="radio"
                                    value="Amount"
                                    formControlName="charge_type">

                                Amount(+)

                            </label>

                            <label class="ml-4">

                                <input
                                    type="radio"
                                    value="Percentage"
                                    formControlName="charge_type">

                                Percentage(%)

                            </label>

                            <input
                                type="number"
                                formControlName="charge"
                                class="form-control ml-3">

                        </div>

                    </div>


                    <div class="col-sm-12 mb-2">

                        <button
                            type="button"
                            class="btn btn-danger"
                            (click)="removeCancellationPolicy(i)">

                            Remove

                        </button>

                    </div>

                </div>

            </div>


            <button
                type="button"
                class="btn btn-primary mx-2"
                (click)="addCancellationPolicy()">

                Add

            </button>

        </div>

        <div
            class="col-md-12 mt-3"
            
            formGroupName="duration_stay_discount">

            <div class="row">

                <div class="col-md-4">

                    <label>
                        Days
                        <span class="text-danger">*</span>
                    </label>

                    <input
                        type="number"
                        formControlName="days"
                        class="form-control">

                </div>


                <div class="col-md-4">

                    <label>
                        Discount Value
                        <span class="text-danger">*</span>
                    </label>

                    <input
                        type="number"
                        formControlName="discount_value"
                        class="form-control">

                </div>


                <div class="col-md-4 mt-4">

                    <div class="form-check">

                        <input
                            type="checkbox"
                            formControlName="cancellable"
                            class="form-check-input">

                        <label class="form-check-label">

                            Cancellable

                        </label>

                    </div>

                </div>

            </div>

        </div>
        <!-- Time Line -->

        <div class="card-header col-12 mr-2 mt-2">
            <h5>Timeline</h5>
        </div>

        <div
            class="col-md-12"
            formArrayName="timeline">

            <div
                class="row mb-3"
                *ngFor="let item of timeline.controls; let i=index"
                [formGroupName]="i">


                <!-- Package Type -->
                <div class="col-md-4">

                    <label>Time</label>

                    <input
                        formControlName="time"
                        class="form-control">

                    <div
                        *ngIf="submittedRoomPrice &&
                        item.get('time')?.errors"
                        class="invalid-feedback d-block">

                        Time is required

                    </div>

                </div>


                <!-- Duration -->
                <div class="col-md-4">

                    <label>Title</label>

                    <input
                        formControlName="title"
                        class="form-control">

                    <div
                        *ngIf="submittedRoomPrice &&
                        item.get('title')?.errors"
                        class="invalid-feedback d-block">

                        Title is required

                    </div>

                </div>


                <!-- Adult -->
                <div class="col-md-4">

                    <label>Description</label>

                    <input
                        type="text"
                        class="form-control"
                        formControlName="description">

                    <div
                        *ngIf="submittedRoomPrice &&
                        item.get('description')?.errors"
                        class="invalid-feedback d-block">

                        Description is required

                    </div>

                </div>



                <div
                    class="col-md-1 mt-4"
                    *ngIf="timeline.length > 1">

                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removeTimeLine(i)">

                        Remove

                    </button>

                </div>

            </div>


            <button
                type="button"
                class="btn btn-primary"
                (click)="addTimeLine()">

                Add Timeline

            </button>

        </div>

        <!-- Prices -->
        <div class="col-md-12 mt-4">

            <h5>Prices</h5>

        </div>


        <div
            class="col-md-12"
            formArrayName="prices">

            <div
                class="row mb-3"
                *ngFor="let item of prices.controls; let i=index"
                [formGroupName]="i">


                <!-- Package Type -->
                <div class="col-md-3">

                    <label>Package Type</label>

                    <select
                        formControlName="package_type"
                        class="form-control">

                        <option value="">Select</option>

                        <option
                            *ngFor="let p of packageTypeList"
                            [ngValue]="p.name">

                            {{p.name}}

                        </option>

                    </select>

                    <div
                        *ngIf="submittedRoomPrice &&
                        item.get('package_type')?.errors"
                        class="invalid-feedback d-block">

                        Package Type is required

                    </div>

                </div>


                <!-- Duration -->
                <div class="col-md-2">

                    <label>Duration</label>

                    <select
                        formControlName="duration_days"
                        class="form-control">

                        <option value="">Select</option>

                        <option
                            *ngFor="let d of durationList"
                            [ngValue]="d">

                            {{d}}

                        </option>

                    </select>

                    <div
                        *ngIf="submittedRoomPrice &&
                        item.get('duration_days')?.errors"
                        class="invalid-feedback d-block">

                        Duration is required

                    </div>

                </div>


                <!-- Adult -->
                <div class="col-md-2">

                    <label>Adult Price</label>

                    <input
                        type="number"
                        class="form-control"
                        formControlName="adult_price">

                    <div
                        *ngIf="submittedRoomPrice &&
                        item.get('adult_price')?.errors"
                        class="invalid-feedback d-block">

                        Adult Price is required

                    </div>

                </div>


                <!-- Child -->
                <div class="col-md-2">

                    <label>Child Price</label>

                    <input
                        type="number"
                        class="form-control"
                        formControlName="child_price">

                    <div
                        *ngIf="submittedRoomPrice &&
                        item.get('child_price')?.errors"
                        class="invalid-feedback d-block">

                        Child Price is required

                    </div>

                </div>


                <!-- Slots -->
                <div class="col-md-2">

                    <label>No Of Slots</label>

                    <input
                        type="number"
                        class="form-control"
                        formControlName="no_of_slots">

                    <div
                        *ngIf="submittedRoomPrice &&
                        item.get('no_of_slots')?.errors"
                        class="invalid-feedback d-block">

                        Slots is required

                    </div>

                </div>


                <div
                    class="col-md-1 mt-4"
                    *ngIf="prices.length > 1">

                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removePrice(i)">

                        <i class="fa fa-trash"></i>

                    </button>

                </div>

            </div>


            <button
                type="button"
                class="btn btn-primary"
                (click)="addPrice()">

                Add Price

            </button>

        </div>

        <div class="col-md-12 mt-2 mb-2">
            <label>
                Inclusions
            </label>

            <ckeditor type="text" formControlName="inclusions" style="height: auto;"
                        ></ckeditor>
        </div>

        <div class="col-md-12 mt-2 mb-2">
            <label>
                Exclusions
            </label>

            <ckeditor type="text" formControlName="exclusions" style="height: auto;"
                        ></ckeditor>
        </div>

        <!-- Stay Required -->
        <div class="col-md-12 mt-4">

            <div class="form-check">

                <input
                    type="checkbox"
                    formControlName="isStayRequired"
                    class="form-check-input">

                <label class="form-check-label">

                    Stay Required

                </label>

            </div>

        </div>

        <!-- Status -->
        <div class="col-md-4 mb-3">

            <label>
                Status
                <span class="text-danger">*</span>
            </label>

            <label class="switch">

                <input
                    type="checkbox"
                    formControlName="status">

                <span class="slider round"></span>

            </label>

        </div>


    </div>


    <!-- Buttons -->
    <div class="btncontainer">

        <button
            type="submit"
            class="btn btn-primary">

            Save

        </button>

        &nbsp;

        <button
            type="button"
            class="btn btn-secondary">

            Back

        </button>

    </div>

</form>
    </div>

            </ng-template>

        </li>

    </ul>

    <div [ngbNavOutlet]="tabs"></div>

</div>