<ul
  ngbNav
  #tabs="ngbNav"
  class="tabs-animated custom_tab"
  (navChange)="beforeChange($event)">

  <li [ngbNavItem]="'list_room_types'">

    <a ngbNavLink>
      {{ 'List Room Types' }}
    </a>

    <ng-template ngbNavContent>
      <app-room-type-list
        (toUpdate)="triggerTab($event)">
      </app-room-type-list>
    </ng-template>

  </li>

  <li [ngbNavItem]="'add_room_type'">

    <a ngbNavLink>
      {{ 'Add/Edit Room Type' }}
    </a>

    <ng-template ngbNavContent>
      <app-add-update-room-type
        (someEvent)="triggerTab($event)"
        [roomTypeOne]="roomTypeData">
      </app-add-update-room-type>
    </ng-template>

  </li>

</ul>

<div [ngbNavOutlet]="tabs"></div>